<app-loading *ngIf="loader"></app-loading>
<div class="section no-padding">
    <div class="row     col s12 no-mar-bot">
        <div class="section no-mar-bot">
            <div class="col s12 m12 l12">
                <h1 class="title">Asignación de visitas</h1>
            </div>
        </div>
    </div>
</div>

<div class="card-panel row layout-card-gray-2">

    <div class="row no-mar-bot">
        <form [formGroup]="agenciaForm" noValidate (ngSubmit)="buscarAsignaciones()">
            <div class="col s12">
                <div class="input-field input-field-common col l4 m6 s12">
                    <label class="label active" for="agencia">Agencia</label>
                    <select name="agencia" id="select_agencia" formControlName="codigoagencia" (change)="agenciaSeleccionada2($event.target)">
                        <option [ngValue]="0">--Seleccione--</option>
                        <option *ngFor="let agencia of agencias" [ngValue]="agencia.codigo">{{agencia.oficina}}</option>
                    </select>
                    <div style="color: red; font-size: small;" *ngIf="formSubmitted && agenciaForm.get('codigoagencia')?.errors">
                        Seleccione Agencia
                    </div>
                </div>

                <div class="input-field input-field-common col l6 m12 s12">
                    <label class="label active" for="asociacion">Asociación</label>
                    <select name="asociacion" id="select_asociacion" formControlName="codigoasociacion" (change)="asociacionSeleccionada()">
                        <option [ngValue]="0">--Seleccione--</option>
                        <option *ngFor="let asociacion of asociaciones" [ngValue]="asociacion.codigo">
                            {{asociacion.valor}}</option>
                    </select>
                    <div style="color: red; font-size: small;" *ngIf="formSubmitted && agenciaForm.get('codigoasociacion')?.errors">
                        Seleccione Asociación
                    </div>
                </div>

                <div class="col l2 m4 s6">
                    <button class="btn waves-effect waves-light btn-default-resize" type="submit"
                        style="margin-top:23px;">
                        <span>Buscar</span>
                        <i class="material-icons">search</i>
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>

<div class="card-panel row layout-card-gray-2">

    <div class="row no-mar-bot">
        <form novalidate [formGroup]="asignacionForm">

            <div class="col s12">

                <div class="input-field input-field-common col l4 m6 s12">
                    <label class="label active" for="funcionario">Funcionario</label>
                    <select name="funcionario" id="select_funcionario" formControlName="codigofuncionario">
                        <option [ngValue]="0">--Seleccione--</option>
                        <option *ngFor="let funcionario of funcionarios" [ngValue]="funcionario.usuario">{{funcionario.nombre}}</option>
                    </select>
                    <div style="color: red; font-size: small;" *ngIf="formSubmitted && asignacionForm.get('codigofuncionario')?.errors">
                        Seleccione Funcionario
                    </div>
                </div>

                <div class="input-field input-field-common col l4 m6 s12">
                    <label class="label active" for="tipovisita">Tipo de visita</label>
                    <select name="tipovisita" id="select_tipovisita" formControlName="tipovisita">
                        <option *ngFor="let tipovisita of tipovisitas" [ngValue]="tipovisita.codigoInterno">
                            {{tipovisita.nombreParametro}}</option>
                    </select>
                    <div style="color: red; font-size: small;" *ngIf="formSubmitted && asignacionForm.get('tipovisita')?.errors">
                        Seleccione Tipo de Visita
                    </div>
                </div>

                <div class="input-field input-field-common col l4 m6 s12">
                    <label class="label active" for="profesional">Profesional técnico</label>
                    <select name="profesional" id="select_profesional" formControlName="codigoprofesional">
                        <option [ngValue]="0">--Seleccione--</option>
                        <option *ngFor="let profesional of profesionales; let i = index" [ngValue]="i">
                            {{profesional.primerNombre}} {{profesional.segundoNombre}} {{profesional.apellidoPaterno}} {{profesional.apellidoMaterno}}
                        </option>
                    </select>
                    <div style="color: red; font-size: small;" *ngIf="formSubmitted && asignacionForm.get('codigoprofesional')?.errors">
                        Seleccione Profesional Técnico
                    </div>
                </div>

            </div>
        </form>
            
    </div>

</div>

<div class="card-panel row layout-card-gray-2">
    <div class="row" id="clientes-grid">
        <!-- ******** inicio paginación ************ -->
        <mat-paginator 
            [pageSizeOptions]="[5, 10]"
            showFirstLastButtons>
        </mat-paginator>
        <!-- ******** fin paginación ************ -->

        <table mat-table [dataSource]="listaClientes">
            <ng-container matColumnDef="documento">
                <th mat-header-cell *matHeaderCellDef> Num. Documento</th>
                <td mat-cell *matCellDef="let element"> {{element.documento}} </td>
            </ng-container>
            <ng-container matColumnDef="nombres">
                <th mat-header-cell *matHeaderCellDef> Nombres </th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
            <ng-container matColumnDef="ultimoFiltro">
                <th mat-header-cell *matHeaderCellDef> Último filtro </th>
                <td mat-cell *matCellDef="let element"> {{ element.fecha | ultimoFiltro: 'Fecha' }} {{ element.hora | ultimoFiltro: 'Hora' }} </td>
            </ng-container>
            <ng-container matColumnDef="resultado">
                <th mat-header-cell *matHeaderCellDef> Resultado </th>
                <td mat-cell *matCellDef="let element"> {{ element.resultado == 2 ? "Rechazado" : "Aprobado" }} </td>
            </ng-container>
            <ng-container matColumnDef="seleccionar">
                <th mat-header-cell *matHeaderCellDef> Seleccionar </th>
                <td mat-cell *matCellDef="let element; let i = index">
                    <!-- <mat-checkbox color="primary" [checked]="element.seleccionar" (change)="seleccionaCliente(i, $event)"></mat-checkbox> -->
                    <p style="margin-left: 20px;">
                        <label>
                          <input type="checkbox"  class="filled-in" [checked]="element.seleccionar" (change)="seleccionaCliente(i, $event)" />
                          <span></span>
                        </label>
                      </p>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>
        </table>
    </div>

    <div class="row">
        <div class="col l3 m6 s12 offset-l9 offset-m6">
            <button class="btn waves-effect waves-light btn-default-resize" (click)="asignarClientes()"
                style="margin-top:23px;">
                <span>Grabar asignación</span>
                <i class="material-icons">save</i>
            </button>
        </div>
    </div>
</div>

<app-msg-error></app-msg-error>
<app-msg-success [descripcion1]="msjSuccess"></app-msg-success>