﻿@{
<div class="row">
    <div class="col-sm-4">
        <div class="well">
            <table id="datatable-Resultado-Filtro" class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Calificaci&oacute;n</th>
                        <th>N&uacute;mero</th>
                        <th class="text-align-center">Porcentaje</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="javascript:void(0);">Normal</a></td>
                        <td id="tdCantidadNormal" class="text-align-right">0</td>
                        <td id="tdPorcentNormal" class="text-align-right">
                            0 %
                        </td>
                    </tr>
                    <tr>
                        <td><a href="javascript:void(0);">CPP</a></td>
                        <td id="tdCantidadCPP" class="text-align-right">0</td>
                        <td id="tdPorcentCPP" class="text-align-right">
                            0 %
                        </td>
                    </tr>
                    <tr>
                        <td><a href="javascript:void(0);">Deficiente</a></td>
                        <td id="tdCantidadDeficiente" class="text-align-right">0</td>
                        <td id="tdPorcentDeficiente" class="text-align-right">
                            0 %
                        </td>
                    </tr>
                    <tr>
                        <td><a href="javascript:void(0);">Dudoso</a></td>
                        <td id="tdCantidadDudoso" class="text-align-right">0</td>
                        <td id="tdPorcentDudoso" class="text-align-right">
                            0 %
                        </td>
                    </tr>
                    <tr>
                        <td><a href="javascript:void(0);">P&eacute;rdida</a></td>
                        <td id="tdCantidadPerdida" class="text-align-right">0</td>
                        <td id="tdPorcentPerdida" class="text-align-right">
                            0 %
                        </td>
                    </tr>
                    <tr>
                        <td><a href="javascript:void(0);">Sin Historial</a></td>
                        <td id="tdCantidadSinHistorial" class="text-align-right">0</td>
                        <td id="tdPorcentSinHistorial" class="text-align-right">
                            0 %
                        </td>
                    </tr>
                </tbody>
                <foot>
                    <tr>
                        <td>TOTAL :</td>
                        <td id="tdCantidadTotal" class="text-align-right"></td>
                        <td id="tdPorcentTotal"></td>
                    </tr>
                </foot>
            </table>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="well">
            <div class="row">
                <div class="col-sm-3">
                    <h6>TOTAL CALIFICACIONES SBS</h6>
                </div>
                <div class="row col-sm-9">
                    <div class="row">
                        <div class="col-sm-4">
                            <span class="badge" style="background-color:#a9dfbf"> </span> NORMAL &nbsp &nbsp
                        </div>
                        <div class="col-sm-4">
                            <span class="badge" style="background-color:#7dcea0"> </span> CON PROBLEMAS POTENCIALES &nbsp &nbsp
                        </div>
                        <div class="col-sm-4">
                            <span class="badge" style="background-color:#52be80"> </span> DEFICIENTE &nbsp &nbsp <br /><br />
                        </div>
                    
                        <div class="col-sm-4">
                            <span class="badge" style="background-color:#27ae60"> </span> DUDOSO &nbsp &nbsp
                        </div>
                        <div class="col-sm-4">
                            <span class="badge" style="background-color:#1e8449"> </span> P&Eacute;RDIDA &nbsp &nbsp
                        </div>
                        <div class="col-sm-4">
                            <span class="badge" style="background-color:#145a32"> </span> SIN HISTORIAL CREDITICIO &nbsp &nbsp
                        </div>
                    </div>
                </div>
            </div>

            <div class="widget-body no-padding">
                <div id="bar-chart-h" class="chart"></div>
            </div>
        </div>

    </div>
</div>
}
