﻿

@{
    ViewBag.Title = "Nuevo Prospecto";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-edit fa-fw "></i>
                Padrón
                <span>
                    >
                    Nuevo Padrón
                </span>
            </h1>
        </div>
    </div>

    <!-- widget grid -->
    <div id="divNuevoGrupo">
        <section id="widget-grid" class="">
            <!-- START ROW -->
            <div class="row">
                <!-- NEW COL START -->
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">
                        <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                        -->
                        <header>
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                            <h2>Datos de Padrón </h2>
                        </header>
                        <!-- widget div-->
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->

                            <div class="widget-body">
                                <div class="row col-sm-12">
                                    <h3><strong>Ingrese Datos para Padr&oacute;n</strong></h3>
                                    <hr class="simple">
                                </div>


                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label> Nombre Padron </label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-group fa-lg"></i></span>
                                                <input class="form-control input-lg" placeholder="Nombre Padron" type="text" name="TxtNombreJunta" style="text-transform:uppercase;" maxlength="120" id="TxtNombreJunta">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label> Organizaci&oacute;n  de productores </label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-institution fa-lg"></i></span>
                                                <select id="ddlJuntaRegante" name="ddlJuntaRegante" class="form-control input-lg">
                                                    <option value="0" selected="selected" disabled="disabled">[Seleccione Organizaci&oacute;n ]</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label> Comisi&oacute;n </label>
                                            <div class="input-group">
                                                <span class="input-group-addon"></span>
                                                <select id="ddlComisionRegante" name="ddlComisionRegante" class="form-control input-lg">
                                                    <option value="0" selected="selected" disabled="disabled">[Seleccione Comision]</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-2">
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <div class="smart-form">
                                                <label class="label">Adjunte Archivo excel</label>
                                                <label for="file" class="input input-file">
                                                    <div class="button">
                                                        <input type="file" name="file" id="fileExcel" onchange="this.parentNode.nextSibling.value = this.value"
                                                               accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">Abrir Informe
                                                    </div><input type="text" placeholder="Cargar Archivo Excel" readonly="" class="">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br />
                                <center>
                                    <a id="btnCrearGrupo" class="btn btn-success btn-lg"><i class="fa fa-folder-o"></i> Registrar Padron</a>

                                </center>
                                <br />
                                <div class="alert alert-warning fade in div-AvisoComision" hidden="hidden">
                                    <i class="fa-fw fa fa-warning"></i>
                                    <strong>Atenci&oacute;n </strong> Ya existe un padrón registrado para la comisión seleccionada, si contin&uacute;a <strong>Reemplazar&aacute; al anterior</strong>
                                </div>
                                <!-- lista validacion -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="jarviswidget" id="wid-id-grid" data-widget-editbutton="false" data-widget-deletebutton="false">
                                            <header>
                                                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                                <h2>Validaciones</h2>
                                            </header>

                                            <div class="row">

                                                <!-- widget edit box -->
                                                <div class="jarviswidget-editbox">
                                                    <!-- This area used as dropdown edit box -->
                                                </div>
                                                <!-- end widget edit box -->
                                                <!-- widget content -->
                                                <div class="widget-body no-padding">
                                                    <table id="datatable_tableErrors" class="table table-striped table-bordered table-hover" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th data-class="expand">Fila</th>
                                                                <th data-class="expand">Columna</th>
                                                                <th data-class="expand">Valor Observado</th>
                                                                <th data-class="expand">Mensaje</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                                <!-- end widget content -->

                                            </div>

                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>

                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </article>
            </div>
            <!-- end widget -->
            <!-- END COL -->
        </section>
    </div>

    <div id="divResultados" class="row" hidden="hidden">
        <div class="row">
            <h1 class="text-center text-success"><strong><i class="fa fa-check fa-lg"></i> Operaci&oacute;n Completada </strong></h1>
            <br />
        </div>
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
            <div class="well">
                <table id="datatable_Resultado" class="table table-forum">
                    <thead>
                        <tr>
                            <th colspan="2">Resultados</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center" style="width: 40px;"><i class="fa fa-tags fa-2x text-muted"></i></td>
                            <td>
                                <h4>
                                    <a id="aNombreGrupo"></a>
                                    <small>Código y Nombre del Padron</small>
                                </h4>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" style="width: 40px;"><i class="fa fa-group fa-2x text-muted"></i></td>
                            <td>
                                <h4>
                                    <a id="aTotalRegistros"></a>
                                    <small>Total de Integrantes</small>
                                </h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->

    <script src="@Url.Content("~/Scripts/app/Padron/NuevoPadron.js")"></script>

    <script type="text/javascript">
        /* chart colors default */
        var $chrt_border_color = "#efefef";

        $(document).ready(function () {

            pageSetUp();
            //Bootstrap Wizard Validations
            ListarJuntaRegantes();

            var $validator = $("#wizard-1").validate({

                rules: {
                    TxtNombreJunta: {
                        required: true
                    },
                    ddlJuntaRegante: {
                        required: true
                    },
                    ddlComisionRegante: {
                        required: true
                    }

                },

                messages: {
                    TxtNombreJunta: "Por favor Ingresar Nombre Agrupamiento",
                    ddlJuntaRegante: "Seleccione Organización de Productor",
                    ddlComisionRegante: "Ingrese Comision de Regante válida"

                },

                highlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                },
                errorElement: 'span',
                errorClass: 'help-block',
                errorPlacement: function (error, element) {
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

            $('#bootstrap-wizard-1').bootstrapWizard({
                'tabClass': 'form-wizard',
                'onNext': function (tab, navigation, index) {
                    var $valid = $("#wizard-1").valid();
                    if (!$valid) {
                        $validator.focusInvalid();
                        return false;
                    } else {
                        $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).addClass(
                            'complete');
                        $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).find('.step')
                            .html('<i class="fa fa-check"></i>');
                    }
                }
            });

            $("#spinner-decimal").spinner({
                step: 0.01,
                numberFormat: "n"
            });

        })

        //$("#prueba").click(function () {
        //    alert($("#TxtTasa").val());
        //})

    </script>
}