<div id="ptv-alert-ok" class="modal modal-s">
    <div class="modal-header">
        <i class="material-icons btn-close modal-action modal-close">close</i>
    </div>
    <div class="modal-content center-align modal-alert-content">
        <i class="material-icons medium icon-demo green-text">check_circle</i>
        <p class="center-align p-descripcion">{{ descripcion1 }}</p>
        <p class="center-align p-otradescripcion"></p>
    </div>
    <div class="modal-footer modal-alert-footer">
        <button class="modal-close btn waves-effect waves-light btn-default" >
            <span>OK</span>
        </button>
    </div>
</div>
