﻿
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-file-text-o"></i>
                Filtros
                <span>
                    >
                    Consultas
                </span>
            </h1>
        </div>
    </div>

    <section id="widget-grid" class="">
        <!-- row CONSULTA DE PADRON -->
        <div class="row" id="div-Consulta-PADRON">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- PARAMETROS BUSQUEDA -->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header role="heading">
                        <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                        <h2>Parametros B&uacute;squeda </h2>
                    </header>
                    <!-- widget div-->
                    <div class="widget-body">
                        <div class="smart-form">
                            <div id="div-errors"></div>
                            <form id="frm-Busqueda">
                                <fieldset>
                                    <div class="row">
                                        @{
                                            var usuario = Session["oUsuario"] as Agrobanco.PlataformaAgroperu.Domain.Models.Account.Usuario;

                                            <section class="col col-3">
                                                <label class="label">Agencia</label>
                                                <label class="select">
                                                    <select id="CboAgencia">
                                                        <option value="0" disabled="">[Seleccione]</option>
                                                        <option value="@usuario.CodigoAgencia" selected="">@usuario.NombreAgencia</option>
                                                    </select>
                                                    <i></i>
                                                </label>
                                            </section>

                                        }


                                    </div>
                                    <footer>
                                        <button type="button" class="btn btn-default" id="btnLimpiar">
                                            <i class="fa fa-eraser"></i> Limpiar
                                        </button>
                                        <button type="button" class="btn btn-default" id="btnBuscarFiltros">
                                            <i class="fa fa-search"></i> Buscar
                                        </button>
                                    </footer>
                                </fieldset>
                            </form>

                        </div>
                    </div>
                    <!-- end widget div -->
                </div>

                <!-- DATATABLE PROSPECTOS -->
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-Bandeja" data-widget-editbutton="false" data-widget-deletebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2> Lista de Filtros </h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <table id="datatable_FiltrosAgroperu" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>                               
                                    <tr>
                                        <th data-hide="phone">C&oacute;digo</th>
                                        <th>Descripci&oacute;n Filtro</th>
                                        <th data-hide="phone">Registros</th>
                                        <th>Fecha Creacion</th>
                                        <th>Usuario</th>
                                        <th>Descargar</th>

                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <br />
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>

            </article>
        </div>

    </section>

    <input type="hidden" name="hidCodAgencia" id="hidCodAgencia" value="@ViewBag.CodigoAgencia" />
    <input type="hidden" name="hidCodFuncionario" id="hidCodFuncionario" value="@ViewBag.CodigoFuncionario" />

</div>




@section pagespecific {    
    @Scripts.Render("~/scripts/FiltrosAgroperu")
}

