﻿<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-filter fa-fw "></i>
                Filtros
                <span>
                    >
                    Evaluar
                </span>
            </h1>
        </div>
    </div>

    <!-- widget grid -->
    <div id="div-Prospecto">
        <section id="widget-grid" class="">
            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">

                        <header>
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                            <h2> Datos </h2>
                        </header>

                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->

                            <div class="widget-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label class=""> Descripción Filtro </label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-envelope fa-lg fa-file-text"></i></span>
                                                <input class="form-control input-lg" placeholder="Descripción" type="text" name="TxtDescripcion" id="TxtDescripcion">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-6">
                                        <div class="smart-form">
                                            <label class="label">Adjunte Archivo excel</label>
                                            <label for="file" class="input input-file">
                                                <div class="button">
                                                    <input type="file" name="file" id="fileExcel" onchange="this.parentNode.nextSibling.value = this.value"
                                                           accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">Abrir Informe
                                                </div><input id="fileText" type="text" placeholder="Cargar Archivo Excel" readonly="">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <br /><br />
                                <div class="row">
                                    <center>
                                        <a id="btnFiltrarAgroperu" class="btn btn-success btn-lg"><i class="fa fa-filter"></i> Evaluar</a>
                                    </center>
                                </div>

                            </div>
                        </div>

                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="jarviswidget" id="wid-id-grid" data-widget-editbutton="false" data-widget-deletebutton="false">
                                <header>
                                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                    <h2>Validaciones</h2>
                                </header>

                                <div class="row">

                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <!-- This area used as dropdown edit box -->
                                    </div>
                                    <!-- end widget edit box -->
                                    <!-- widget content -->
                                    <div class="widget-body no-padding">
                                        <table id="datatable_ErrorsFiltros" class="table table-striped table-bordered table-hover" width="100%">
                                            <thead>
                                                <tr>
                                                    <th data-class="expand">Fila</th>
                                                    <th data-class="expand">Columna</th>
                                                    <th data-class="expand">Valor Observado</th>
                                                    <th data-class="expand">Mensaje</th>

                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <!-- end widget content -->

                                </div>

                            </div>
                        </div>
                    </div>


                </article>
            </div>

        </section>
    </div>

    <div id="divResultados" class="row" hidden="hidden">
        <div class="row">
            <h1 class="text-center text-success"><strong><i class="fa fa-check fa-lg"></i> Operaci&oacute;n Completada </strong></h1>
            <br />
        </div>
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
            @*<div class="well">
                <table id="datatable_Resultado" class="table table-forum">
                    <thead>
                        <tr>
                            <th colspan="2">Resultados</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center" style="width: 40px;"><i class="fa fa-tags fa-2x text-muted"></i></td>
                            <td>
                                <h4>
                                    <a id="aNombreFiltro"></a>
                                    <small>Descripci&oacute;n Filtro</small>
                                </h4>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" style="width: 40px;"><i class="fa fa-group fa-2x text-muted"></i></td>
                            <td>
                                <h4>
                                    <a id="aTotalRegistros"></a>
                                    <small>Total Registros</small>
                                </h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>*@
        </div>
    </div>

</div>


@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->
    @Scripts.Render("~/scripts/FiltrosAgroperu")

}

