﻿@{
    Layout = null;
}
@model System.Collections.Generic.List<Agrobanco.PlataformaAgroperu.Domain.Models.Georeferenciacion.FotoModel>

@*<div id="divFotosVinculadas" class="col-sm-12">*@

@{
    if (Model.Count == 0)
    {
        <div id="divVacioVin" style="display: block;" class="alert alert-info fade in">
            <i class="fa-fw fa fa-info"></i>
            <strong>Info!</strong> Sin fotos para mostrar.
        </div>
    }
    else
    {
        bool d = false;
        foreach (Agrobanco.PlataformaAgroperu.Domain.Models.Georeferenciacion.FotoModel foto in Model)
        {
            if (!foto.NroSolicitud.Equals("0"))
            {
                <div id="div_@foto.IdLaserFiche" class="superbox-list">
                    <img id="@foto.IdLaserFiche" panel="s2" src="data:image/jpg;base64,@foto.imgBase64" data-img="data:image/jpg;base64,@foto.imgBase64"
                         alt="Observ. :@foto.Observacion" title="@foto.ImgCod" class="superbox-img" id-foto="@foto.IdLaserFiche"
                         fecfoto="fecha foto: @foto.FechaFoto" latitud="Latitud:  @foto.Latitud" longitud="Longitud: @foto.Longitud">
                </div>
                d = true;
            }
        }
        if (!d)
        {
            <div id="divVacioVin" style="display: block;" class="alert alert-info fade in">
                <i class="fa-fw fa fa-info"></i>
                <strong>Info!</strong> Sin fotos para mostrar.
            </div>
        }
        else
        {
            <div id="divVacioVin" style="display: none;" class="alert alert-info fade in">
                <i class="fa-fw fa fa-info"></i>
                <strong>Info!</strong> Sin fotos para mostrar.
            </div>
        }
    }
}
