﻿
@using Agrobanco.PlataformaAgroperu.Web;
@model System.Collections.Generic.List<Agrobanco.PlataformaAgroperu.Domain.Models.Georeferenciacion.FotoModel>

<div id="content">
    <div class="row">
        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-home"></i>
                GEOREFERENCIACI&Oacute;N
                <span>
                    >
                    Consulta
                </span>
            </h1>
        </div>
        <!-- end col -->
        <!-- right side of the page with the sparkline graphs -->
        <!-- col -->
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
            <!-- sparks -->
            <ul id="sparks">
                <li class="sparks-info">
                    <h5> Cliente <span class="txt-color-greenDark"><i class="fa fa-user"></i>&nbsp; @ViewBag.Nombre </span></h5>
                </li>
                <li class="sparks-info">
                    <h5> Documento <span class="txt-color-greenDark"><i class="fa fa-credit-card"></i>&nbsp; @ViewBag.NumeroDocumento </span></h5>
                </li>
                <li class="sparks-info">
                    <h5> Solicitud <span class="txt-color-greenDark"><i class="fa fa-dollar"></i>&nbsp; @ViewBag.NumeroSolicitud </span></h5>
                </li>
            </ul>
            <!-- end sparks -->
        </div>
        <!-- end col -->
    </div>

    
    <div class="jarviswidget well" id="wid-id-3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
        <!-- widget options:
        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

        data-widget-colorbutton="false"
        data-widget-editbutton="false"
        data-widget-togglebutton="false"
        data-widget-deletebutton="false"
        data-widget-fullscreenbutton="false"
        data-widget-custombutton="false"
        data-widget-collapsed="true"
        data-widget-sortable="false"

        -->
        <header>
            <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
            <h2>Default Tabs with border </h2>
        </header>
        <!-- widget div-->
        <div>
            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->
            </div>
            <!-- end widget edit box -->
            <!-- widget content -->
            <div class="widget-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <h1 class="txt-color-blueDark">
                            <i class="fa-fw fa fa-picture-o"></i>
                            Galer&iacute;a Fotos <span>
                            </span>
                        </h1>
                    </div>


                </div>
                <hr class="simple">

                @{
                    if (Model != null)
                    {
                        <div class="row">
                            <article class="col-sm-12 col-md-12 col-lg-12">

                                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false"
                                        data-widget-attstyle="jarviswidget-color-blueLight">

                                    <header role="heading">
                                        <span class="widget-icon"> <i class="fa fa-picture-o"></i> </span>
                                        <h2> Fotos Vinculadas a la Solicitud </h2>
                                    </header>
                                    <!-- widget div-->
                                    <div role="content">
                                        <div class="row">
                                            <article class="col-sm-12 col-md-12 col-lg-12">
                                                <div id="divFotosVinculadas" class="superbox col-sm-12">
                                                    @{
                                                        if (Model.Count == 0)
                                                        {
                                                            <div id="divVacioLib" style="display:block;" class="alert alert-warning fade in">
                                                                <i class="fa-fw fa fa-warning"></i>
                                                                <strong>Aviso!</strong> Cliente no cuenta con fotos vinculadas a esta solicitud.
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div id="divVacioLib" style="display:none;" class="alert alert-info fade in">
                                                                <i class="fa-fw fa fa-info"></i>
                                                                <strong>Info!</strong> Sin fotos para mostrar.
                                                            </div>
                                                            foreach (Agrobanco.PlataformaAgroperu.Domain.Models.Georeferenciacion.FotoModel foto in Model)
                                                            {
                                                                <div id="div_@foto.IdLaserFiche" class="superbox-list">
                                                                    <img id="@foto.IdLaserFiche" src="data:image/jpg;base64,@foto.imgBase64" data-img="data:image/jpg;base64,@foto.imgBase64"
                                                                         alt="Observ. :@foto.Observacion" title="@foto.ImgCod" class="superbox-img" id-foto="@foto.IdLaserFiche"
                                                                         fecVin="Fecha Vinculacion: @foto.FechaVinculacion"
                                                                         panel="s1" fecfoto="fecha foto: @foto.FechaFoto" latitud="Latitud:  @foto.Latitud" longitud="Longitud: @foto.Longitud"
                                                                         data-latitud="@foto.Latitud" data-longitud="@foto.Longitud">
                                                                </div>
                                                            }
                                                        }

                                                    }
                                                </div>
                                                <!-- /SuperBox -->
                                                <div class="superbox-float"></div>
                                                <div class="superbox-show" style="height:300px; display: none"></div>
                                            </article>
                                        </div>
                                    </div>
                                    <!-- end widget div -->
                                </div>


                            </article>

                            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <!-- Widget ID (each widget will need unique ID)-->
                                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-deletebutton="false"
                                     data-widget-attstyle="jarviswidget-color-blueLight">

                                    <header role="heading">
                                        <span class="widget-icon"> <i class="fa fa-map-marker"></i> </span>
                                        <h2> Puntos Geograficos </h2>
                                    </header>
                                    <!-- widget div-->
                                    <div role="content">

                                        <div class="row">

                                            <article class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="row">
                                                    <article class="col-sm-12 col-md-12 col-lg-12">
                                                        <div class="widget-body">
                                                            <div id="map_canvas2" class="google_maps" style="height:600px"></div>
                                                        </div>
                                                    </article>
                                                </div>

                                            </article>

                                        </div>
                                    </div>
                                    <!-- end widget div -->
                                </div>
                                <!-- end widget -->
                            </article>

                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="text-center error-box">
                                            <h1 class="error-text-2 bounceInDown animated"> Servicio no disponible temporalmente <span class="particle particle--c"></span><span class="particle particle--a"></span><span class="particle particle--b"></span></h1>
                                            <h2 class="font-xl"><strong><i class="fa fa-fw fa-lock fa-lg text-warning"></i> Servidor no disponible </strong></h2>
                                            <br />
                                            <p class="lead">
                                                Lo Sentimos, la conexi&oacute;n  con el servicio de descarga de Documentos no est&aacute; disponible por el momento.
                                            </p>
                                            <p class="font-md">
                                                <b>Agrobanco - Plataforma de Evaluacion</b>
                                            </p>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                }

                <hr class="simple" />
            </div>
        </div>
                                <!-- end widget div -->
    </div>

</div>
<!-- END MAIN CONTENT -->
<div>
    <input type="hidden" name="hidNroSolicitud" id="hidNroSolicitud" value="@ViewBag.NumeroSolicitud" />
    <input type="hidden" name="hidNroDocumento" id="hidNroDocumento" value="@ViewBag.NumeroDocumento" />
</div>


<style>
    .error-text-2 {
        text-align: center;
        font-size: 300%;
        font-weight: bold;
        font-weight: 100;
        color: #333;
        line-height: 1;
        letter-spacing: -.05em;
        background-image: -webkit-linear-gradient(92deg,#333,#ed1c24);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .particle {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        background-color: #ed1c24;
        background-image: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.3) 75%,rgba(0,0,0,0));
        box-shadow: inset 0 0 1px 1px rgba(0,0,0,.25);
    }

    .particle--a {
        -webkit-animation: particle-a 1.4s infinite linear;
        -moz-animation: particle-a 1.4s infinite linear;
        -o-animation: particle-a 1.4s infinite linear;
        animation: particle-a 1.4s infinite linear;
    }

    .particle--b {
        -webkit-animation: particle-b 1.3s infinite linear;
        -moz-animation: particle-b 1.3s infinite linear;
        -o-animation: particle-b 1.3s infinite linear;
        animation: particle-b 1.3s infinite linear;
        background-color: #00A300;
    }

    .particle--c {
        -webkit-animation: particle-c 1.5s infinite linear;
        -moz-animation: particle-c 1.5s infinite linear;
        -o-animation: particle-c 1.5s infinite linear;
        animation: particle-c 1.5s infinite linear;
        background-color: #57889C;
    }

    @@-webkit-keyframes particle-a {
        0% {
            -webkit-transform: translate3D(-3rem,-3rem,0);
            z-index: 1;
            -webkit-animation-timing-function: ease-in-out;
        }

        25% {
            width: 1.5rem;
            height: 1.5rem;
        }

        50% {
            -webkit-transform: translate3D(4rem, 3rem, 0);
            opacity: 1;
            z-index: 1;
            -webkit-animation-timing-function: ease-in-out;
        }

        55% {
            z-index: -1;
        }

        75% {
            width: .75rem;
            height: .75rem;
            opacity: .5;
        }

        100% {
            -webkit-transform: translate3D(-3rem,-3rem,0);
            z-index: -1;
        }
    }

    @@-moz-keyframes particle-a {
        0% {
            -moz-transform: translate3D(-3rem,-3rem,0);
            z-index: 1;
            -moz-animation-timing-function: ease-in-out;
        }

        25% {
            width: 1.5rem;
            height: 1.5rem;
        }

        50% {
            -moz-transform: translate3D(4rem, 3rem, 0);
            opacity: 1;
            z-index: 1;
            -moz-animation-timing-function: ease-in-out;
        }

        55% {
            z-index: -1;
        }

        75% {
            width: .75rem;
            height: .75rem;
            opacity: .5;
        }

        100% {
            -moz-transform: translate3D(-3rem,-3rem,0);
            z-index: -1;
        }
    }

    @@-o-keyframes particle-a {
        0% {
            -o-transform: translate3D(-3rem,-3rem,0);
            z-index: 1;
            -o-animation-timing-function: ease-in-out;
        }

        25% {
            width: 1.5rem;
            height: 1.5rem;
        }

        50% {
            -o-transform: translate3D(4rem, 3rem, 0);
            opacity: 1;
            z-index: 1;
            -o-animation-timing-function: ease-in-out;
        }

        55% {
            z-index: -1;
        }

        75% {
            width: .75rem;
            height: .75rem;
            opacity: .5;
        }

        100% {
            -o-transform: translate3D(-3rem,-3rem,0);
            z-index: -1;
        }
    }

    @@keyframes particle-a {
        0% {
            transform: translate3D(-3rem,-3rem,0);
            z-index: 1;
            animation-timing-function: ease-in-out;
        }

        25% {
            width: 1.5rem;
            height: 1.5rem;
        }

        50% {
            transform: translate3D(4rem, 3rem, 0);
            opacity: 1;
            z-index: 1;
            animation-timing-function: ease-in-out;
        }

        55% {
            z-index: -1;
        }

        75% {
            width: .75rem;
            height: .75rem;
            opacity: .5;
        }

        100% {
            transform: translate3D(-3rem,-3rem,0);
            z-index: -1;
        }
    }

    @@-webkit-keyframes particle-b {
        0% {
            -webkit-transform: translate3D(3rem,-3rem,0);
            z-index: 1;
            -webkit-animation-timing-function: ease-in-out;
        }

        25% {
            width: 1.5rem;
            height: 1.5rem;
        }

        50% {
            -webkit-transform: translate3D(-3rem, 3.5rem, 0);
            opacity: 1;
            z-index: 1;
            -webkit-animation-timing-function: ease-in-out;
        }

        55% {
            z-index: -1;
        }

        75% {
            width: .5rem;
            height: .5rem;
            opacity: .5;
        }

        100% {
            -webkit-transform: translate3D(3rem,-3rem,0);
            z-index: -1;
        }
    }

    @@-moz-keyframes particle-b {
        0% {
            -moz-transform: translate3D(3rem,-3rem,0);
            z-index: 1;
            -moz-animation-timing-function: ease-in-out;
        }

        25% {
            width: 1.5rem;
            height: 1.5rem;
        }

        50% {
            -moz-transform: translate3D(-3rem, 3.5rem, 0);
            opacity: 1;
            z-index: 1;
            -moz-animation-timing-function: ease-in-out;
        }

        55% {
            z-index: -1;
        }

        75% {
            width: .5rem;
            height: .5rem;
            opacity: .5;
        }

        100% {
            -moz-transform: translate3D(3rem,-3rem,0);
            z-index: -1;
        }
    }

    @@-o-keyframes particle-b {
        0% {
            -o-transform: translate3D(3rem,-3rem,0);
            z-index: 1;
            -o-animation-timing-function: ease-in-out;
        }

        25% {
            width: 1.5rem;
            height: 1.5rem;
        }

        50% {
            -o-transform: translate3D(-3rem, 3.5rem, 0);
            opacity: 1;
            z-index: 1;
            -o-animation-timing-function: ease-in-out;
        }

        55% {
            z-index: -1;
        }

        75% {
            width: .5rem;
            height: .5rem;
            opacity: .5;
        }

        100% {
            -o-transform: translate3D(3rem,-3rem,0);
            z-index: -1;
        }
    }

    @@keyframes particle-b {
        0% {
            transform: translate3D(3rem,-3rem,0);
            z-index: 1;
            animation-timing-function: ease-in-out;
        }

        25% {
            width: 1.5rem;
            height: 1.5rem;
        }

        50% {
            transform: translate3D(-3rem, 3.5rem, 0);
            opacity: 1;
            z-index: 1;
            animation-timing-function: ease-in-out;
        }

        55% {
            z-index: -1;
        }

        75% {
            width: .5rem;
            height: .5rem;
            opacity: .5;
        }

        100% {
            transform: translate3D(3rem,-3rem,0);
            z-index: -1;
        }
    }

    @@-webkit-keyframes particle-c {
        0% {
            -webkit-transform: translate3D(-1rem,-3rem,0);
            z-index: 1;
            -webkit-animation-timing-function: ease-in-out;
        }

        25% {
            width: 1.3rem;
            height: 1.3rem;
        }

        50% {
            -webkit-transform: translate3D(2rem, 2.5rem, 0);
            opacity: 1;
            z-index: 1;
            -webkit-animation-timing-function: ease-in-out;
        }

        55% {
            z-index: -1;
        }

        75% {
            width: .5rem;
            height: .5rem;
            opacity: .5;
        }

        100% {
            -webkit-transform: translate3D(-1rem,-3rem,0);
            z-index: -1;
        }
    }

    @@-moz-keyframes particle-c {
        0% {
            -moz-transform: translate3D(-1rem,-3rem,0);
            z-index: 1;
            -moz-animation-timing-function: ease-in-out;
        }

        25% {
            width: 1.3rem;
            height: 1.3rem;
        }

        50% {
            -moz-transform: translate3D(2rem, 2.5rem, 0);
            opacity: 1;
            z-index: 1;
            -moz-animation-timing-function: ease-in-out;
        }

        55% {
            z-index: -1;
        }

        75% {
            width: .5rem;
            height: .5rem;
            opacity: .5;
        }

        100% {
            -moz-transform: translate3D(-1rem,-3rem,0);
            z-index: -1;
        }
    }

    @@-o-keyframes particle-c {
        0% {
            -o-transform: translate3D(-1rem,-3rem,0);
            z-index: 1;
            -o-animation-timing-function: ease-in-out;
        }

        25% {
            width: 1.3rem;
            height: 1.3rem;
        }

        50% {
            -o-transform: translate3D(2rem, 2.5rem, 0);
            opacity: 1;
            z-index: 1;
            -o-animation-timing-function: ease-in-out;
        }

        55% {
            z-index: -1;
        }

        75% {
            width: .5rem;
            height: .5rem;
            opacity: .5;
        }

        100% {
            -o-transform: translate3D(-1rem,-3rem,0);
            z-index: -1;
        }
    }

    @@keyframes particle-c {
        0% {
            transform: translate3D(-1rem,-3rem,0);
            z-index: 1;
            animation-timing-function: ease-in-out;
        }

        25% {
            width: 1.3rem;
            height: 1.3rem;
        }

        50% {
            transform: translate3D(2rem, 2.5rem, 0);
            opacity: 1;
            z-index: 1;
            animation-timing-function: ease-in-out;
        }

        55% {
            z-index: -1;
        }

        75% {
            width: .5rem;
            height: .5rem;
            opacity: .5;
        }

        100% {
            transform: translate3D(-1rem,-3rem,0);
            z-index: -1;
        }
    }
</style>

@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->

    <script type="text/javascript">
        // DO NOT REMOVE : GLOBAL FUNCTIONS!
        $(document).ready(function () {
            $('.superbox').SuperBoxConsulta();
            $("#divAlert").hide();

            $("#btnVolver").click(function () {
                //MapsAddMarket(-6.394800662778, -79.502265930000);
                window.location.href = '../Grupo/BandejaAgrupamiento';
            });

            $('.superbox-list').click(function () {
                //InitMap();
                MapsAddMarket($(this).children('img').data().latitud, $(this).children('img').data().longitud);
            });



            InitMap();

        });


        function InitMap() {
            $(window).unbind('gMapsLoaded');
            $(window).bind('gMapsLoaded', MapsDefault);
            window.loadGoogleMaps();

        }

        // Setea Mapa
        var MapsDefault = function () {
            // Ubicación Perú
            //MapsLinkCenter(-10.457721239161893, -76.6714958398465, 4, 'roadmap');
            //MapsAddMarket(-10.457721239161893, -76.6714958398465, "Perú");

            var lstFotos = [];
            $("#divFotosVinculadas img").each(function () {
                if ($(this).attr("id") !== "vista") {
                    lstFotos.push({
                        id: $(this).attr("id"),
                        latitud: $(this).data().latitud,
                        longitud: $(this).data().longitud
                    });
                }
            });
            MapsLinkCenter(lstFotos[0].latitud, lstFotos[0].longitud, 14, 'hybrid');

            $.each(lstFotos, function (key, value) {
                MapsAddMarket(value.latitud, value.longitud, "", "", "", 1);
            });

        };

        // Centra mapa en las coordenas recibidas
        function MapsLinkCenter(latitud, longitud, prmZoom = 16, MapType = 'hybrid') {
            var mapOptions = {
                center: new google.maps.LatLng(latitud, longitud),
                zoom: prmZoom,
                mapTypeId: MapType
            };
            map = new google.maps.Map(document.getElementById('map_canvas2'), mapOptions);
        }

        // Agrega marcador al map
        function MapsAddMarket(latitud, longitud, descripcion = "No tittle", SexLat = "", SexLong = "", color = 0) {
            //var image = {
            //    url: 'Content/img/plus.png', //ruta de la imagen
            //    size: new google.maps.Size(40, 60), //tamaño de la imagen
            //    origin: new google.maps.Point(0, 0), //origen de la iamgen
            //    //el ancla de la imagen, el punto donde esta marcando, en nuestro caso el centro inferior.
            //    anchor: new google.maps.Point(20, 60)
            //};
            var iconColor = color === 0 ? '' : 'http://maps.google.com/mapfiles/ms/icons/green-dot.png';
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(latitud, longitud),
                map: map,
                animation: google.maps.Animation.DROP,
                //draggable: true,
                icon: iconColor, // image
                title: descripcion
            });

            var InfoMarket = new google.maps.InfoWindow({
                content: MarketContentString(latitud, longitud, SexLat, SexLong)
            });
            marker.addListener('click', function () {
                InfoMarket.open(map, marker);
            });
        }

        function MarketContentString(DecLat, DecLon, SexLat, SexLon) {
            var ContentString =
                //'<div class="gm-style-iw" style="top: 9px; position: absolute; left: 15px; width: 300px;"> ' +
                '		<div style="overflow: auto;">' +
                '			<table style="border-spacing: 10px; color:black">' +
                '				<tbody>' +
                '					<tr><th>tipo</th><th>latitud</th><th>longitud</th></tr>' +
                '					<tr><td><strong>GD &nbsp;&nbsp; : &nbsp; </strong></td><td> ' + parseFloat(DecLat).toFixed(12) + ' &nbsp;</td><td> ' + parseFloat(DecLon).toFixed(12) + ' </td></tr>' +
                //"					<tr><td><strong>GMS : &nbsp; </strong></td><td> " + SexLat + " &nbsp;</td><td> " + SexLon + " </td></tr>" +
                '				</tbody>' +
                '			</table>' +
                '		</div>';
            //'</div>';
            return ContentString;
        }
    </script>
}
