﻿
@using Agrobanco.PlataformaAgroperu.Web;
@model System.Collections.Generic.List<Agrobanco.PlataformaAgroperu.Domain.Models.Georeferenciacion.FotoModel>

<div id="content">
    <div class="row">
        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-home"></i>
                GEOREFERENCIACI&Oacute;N
                <span>
                    >
                    Vincular
                </span>
            </h1>
        </div>
        <!-- end col -->
        <!-- right side of the page with the sparkline graphs -->
        <!-- col -->
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
            <!-- sparks -->
            <ul id="sparks">
                <li class="sparks-info">
                    <h5> Cliente <span class="txt-color-greenDark"><i class="fa fa-user"></i>&nbsp; @ViewBag.Nombre </span></h5>
                </li>
                <li class="sparks-info">
                    <h5> Documento <span class="txt-color-greenDark"><i class="fa fa-credit-card"></i>&nbsp; @ViewBag.NumeroDocumento </span></h5>
                </li>
                <li class="sparks-info">
                    <h5> Solicitud <span class="txt-color-greenDark"><i class="fa fa-dollar"></i>&nbsp; @ViewBag.NumeroSolicitud </span></h5>
                </li>
            </ul>
            <!-- end sparks -->
        </div>
        <!-- end col -->
    </div>

    @*<input type="button" id="BtnAdd" value="Click Me" />*@
    <div class="jarviswidget well" id="wid-id-3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
        <!-- widget options:
        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

        data-widget-colorbutton="false"
        data-widget-editbutton="false"
        data-widget-togglebutton="false"
        data-widget-deletebutton="false"
        data-widget-fullscreenbutton="false"
        data-widget-custombutton="false"
        data-widget-collapsed="true"
        data-widget-sortable="false"

        -->
        <header>
            <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
            <h2>Default Tabs with border </h2>
        </header>
        <!-- widget div-->
        <div>
            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->
            </div>
            <!-- end widget edit box -->
            <!-- widget content -->
            <div class="widget-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <h1 class="txt-color-blueDark">
                            <i class="fa-fw fa fa-picture-o"></i>
                            Galer&iacute;a Fotos <span>

                            </span>
                        </h1>
                    </div>
                    @{
                        if (Model != null)
                        {
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-align-right">
                                <div class="">
                                    <button type="button" class="btn btn-default" id="btnGuardar">
                                        <i class="fa fa-save"></i> Guardar Cambios
                                    </button>
                                </div>
                            </div>
                        }
                    }

                </div>

                <hr class="simple">

                @{
                    if (Model != null)
                    {
                        <ul id="myTab1" class="nav nav-tabs bordered">
                            <li id="li_s1" class="active">
                                <a href="#s1" data-toggle="tab"><i class="fa fa-chain-broken"></i> Fotos libres <span id="NumFotLibres" class="badge bg-color-blue txt-color-white">@Model.Count(r => r.NroSolicitud == "0")</span></a>
                            </li>
                            <li id="li_s2">
                                <a href="#s2" data-toggle="tab"><i class="fa fa-chain"></i> Fotos Vinculadas <span id="NumFotVinculadas" class="badge bg-color-blue txt-color-white">@Model.Count(r => r.NroSolicitud != "0")</span></a>
                            </li>
                            <li id="li_s5">
                                <a href="#s3" data-toggle="tab"><i class="fa fa-cloud-upload"></i> Subir Fotos </a>
                            </li>

                            @*<li class="pull-right">
                                    <a href="javascript:void(0);">
                                        <div class="sparkline txt-color-pinkDark text-align-right" data-sparkline-height="18px" data-sparkline-width="90px" data-sparkline-barwidth="7">
                                            5,10,6,7,4,3
                                        </div>
                                    </a>
                                </li>*@
                        </ul>

                        <div class="row">
                            <div id="myTabContent1" class="tab-content padding-10">

                                <div class="tab-pane fade active in" id="s1">
                                    <div id="" class="row">
                                        <div id="divFotosLibres" class="superbox col-sm-12">
                                            @{
                                                if (Model.Count == 0)
                                                {
                                                    <div id="divVacioLib" style="display:block;" class="alert alert-warning fade in">
                                                        <i class="fa-fw fa fa-warning"></i>
                                                        <strong>Aviso!</strong> Agregar fotos por la aplicaci&oacute;n m&oacute;vil <strong>AppGeo Agrobanco</strong>
                                                    </div>
                                                }
                                                else
                                                {
                                                    bool b = false;
                                                    foreach (Agrobanco.PlataformaAgroperu.Domain.Models.Georeferenciacion.FotoModel foto in Model)
                                                    {
                                                        if (foto.NroSolicitud.Equals("0"))
                                                        {
                                                            <div id="div_@foto.IdLaserFiche" class="superbox-list">
                                                                <img id="@foto.IdLaserFiche" src="data:image/jpg;base64,@foto.imgBase64" data-img="data:image/jpg;base64,@foto.imgBase64"
                                                                     alt="Observ. :@foto.Observacion" title="@foto.ImgCod" class="superbox-img" id-foto="@foto.IdLaserFiche"
                                                                     panel="s1" fecfoto="fecha foto: @foto.FechaFoto" latitud="Latitud:  @foto.Latitud" longitud="Longitud: @foto.Longitud">
                                                            </div>
                                                            b = true;
                                                        }
                                                    }
                                                    if (!b)
                                                    {
                                                        <div id="divVacioLib" style="display:block;" class="alert alert-info fade in">
                                                            <i class="fa-fw fa fa-info"></i>
                                                            <strong>Info!</strong> Sin fotos para mostrar.
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div id="divVacioLib" style="display:none;" class="alert alert-info fade in">
                                                            <i class="fa-fw fa fa-info"></i>
                                                            <strong>Info!</strong> Sin fotos para mostrar.
                                                        </div>
                                                    }
                                                }
                                            }
                                            <div class="superbox-float"></div>
                                        </div>
                                        <div class="superbox-show" style="height:300px; display: none"></div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="s2">
                                    <div class="row">
                                        <div id="divFotosVinculadas" class="col-sm-12">
                                            @Html.Partial("_superboxPartial", Model, new ViewDataDictionary { { "panel", "s2" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="s3">

                                    <div class="row">
                                        <article class="col-sm-12 col-md-12 col-lg-4">

                                            <div class="panel-body">
                                                <form enctype="multipart/form-data">
                                                    <label for="file-es" role="button">Seleccionar Imagen</label>
                                                    <input id="file-es" name="file-es[]" type="file" multiple>
                                                    <small class="form-text text-muted">Seleccionar imágen de tipo .jpg </small>
                                                </form>
                                                <p>&nbsp;</p>
                                                <div id="divAlert" class="alert alert-success" role="alert"></div>
                                            </div>

                                        </article>

                                        <article class="col-sm-12 col-md-12 col-lg-8">
                                            <form class="smart-form">
                                                <header>
                                                    Datos de Ubicación
                                                </header>

                                                <fieldset>
                                                    <div class="row">
                                                        <section class="col col-3">
                                                            <label class="label">Fecha fotografía</label>
                                                            <label class="input state-disabled">
                                                                <input id="TxtFechaFoto" type="text" class="input-xs" disabled="disabled">
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">Latitud</label>
                                                            <label class="input state-disabled">
                                                                <input id="TxtLatitud" type="text" class="input-xs" disabled="disabled">
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">Longitud</label>
                                                            <label class="input state-disabled">
                                                                <input id="TxtLongitud" type="text" class="input-xs" disabled="disabled">
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">Altitud</label>
                                                            <label class="input state-disabled">
                                                                <input id="TxtAltitud" type="text" class="input-xs" disabled="disabled">
                                                            </label>
                                                        </section>
                                                    </div>
                                                </fieldset>
                                                <fieldset>
                                                    <div class="row">
                                                        <section>
                                                            <label class="textarea">
                                                                <i class="icon-append fa fa-comment"></i>
                                                                <textarea id="TxtObservacion" rows="2" name="comment" placeholder="Ingrese alguna observación"></textarea>
                                                            </label>
                                                        </section>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </article>

                                        <article class="col-sm-12 col-md-12 col-lg-8">
                                            <div class="jarviswidget-editbox">
                                                <!-- This area used as dropdown edit box -->
                                            </div>
                                            <!-- end widget edit box -->
                                            <!-- widget content -->
                                            <div class="widget-body ">
                                                PREDIOS CERCANOS
                                                <table id="datatable_Clientes" class="table table-striped table-bordered table-hover" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th data-class="expand">N° Crédito</th>
                                                            <th data-class="expand">Documento</th>
                                                            <th data-class="expand">Nombre Cliente</th>
                                                            <th data-class="expand">Distancia(m)</th>
                                                            <th data-class="expand">Cultivo</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </article>
                                    </div>

                                    <div class="row">
                                        <article class="col-sm-12 col-md-12 col-lg-12">
                                            <div class="widget-body">
                                                <div id="map_canvas2" class="google_maps"></div>
                                            </div>
                                        </article>
                                    </div>

                                </div>

                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="text-center error-box">
                                            <h1 class="error-text-2 bounceInDown animated"> Servicio no disponible temporalmente <span class="particle particle--c"></span><span class="particle particle--a"></span><span class="particle particle--b"></span></h1>
                                            <h2 class="font-xl"><strong><i class="fa fa-fw fa-lock fa-lg text-warning"></i> Servidor no disponible </strong></h2>
                                            <br />
                                            <p class="lead">
                                                Lo Sentimos, la conexi&oacute;n  con el servicio de descarga de Documentos no est&aacute; disponible por el momento.
                                            </p>
                                            <p class="font-md">
                                                <b>Agrobanco - Plataforma de Evaluacion</b>
                                            </p>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }



            </div>
        </div>

        <!-- end widget content -->
        <!-- end widget div -->
    </div>

</div>
<!-- END MAIN CONTENT -->
<div>
    <input type="hidden" name="hidLatitud" id="hidLatitud" value="" />
    <input type="hidden" name="hidLongitud" id="hidLongitud" value="" />
    <input type="hidden" name="hidAltitud" id="hidAltitud" value=" " />
    <input type="hidden" name="hidNroSolicitud" id="hidNroSolicitud" value="@ViewBag.NumeroSolicitud" />
    <input type="hidden" name="hidNroDocumento" id="hidNroDocumento" value="@ViewBag.NumeroDocumento" />
</div>

<style>
    .error-text-2 {
        text-align: center;
        font-size: 300%;
        font-weight: bold;
        font-weight: 100;
        color: #333;
        line-height: 1;
        letter-spacing: -.05em;
        background-image: -webkit-linear-gradient(92deg,#333,#ed1c24);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .particle {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        background-color: #ed1c24;
        background-image: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.3) 75%,rgba(0,0,0,0));
        box-shadow: inset 0 0 1px 1px rgba(0,0,0,.25);
    }

    .particle--a {
        -webkit-animation: particle-a 1.4s infinite linear;
        -moz-animation: particle-a 1.4s infinite linear;
        -o-animation: particle-a 1.4s infinite linear;
        animation: particle-a 1.4s infinite linear;
    }

    .particle--b {
        -webkit-animation: particle-b 1.3s infinite linear;
        -moz-animation: particle-b 1.3s infinite linear;
        -o-animation: particle-b 1.3s infinite linear;
        animation: particle-b 1.3s infinite linear;
        background-color: #00A300;
    }

    .particle--c {
        -webkit-animation: particle-c 1.5s infinite linear;
        -moz-animation: particle-c 1.5s infinite linear;
        -o-animation: particle-c 1.5s infinite linear;
        animation: particle-c 1.5s infinite linear;
        background-color: #57889C;
    }

    @@-webkit-keyframes particle-a {
        0% {
            -webkit-transform: translate3D(-3rem,-3rem,0);
            z-index: 1;
            -webkit-animation-timing-function: ease-in-out;
        }

        25% {
            width: 1.5rem;
            height: 1.5rem;
        }

        50% {
            -webkit-transform: translate3D(4rem, 3rem, 0);
            opacity: 1;
            z-index: 1;
            -webkit-animation-timing-function: ease-in-out;
        }

        55% {
            z-index: -1;
        }

        75% {
            width: .75rem;
            height: .75rem;
            opacity: .5;
        }

        100% {
            -webkit-transform: translate3D(-3rem,-3rem,0);
            z-index: -1;
        }
    }

    @@-moz-keyframes particle-a {
        0% {
            -moz-transform: translate3D(-3rem,-3rem,0);
            z-index: 1;
            -moz-animation-timing-function: ease-in-out;
        }

        25% {
            width: 1.5rem;
            height: 1.5rem;
        }

        50% {
            -moz-transform: translate3D(4rem, 3rem, 0);
            opacity: 1;
            z-index: 1;
            -moz-animation-timing-function: ease-in-out;
        }

        55% {
            z-index: -1;
        }

        75% {
            width: .75rem;
            height: .75rem;
            opacity: .5;
        }

        100% {
            -moz-transform: translate3D(-3rem,-3rem,0);
            z-index: -1;
        }
    }

    @@-o-keyframes particle-a {
        0% {
            -o-transform: translate3D(-3rem,-3rem,0);
            z-index: 1;
            -o-animation-timing-function: ease-in-out;
        }

        25% {
            width: 1.5rem;
            height: 1.5rem;
        }

        50% {
            -o-transform: translate3D(4rem, 3rem, 0);
            opacity: 1;
            z-index: 1;
            -o-animation-timing-function: ease-in-out;
        }

        55% {
            z-index: -1;
        }

        75% {
            width: .75rem;
            height: .75rem;
            opacity: .5;
        }

        100% {
            -o-transform: translate3D(-3rem,-3rem,0);
            z-index: -1;
        }
    }

    @@keyframes particle-a {
        0% {
            transform: translate3D(-3rem,-3rem,0);
            z-index: 1;
            animation-timing-function: ease-in-out;
        }

        25% {
            width: 1.5rem;
            height: 1.5rem;
        }

        50% {
            transform: translate3D(4rem, 3rem, 0);
            opacity: 1;
            z-index: 1;
            animation-timing-function: ease-in-out;
        }

        55% {
            z-index: -1;
        }

        75% {
            width: .75rem;
            height: .75rem;
            opacity: .5;
        }

        100% {
            transform: translate3D(-3rem,-3rem,0);
            z-index: -1;
        }
    }

    @@-webkit-keyframes particle-b {
        0% {
            -webkit-transform: translate3D(3rem,-3rem,0);
            z-index: 1;
            -webkit-animation-timing-function: ease-in-out;
        }

        25% {
            width: 1.5rem;
            height: 1.5rem;
        }

        50% {
            -webkit-transform: translate3D(-3rem, 3.5rem, 0);
            opacity: 1;
            z-index: 1;
            -webkit-animation-timing-function: ease-in-out;
        }

        55% {
            z-index: -1;
        }

        75% {
            width: .5rem;
            height: .5rem;
            opacity: .5;
        }

        100% {
            -webkit-transform: translate3D(3rem,-3rem,0);
            z-index: -1;
        }
    }

    @@-moz-keyframes particle-b {
        0% {
            -moz-transform: translate3D(3rem,-3rem,0);
            z-index: 1;
            -moz-animation-timing-function: ease-in-out;
        }

        25% {
            width: 1.5rem;
            height: 1.5rem;
        }

        50% {
            -moz-transform: translate3D(-3rem, 3.5rem, 0);
            opacity: 1;
            z-index: 1;
            -moz-animation-timing-function: ease-in-out;
        }

        55% {
            z-index: -1;
        }

        75% {
            width: .5rem;
            height: .5rem;
            opacity: .5;
        }

        100% {
            -moz-transform: translate3D(3rem,-3rem,0);
            z-index: -1;
        }
    }

    @@-o-keyframes particle-b {
        0% {
            -o-transform: translate3D(3rem,-3rem,0);
            z-index: 1;
            -o-animation-timing-function: ease-in-out;
        }

        25% {
            width: 1.5rem;
            height: 1.5rem;
        }

        50% {
            -o-transform: translate3D(-3rem, 3.5rem, 0);
            opacity: 1;
            z-index: 1;
            -o-animation-timing-function: ease-in-out;
        }

        55% {
            z-index: -1;
        }

        75% {
            width: .5rem;
            height: .5rem;
            opacity: .5;
        }

        100% {
            -o-transform: translate3D(3rem,-3rem,0);
            z-index: -1;
        }
    }

    @@keyframes particle-b {
        0% {
            transform: translate3D(3rem,-3rem,0);
            z-index: 1;
            animation-timing-function: ease-in-out;
        }

        25% {
            width: 1.5rem;
            height: 1.5rem;
        }

        50% {
            transform: translate3D(-3rem, 3.5rem, 0);
            opacity: 1;
            z-index: 1;
            animation-timing-function: ease-in-out;
        }

        55% {
            z-index: -1;
        }

        75% {
            width: .5rem;
            height: .5rem;
            opacity: .5;
        }

        100% {
            transform: translate3D(3rem,-3rem,0);
            z-index: -1;
        }
    }

    @@-webkit-keyframes particle-c {
        0% {
            -webkit-transform: translate3D(-1rem,-3rem,0);
            z-index: 1;
            -webkit-animation-timing-function: ease-in-out;
        }

        25% {
            width: 1.3rem;
            height: 1.3rem;
        }

        50% {
            -webkit-transform: translate3D(2rem, 2.5rem, 0);
            opacity: 1;
            z-index: 1;
            -webkit-animation-timing-function: ease-in-out;
        }

        55% {
            z-index: -1;
        }

        75% {
            width: .5rem;
            height: .5rem;
            opacity: .5;
        }

        100% {
            -webkit-transform: translate3D(-1rem,-3rem,0);
            z-index: -1;
        }
    }

    @@-moz-keyframes particle-c {
        0% {
            -moz-transform: translate3D(-1rem,-3rem,0);
            z-index: 1;
            -moz-animation-timing-function: ease-in-out;
        }

        25% {
            width: 1.3rem;
            height: 1.3rem;
        }

        50% {
            -moz-transform: translate3D(2rem, 2.5rem, 0);
            opacity: 1;
            z-index: 1;
            -moz-animation-timing-function: ease-in-out;
        }

        55% {
            z-index: -1;
        }

        75% {
            width: .5rem;
            height: .5rem;
            opacity: .5;
        }

        100% {
            -moz-transform: translate3D(-1rem,-3rem,0);
            z-index: -1;
        }
    }

    @@-o-keyframes particle-c {
        0% {
            -o-transform: translate3D(-1rem,-3rem,0);
            z-index: 1;
            -o-animation-timing-function: ease-in-out;
        }

        25% {
            width: 1.3rem;
            height: 1.3rem;
        }

        50% {
            -o-transform: translate3D(2rem, 2.5rem, 0);
            opacity: 1;
            z-index: 1;
            -o-animation-timing-function: ease-in-out;
        }

        55% {
            z-index: -1;
        }

        75% {
            width: .5rem;
            height: .5rem;
            opacity: .5;
        }

        100% {
            -o-transform: translate3D(-1rem,-3rem,0);
            z-index: -1;
        }
    }

    @@keyframes particle-c {
        0% {
            transform: translate3D(-1rem,-3rem,0);
            z-index: 1;
            animation-timing-function: ease-in-out;
        }

        25% {
            width: 1.3rem;
            height: 1.3rem;
        }

        50% {
            transform: translate3D(2rem, 2.5rem, 0);
            opacity: 1;
            z-index: 1;
            animation-timing-function: ease-in-out;
        }

        55% {
            z-index: -1;
        }

        75% {
            width: .5rem;
            height: .5rem;
            opacity: .5;
        }

        100% {
            transform: translate3D(-1rem,-3rem,0);
            z-index: -1;
        }
    }
</style>


@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->
    @*<script src="~/Scripts/plugin/file-input/exif.js"></script>*@
    @*var arrFotos = [];
        var arrFotosQuitar = [];*@

    @*<script src="@Url.Content("~/Scripts/app/GeoReferenciacion/Datatables.js")"></script>
    <script src="@Url.Content("~/Scripts/app/GeoReferenciacion/UploadImages.js")"></script>
    <script src="@Url.Content("~/Scripts/app/GeoReferenciacion/LinkImages.js")"></script>*@

    @Scripts.Render("~/scripts/Georeferenciacion")

    <script type="text/javascript">
        // DO NOT REMOVE : GLOBAL FUNCTIONS!
        $(document).ready(function () {
            $('.superbox').SuperBox();
            $("#divAlert").hide();
            InitMap();
        });
    </script>
}
