﻿@model Agrobanco.PlataformaAgroperu.Domain.Models.Seguimiento.SegIndicadores
@{
    var oUsuario = (Agrobanco.PlataformaAgroperu.Domain.Models.Account.Usuario)Session["oUsuario"];
    var Perfil = oUsuario == null ? "" : oUsuario.CodigoPerfil.ToString();
    
}
<!-- MAIN CONTENT -->
<div id="content">
    <!-- row -->
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h4 class="page-title h4-title"><i class="fa-fw fa fa-home"></i>BIENVENIDO(A) </h4>
        </div>
        @{
            if (oUsuario.HomePageEstadistico)
            {
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <ul id="sparks">
                        <li class="sparks-info">
                            <div id="sparkCreditos" class="sparkDatos"></div>
                            <h5> CREDITOS <span id="spanCreditos" class="txt-color-blue"><i class="fa fa-user" data-rel="bootstrap-tooltip" title="Increased"></i>&nbsp;...</span></h5>
                        </li>
                        <li class="sparks-info">
                            <div id="sparkSaldo" class="sparkDatos"></div>
                            <h5> SALDO CARTERA <span id="spanSaldo" class="txt-color-blue">S/ ...</span></h5>
                        </li>
                        <li class="sparks-info">
                            <div id="sparkDesembolso" class="sparkDatos"></div>
                            <h5> TOTAL DESEMBOLSO <span id="spanDesembolso" class="txt-color-green">S/ ...</span></h5>
                        </li>

                    </ul>
                </div>
            }
        }
    </div>


    @{
        if (Perfil == "2001")
        {
            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div class="well">
                        <div class="col-sm-12 h6-subtitle"><h6>Bandeja Solicitudes</h6></div>
                        <div class="row">
                            <article class="col-sm-4">
                                <div class="card-panel card-common card-orange">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="mat-drawer-container_card fa fa-home"></i>
                                        </div>
                                        <div class="col-xs-9">
                                            <h5>
                                                <span> @Model.Admision.Total.NumeroSolicitudes.ToString() Solicitudes en Admisi&oacute;n</span>
                                            </h5>
                                            <p>Solicitudes pendientes por Generar Propuesta</p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="row">
                            <article class="col-sm-4">
                                <div class="card-panel card-common card-greenwhite">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="mat-drawer-container_card fa fa-file-pdf-o"></i>
                                        </div>
                                        <div class="col-xs-9">
                                            <h5>
                                                <span> @Model.Propuesta.Total.NumeroSolicitudes.ToString() Propuestas Generadas</span>
                                            </h5>
                                            <p>Solicitudes con Propuesta en flujo de Aprobaci&oacute;n</p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="col-sm-4">
                                <div class="card-panel card-common card-greenbrillant">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="mat-drawer-container_card fa fa-check-square-o"></i>
                                        </div>
                                        <div class="col-xs-9">
                                            <h5>
                                                <span> @Model.Aprobado.Total.NumeroSolicitudes.ToString() Propuestas Aprobadas</span>
                                            </h5>
                                            <p>Propuestas disponibles para desembolsar</p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="col-sm-4">
                                <div class="card-panel card-common card-green">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="mat-drawer-container_card fa fa-money"></i>
                                        </div>
                                        <div class="col-xs-9">
                                            <h5>
                                                <span> @Model.Desembolsado.Total.NumeroSolicitudes.ToString() Desembolsados</span>
                                            </h5>
                                            <p>Total de Creditos </p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </article>
            </div>
        }
        else if (oUsuario.HomePageEstadistico)
        {
            <section id="widget-grid">
                <div class="well">

                    <div class="row">
                        <div class="col-sm-12 h6-subtitle"><h6>Solicitudes en Tramite</h6></div>
                        <article class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                            <div class="jarviswidget" id="wid-id-10" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                                <header>
                                    <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                                    <h2>Monto Solicitado en Tramite</h2>
                                </header>
                                <div class="widget-body">
                                    <canvas id="chartBar-Tuberia"></canvas>
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 h6-subtitle"><h6>Datos de Desembolsos</h6></div>
                        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="jarviswidget" id="wid-id-Desembolso" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                                <header>
                                    <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                                    <h2>Desembolsos Detalle</h2>
                                </header>
                                <div class="widget-body">
                                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <canvas id="lineChart"></canvas>
                                    </article>
                                    @*<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <canvas id="chartPie-DesembPorSector"></canvas>
                                        </article>*@
                                </div>
                            </div>
                        </article>

                        @*<article class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="jarviswidget" id="wid-id-Funcionarios" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                                    <header>
                                        <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                                        <h2>Desembolsos</h2>
                                    </header>
                                    <div class="widget-body">

                                    </div>
                                </div>
                            </article>*@


                    </div>

                    <div class="row">
                        <div class="col-sm-12 h6-subtitle"><h6>Datos de Saldo y Créditos</h6></div>
                        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="jarviswidget no-pading" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                                <header>
                                    <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                                    <h2>Saldo y N&uacute;mero de Cr&eacute;ditos por Sector</h2>
                                </header>
                                <div>
                                    <div class="widget-body">

                                        <article class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                            <canvas id="chartBar-SaldoDesembPorSector"></canvas>
                                        </article>
                                        <article class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                            <canvas id="chartPie-SaldoPorSector"></canvas>
                                        </article>


                                    </div>
                                </div>
                            </div>
                        </article>

                        @*<article class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="jarviswidget no-pading" id="wid-id-2" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                                    <header>
                                        <span class="widget-icon"> <i class="fa  fa-bar-chart-o"></i> </span>
                                        <h2>Porcentaje de Saldo por Sector</h2>
                                    </header>
                                    <div class="widget-body">
                                        <canvas id="chartPie-SaldoPorSector"></canvas>
                                    </div>
                                </div>
                            </article>*@
                    </div>



                </div>
            </section>
        }
    }
    <input type="hidden" id="UrlBaseSGV" value="123" />
    <input type="hidden" id="UrlBaseSGVAPI" value="123" />
</div>
<!-- END MAIN CONTENT -->

@section pagespecific {
    @Scripts.Render("~/scripts/Inicio")
    <script type="text/javascript">
    </script>
}
