.example-container {
    height: 600px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }

  td , th {
    white-space: normal;
    word-wrap: break-word;
    max-width: 50px;
}



  .material-icons.mblue { color: blue; cursor: pointer; }
  .material-icons.mred { color: red; cursor: pointer; }