<app-loading *ngIf="loader"></app-loading>
<div class="section no-padding">
    <div class="row     col s12 no-mar-bot">
        <div class="section no-mar-bot">
            <div class="col s12 m12 l12">
                <h1 class="title">Vinculación</h1>
            </div>
        </div>
    </div>
</div>

<div class="card-panel row layout-card-gray-2">
  <div class="row">
      <div class="col s12 m12 l12">
          <span>Número de documento : {{NroDocumento}} </span>
      </div>
      <div class="col s12 m12 l12">
        <span>Número de solicitud de crédito : {{NroSolicititud}} </span>
    </div>
    <div class="col s12 m12 l12" *ngIf="msg.length > 0">
      <span class="red-text text-darken-2"> {{msg}} </span>
  </div>
  </div>
</div>


<div class="card-panel row layout-card-gray-2">
    <div class="example-container" id="clientes-grid">

        <table mat-table [dataSource]="listaVinculacionVisita">

            <!-- Position Column -->
            <ng-container matColumnDef="cultivo">
              <th mat-header-cell *matHeaderCellDef> Cultivo </th>
              <td mat-cell *matCellDef="let element"> {{element.cultivo}} </td>
            </ng-container>

            <ng-container matColumnDef="solcredito">
              <th mat-header-cell *matHeaderCellDef> Solicitud de Crédito </th>
              <td mat-cell *matCellDef="let element"> {{element.codigoSolicitudCredito}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="dni">
              <th mat-header-cell *matHeaderCellDef> Dni </th>
              <td mat-cell *matCellDef="let element"> {{element.numDocumentoCliente}} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.eAsignacion.eCliente.primerNombre}} {{element.eAsignacion.eCliente.segundoNombre}} {{element.eAsignacion.eCliente.apellidoPaterno}} {{element.eAsignacion.eCliente.apellidoMaterno}}</td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="fechaaprobacion">
              <th mat-header-cell *matHeaderCellDef> Fecha Aprobación </th>
              <td mat-cell *matCellDef="let element"> {{element.fechaAprobacion | date: 'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="horaaprobacion">
              <th mat-header-cell *matHeaderCellDef> Hora Aprobación </th>
              <td mat-cell *matCellDef="let element"> {{element.fechaAprobacion | date: 'h:mm a'}} </td>
            </ng-container>

            <ng-container matColumnDef="usuariovisita">
              <th mat-header-cell *matHeaderCellDef>Usuario Visita</th>
              <td mat-cell *matCellDef="let element"> {{element.eAsignacion.eProfesionalTecnico.primerNombre}} {{element.eAsignacion.eProfesionalTecnico.segundoNombre}} {{element.eAsignacion.eProfesionalTecnico.apellidoPaterno}} {{element.eAsignacion.eProfesionalTecnico.apellidoMaterno}} / {{element.eAsignacion.nombreFuncionario}}</td>
            </ng-container>

            <ng-container matColumnDef="verpdf">
              <th mat-header-cell *matHeaderCellDef>Ver PDF</th>
              <td mat-cell *matCellDef="let element">
                  <i class="material-icons mred"
                  matTooltip="Ver PDF" (click)="VerPDF(element.codigo)">picture_as_pdf</i>
              </td>  
            </ng-container>

            <ng-container matColumnDef="vincular">
              <th mat-header-cell *matHeaderCellDef>Vincular</th>
              <td mat-cell *matCellDef="let element">
                  <i class="material-icons mblue"
                  matTooltip="Vincular" (click)="AsignarSolicitudDeCredito(element.codigo)" *ngIf="msg.length == 0 && element.codigoSolicitudCredito.length == 0">compare_arrows</i>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
</div>
<app-msg-success [descripcion1]="msjSuccess"></app-msg-success>
<app-msg-error></app-msg-error>
