<div class="row layout-card-gray-2" *ngFor="let itemModulos of ArrModulos;let i = index">
    <div class="col s12 h6-subtitle"><h6>{{itemModulos.DescripcionAplicacion}}</h6></div>

    <div class="col s12 m4" *ngIf="filtrarTieneOpciones(itemModulos.IdOpcion) == 0">
        <div class="card-panel card-common {{ArrColores[i]}}">
            <div class="row ">
                <div class="col s3">
                    <i class="material-icons mat-drawer-container_card icon-white">{{itemModulos.TipoIconoDescripcion}}</i>
                </div>
                <div class="col s9">
                    <span class="white-text">
                        {{itemModulos.DescripcionAplicacion}}
                    </span>
                </div>
            </div>
        </div>
    </div>


    <div class="col s12 m4" *ngFor="let itemOpcion of filtrarOpcionesPorModulo(itemModulos.IdOpcion)">
        <div class="card-panel card-common {{ArrColores[i]}}">
            <div class="row">
                <div class="col s3">
                    <i class="material-icons mat-drawer-container_card icon-white">{{itemModulos.TipoIconoDescripcion}}</i>
                </div>
                <div class="col s9">
                    <span class="white-text">
                        {{itemOpcion.DescripcionAplicacion}}
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>
