<div id="pdf-modal" *ngIf="creating">
    <div class="row">

        <h3 class="pdf-subtitle">Datos del Cliente</h3>

        <div class="divider"></div>

        <div class="row">
            <div class="col s12 m6 l4">
                <h4>Número de Documento: <strong>{{dataVisorVisita.numDocumentoCliente}}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Nombres: <strong>{{dataVisorVisita.primerNombrecliente | titlecase}} {{dataVisorVisita.segundoNombrecliente | titlecase}}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Apellidos: <strong>{{dataVisorVisita.apellidoPaternoCliente | titlecase }} {{dataVisorVisita.apellidoMaternoCliente | titlecase}}</strong></h4>
            </div>
        </div>

        <h3 class="pdf-subtitle">Datos del predio</h3>

        <div class="divider"></div>

        <div class="row">
            <div class="col s12 m6 l4">
                <h4>Nombre: <strong>{{dataVisorVisita.nombrePredio | titlecase}}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Dirección: <strong>{{dataVisorVisita.direccionPredio | titlecase}}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Tipo actividad: <strong>{{ listValues.TipoActividad[dataVisorVisita.tipoActividad] }}</strong></h4>
            </div>
        </div>

        <h3 class="pdf-subtitle">Datos generales y del productor</h3>

        <div class="divider"></div>
        <div class="row">
            <div class="col s12 m6 l4">
                <h4>Fecha inicio Visita: <strong>{{dataVisorVisita.fechaInicioVisita | date: 'dd/MM/yyyy hh:mm'}}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Fecha fin Visita: <strong>{{dataVisorVisita.fechaFinVisita | date: 'dd/MM/yyyy hh:mm'}}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Agencia: <strong>{{dataVisorVisita.agenciaDescripcion}}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Persona presente: <strong>{{ listValues.PersonaPresente[dataVisorVisita.personaPresente] }}</strong></h4>
            </div>
            <div class="col s12 m6 l4" *ngIf="dataVisorVisita.personaPresente == 2">
                <h4>Vínculo familiar: <strong>{{ dataVisorVisita.vinculoFamiliar }}</strong></h4>
            </div>
            <div class="col s12 m6 l4" *ngIf="dataVisorVisita.personaPresente == 2">
                <h4>Nombre familiar: <strong>{{ dataVisorVisita.nombreFamiliar }}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Celular: <strong>{{ dataVisorVisita.numCelFamiliar }}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Mercado de acceso y potenciales: <strong>{{ listValues.MercadoAcceso[dataVisorVisita.mercadoAcceso] }}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Es área protegida: <strong>{{ dataVisorVisita.areaProtegida == 1 ?"Sí":"No" }}</strong></h4>
            </div>
        </div>

        <h3 class="pdf-subtitle">Detalle de la Visita</h3>
        <div class="divider"></div>

        <div class="row" *ngIf="dataVisorVisita.tipoActividad == 1"> <!-- Actividad agrícola -->
            
            <div class="col s12 m12 l12">
                <h4 style="color: green; font-weight: bold;">Datos del terreno</h4>
            </div>
            
            <div class="col s12 m6 l4">
                <h4>Número de parcelas: <strong>{{dataVisorVisita.numParcelas}}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Hectáreas Sembradas: <strong>{{dataVisorVisita.numHectareasSembradas}}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Unidad catastral: <strong>{{dataVisorVisita.unidadCatastral}}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Hectáreas a financiar: <strong>{{dataVisorVisita.numHectareasFinanciar}}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Hectáreas totales: <strong>{{dataVisorVisita.numHectareasTotales}}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Régimen de Tenencia: <strong> {{ listValues.RegimenConduccion[dataVisorVisita.regimenTenencia] }}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Ubicación / Exp. al riesgo: <strong> {{ listValues.UbicacionRiesgo[dataVisorVisita.tipoUbicacion] }}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Estado del campo: <strong> {{ listValues.EstadoCampo[dataVisorVisita.estadoCampo] }}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Tipo de riego: <strong> {{ listValues.TipoRiego[dataVisorVisita.tipoRiego] }}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Disponibilidad de agua: <strong> {{ listValues.DisponibilidadAgua1[dataVisorVisita.disponibilidadAgua] }}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Pendiente: <strong> {{ listValues.Pendiente[dataVisorVisita.pendiente] }}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Tipo suelo: <strong> {{ listValues.TipoSuelo[dataVisorVisita.tipoSuelo] }}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Accesibilidad del predio: <strong>{{ listValues.AccesibilidadPredio[dataVisorVisita.accesibilidadPredio] }}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Altitud del predio: <strong>{{ dataVisorVisita.altitudPredio }} m</strong></h4>
            </div>

            <div class="col s12 m12 l12">
                <h4 style="color: green; font-weight: bold;">Datos del cultivo</h4>
            </div>

            <div class="col s12 m6 l4">
                <h4>Cultivo: <strong>{{ dataVisorVisita.cultivoDescripcion }}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Variedad: <strong>{{ dataVisorVisita.variedad }}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Fecha de siembra: <strong>{{ dataVisorVisita.fechaSiembra | date: 'dd/MM/yyyy' }}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Experiencia en años: <strong>{{ dataVisorVisita.aniosExp }}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Tipo de semilla: <strong>{{ listValues.TipoSemilla[dataVisorVisita.tipoSiembra] }}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Rendimiento campaña anterior: <strong>{{ dataVisorVisita.rendimientoAnterior }} {{ dataVisorVisita.unidadPesoDescripcion }}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Rendimiento esperado: <strong>{{ dataVisorVisita.rendimientoEsperado }} {{ dataVisorVisita.unidadPesoDescripcion }}</strong></h4>
            </div>
            

            <div class="col s12 m12 l12">
                <h4 style="color: green; font-weight: bold;">Información predios colindantes:</h4>
                <strong>{{dataVisorVisita.comentPrediosColindantes}}</strong>
            </div>

            <div class="col s12 m12 l12">
                <h4 style="color: green; font-weight: bold;">Comentarios complementarios de la visita</h4>
                <strong>{{dataVisorVisita.comentRecomendaciones}}</strong>
            </div>
        </div>

        <div class="row" *ngIf="dataVisorVisita.tipoActividad == 2"> <!-- Actividad pecuaria -->
            
            <div class="col s12 m12 l12">
                <h4 style="color: green; font-weight: bold;">Datos de la actividad</h4>
            </div>

            <div class="col s12 m6 l4">
                <h4>Unidad a financiar: <strong>{{dataVisorVisita.unidadFinanciarDescripcion}}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Unidades a Financiar: <strong>{{dataVisorVisita.numUnidadesFinanciar}}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Unidades totales: <strong> {{ dataVisorVisita.numTotalUnidades }}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Unidades productivas: <strong> {{ dataVisorVisita.unidadesProductivas }}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Tipo alimentación: <strong> {{ listValues.TipoAlimentacion[dataVisorVisita.tipoAlimentacion] }}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Tipo manejo: <strong> {{ listValues.Manejo2[dataVisorVisita.tipoManejo] }}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Fuente de agua: <strong> {{ listValues.FuenteAgua[dataVisorVisita.tipoFuenteAgua] }}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Disponibilidad de agua: <strong> {{ listValues.DisponibilidadAgua2[dataVisorVisita.disponibilidadAguaPecuario] }}</strong></h4>
            </div>

            <div class="col s12 m12 l12">
                <h4 style="color: green; font-weight: bold;">Datos de la crianza</h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Crianza: <strong> {{ dataVisorVisita.crianzaDescripcion }}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Raza: <strong> {{ dataVisorVisita.raza }}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Años experiencia: <strong> {{ dataVisorVisita.aniosExperienciaPecuario }}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Tipo de tecnología: <strong> {{ listValues.TipoTecnologia[dataVisorVisita.tipoTecnologia] }}</strong></h4>
            </div>
            <div class="col s12 m6 l4">
                <h4>Manejo: <strong> {{ listValues.Manejo2[dataVisorVisita.tipoManejoPecuario] }}</strong></h4>
            </div>

            <div class="col s12 m12 l12">
                <h4 style="color: green; font-weight: bold;">Información predios colindantes:
                <strong>{{dataVisorVisita.comentPrediosColindantes}}</strong></h4>
            </div>

            <div class="col s12 m12 l12">
                <h4 style="color: green; font-weight: bold;">Comentarios complementarios de la visita
                <strong>{{dataVisorVisita.comentRecomendaciones}}</strong></h4>
            </div>
        </div>
        
        <div class="row">
            <h3 class="pdf-subtitle">Captura Mapa</h3>

            <div class="divider"></div>
            <div class="row col s12 m6 l6 offset-m3 l3 offset-l3">
                <div class="col s12 m6 l6">
                    <!-- <img width="400" [src]="dataVisorVisita.capturaMapa | safe: 'url'"> -->
                    <img width="400" [src]="dataVisorMapa | safe: 'url'">
                </div>
            </div>
        </div>
        <div class="row">
            <h3 class="pdf-subtitle">Fotografías Capturadas del Predio</h3>

            <div class="divider"></div>
            <div class="row" *ngIf="dataVisorVisitaImagenesPredios?.length > 0">
                <div class="col s12 m6 l4"  *ngFor="let img of dataVisorVisitaImagenesPredios;let i=index"> 
                    <img class="image_pdf" [src]="img.archivoBytes | safe: 'url'">
                </div> 
            </div>
        </div>
        <div class="row" *ngIf="dataVisorVisitaImagenesPrediosComp?.length > 0">
            <h3 class="pdf-subtitle">Fotografías Complementarias del Predio</h3>

            <div class="divider"></div>
            <div class="row" *ngIf="dataVisorVisitaImagenesPrediosComp?.length > 0">
                <div class="col s12 m6 l4"  *ngFor="let img of dataVisorVisitaImagenesPrediosComp;let i=index"> 
                    <img   class="image_pdf" [src]="img.archivoBytes | safe: 'url'">
                </div> 
            </div>
        </div>
        <div class="row">
            <h3 class="pdf-subtitle">Firmas Realizadas</h3>

            <div class="divider"></div>
            <div class="row">
                <div class="col s12 m6 l6">
                <h4>Firma del Titular</h4>
                    <img   class="image_pdf"   [src]="dataVisorVisitaImagenesFirmaTitular | safe: 'url'">
                </div>
                <div class="col s12 m6 l6" *ngIf="dataVisorVisitaImagenesFirmaConyuge != undefined">
                    <h4>Firma del Cónyuge</h4>
                        <img   class="image_pdf"   [src]="dataVisorVisitaImagenesFirmaConyuge | safe: 'url'">
                </div>
            </div>
        </div>

    </div>
</div>
<app-loading *ngIf="!peticionesTerminadas"></app-loading>
<app-msg-error></app-msg-error>