 .image_pdf {
     height: 200px;
     padding: 10px;
 }

 .image_pdf_mapa {
    width:450
}

h4 {
    font-weight: bold;
}

strong {
    font-weight: normal;
}

.row.vertical-divider {
    overflow: hidden;
}
.row.vertical-divider > div[class^="col"] {
/*text-align: center;*/
padding-bottom: 100px;
margin-bottom: -100px;
border-left: 1px solid #e0e0e0;
border-right: 1px solid #e0e0e0;
}
.row.vertical-divider div[class^="col"]:first-child {
border-left: none;
}
.row.vertical-divider div[class^="col"]:last-child {
border-right: none;
}

.pdf-subtitle {
    color: green;
    font-weight: bold;
}

