﻿<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-desktop fa-fw "></i>
                Configuracion
                <span>
                    >
                    Perfiles
                </span>
            </h1>
        </div>        
    </div>
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12 col-lg-6">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-orange" id="wid-id-0" data-widget-editbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-lg fa-user"></i> </span>
                        <h2>Perfiles </h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <form id="frm-Busqueda" class="smart-form">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-sm-12">
                                            <label class="label">Perfil</label>
                                            <label class="select">
                                                <select id="CboPerfil">
                                                    <option value="0" disabled="" selected="selected">[Seleccione]</option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </section>                                        

                                    </div>
                                    <div class="row">
                                        <section class="col col-sm-12">
                                            <label class="label">Descripci&oacute;n Perfil</label>
                                            <label class="select">
                                                <select id="CboAnalista">
                                                    <option value="" disabled="disabled" selected="selected">[Seleccione]</option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </section>
                                    </div>
                                    <footer>
                                        <button type="button" class="btn btn-default" id="btnLimpiar">
                                            <i class="fa fa-eraser"></i> Limpiar
                                        </button>
                                        <button type="button" class="btn btn-default" id="btnBuscarSolicitudes">
                                            <i class="fa fa-search"></i> Buscar
                                        </button>
                                    </footer>
                                </fieldset>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12 col-lg-6">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-blue" id="wid-id-1" data-widget-editbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-sitemap"></i> </span>
                        <h2>Opciones de Men&uacute; </h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="tree smart-form">
                                <ul>
                                    <li>
                                        <span><i class="fa fa-lg fa-folder-open"></i> Parent</span>
                                        <ul>
                                            <li>
                                                <span><i class="fa fa-lg fa-minus-circle"></i> Administrators</span>
                                                <ul>
                                                    <li>
                                                        <span>
                                                            <label class="checkbox inline-block">
                                                                <input type="checkbox" name="checkbox-inline">
                                                                <i></i>Michael.Jackson
                                                            </label>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <label class="checkbox inline-block">
                                                                <input type="checkbox" checked="checked" name="checkbox-inline">
                                                                <i></i>Sunny.Ahmed
                                                            </label>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <label class="checkbox inline-block">
                                                                <input type="checkbox" checked="checked" name="checkbox-inline">
                                                                <i></i>Jackie.Chan
                                                            </label>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <span><i class="fa fa-lg fa-minus-circle"></i> Child</span>
                                                <ul>
                                                    <li>
                                                        <span>
                                                            <label class="checkbox inline-block">
                                                                <input type="checkbox" name="checkbox-inline">
                                                                <i></i>Michael.Jackson
                                                            </label>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <label class="checkbox inline-block">
                                                                <input type="checkbox" checked="checked" name="checkbox-inline">
                                                                <i></i>Sunny.Ahmed
                                                            </label>
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span>
                                                            <label class="checkbox inline-block">
                                                                <input type="checkbox" checked="checked" name="checkbox-inline">
                                                                <i></i>Jackie.Chan
                                                            </label>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
        <!-- row -->
        <div class="row">
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->
@section pagespecific {
    <script type="text/javascript">// DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function () {

        // PAGE RELATED SCRIPTS

        $('.tree > ul').attr('role', 'tree').find('ul').attr('role', 'group');
        $('.tree').find('li:has(ul)').addClass('parent_li').attr('role', 'treeitem').find(' > span').attr('title', 'Collapse this branch').on('click', function (e) {
            var children = $(this).parent('li.parent_li').find(' > ul > li');
            if (children.is(':visible')) {
                children.hide('fast');
                $(this).attr('title', 'Expand this branch').find(' > i').removeClass().addClass('fa fa-lg fa-plus-circle');
            } else {
                children.show('fast');
                $(this).attr('title', 'Collapse this branch').find(' > i').removeClass().addClass('fa fa-lg fa-minus-circle');
            }
            e.stopPropagation();
        });

    })</script>
}