﻿<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-line-chart"></i>
                Avance de Solicitudes
                <span>

                </span>
            </h1>
        </div>
    </div>

    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                @*<div class="alert alert-info">
                    <strong>NOTE:</strong> NOTA
                </div>*@
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget well" id="wid-id-0">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                        -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
                        <h2>Widget Title </h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                            <input class="form-control" type="text">
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <table id="dataTable_Solicitudes" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th rowspan="2"></th>
                                        <th style="vertical-align:middle" rowspan="2">AGENCIAS/ANALISTA</th>
                                        <th style="text-align:center" colspan="2">ADMISI&Oacute;N</th>
                                        <th style="text-align:center" colspan="2">PROPUESTA - FLUJO</th>
                                        <th style="text-align:center" colspan="2">PROPUESTA APROBADA</th>
                                        @*<th style="vertical-align:middle" rowspan="2">DESEMBOLSO MES ACTUAL</th>*@
                                        <th style="text-align:center" colspan="2">DESEMBOLSO TOTAL</th>
                                    </tr>
                                    <tr>
                                        <th>Solicitudes</th>
                                        <th>Monto</th>

                                        <th>Propuestas</th>
                                        <th>Monto</th>
                                        
                                        <th>Propuestas</th>
                                        <th>Monto</th>
                                        
                                        <th>Cr&eacute;ditos</th>
                                        <th>Monto</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
        <!-- row -->
        <div class="row">
            <!-- a blank row to get started -->
            <div class="col-sm-12">
                <!-- your contents here -->
            </div>
        </div>
        <!-- end row -->
    </section>


</div>


@section pagespecific {
    <script type="text/javascript">

        $(document).ready(function () {
            /* Formatting function for row details - modify as you need */
            function format(analistas) {
                // `d` is the original data object for the row
                var strHead = '' +
                    '<div class="padding"> <div class="widget-body padding"> <table id="dataTable_SolicitudesAnalista" class="table table-hover">' +
                    '<thead>' + 
                    //'<tr>' + 
                    //    '<th style="width: 2.95%;"></th>' +
                    //    '<th>Analista</th>' + 
                    //    '<th style="width: 10%;">Nro Georeferenciacion</th>' +
                    //    '<th style="width: 10%;">Monto Georeferenciacion</th>' +                        
                    //    '<th style="width: 10%;">Nro Propuesta</th>' +
                    //    '<th style="width: 10%;">Monto Propuesta</th>' +
                    //    '<th style="width: 10%;">Nro Propuesta</th>' +
                    //    '<th style="width: 10%;">Monto Propuesta Aprob.</th>' +
                    //    '<th style="width: 12%;">Desembolso Mes Actual</th>' +
                    //'</tr>' +
                    '</thead >'
                    

                var row = '';
                analistas.forEach(function (analista, index) {
                    row = row +
                        '<tr>' +
                            '<td style="width: 2.95%;"></td>' + 
                            '<td>' + analista.NombreAnalista + '</td>' +
                            '<td class="col-number" style="width: 9%; text-align: right;">' + analista.NumeroGeoreferencia + '</td>' +
                            '<td class="col-number" style="width: 9%; text-align: right;">' + analista.MontoGeoreferencia + '</td>' +
                            '<td class="col-number" style="width: 9%; text-align: right;">' + analista.NumeroPropuesta + '</td>' +
                            '<td class="col-number" style="width: 9%; text-align: right;">' + analista.MontoPropuesta + '</td>' +
                            '<td class="col-number" style="width: 9%; text-align: right;">' + analista.NroPropuestaGenerada + '</td>' +                    
                            '<td class="col-number" style="width: 9%; text-align: right;">' + analista.MontoPropuestaGenerada + '</td>' +
                            '<td class="col-number" style="width: 9%; text-align: right;">' + analista.NroDesembolsoMes + '</td>' +
                            '<td class="col-number" style="width: 9%; text-align: right;">' + analista.MontoDesembolsoMes + '</td>'
                        '</tr>';
                });

                var strTable = strHead + '<tbody> ' + row + '</tbody>' + '</table > </div> </div>';
                return strTable;
            }

            // clears the variable if left blank
            var table = $('#dataTable_Solicitudes').DataTable({
                "data": [],
                "bDestroy": true,
                "iDisplayLength": 15,                
                "columns": [
                    {
                        "class": 'details-control',
                        "orderable": false,
                        "data": null,
                        "defaultContent": '',
                        "width": "3%"
                    },
                    {
                        "data": "Agencia"                        
                    },
                    {
                        "data": "NumeroGeoreferencia",
                        //"render": $.fn.dataTable.render.number("'", ".", 2),
                        "className": "text-right",
                        "width": "9%"
                    },
                    {
                        "data": "MontoGeoreferencia",
                        "render": $.fn.dataTable.render.number(",", ".", 2),
                        "className": "text-right",
                        "width": "9%"
                    },
                    {
                        "data": "NumeroPropuesta",                        
                        "className": "text-right",
                        "width": "9%"
                    },
                    {
                        "data": "MontoPropuesta",
                        "render": $.fn.dataTable.render.number(",", ".", 2),
                        "className": "text-right",
                        "width": "9%"
                    },
                    {
                        "data": "NroPropuestaGenerada",                        
                        "className": "text-right",
                        "width": "9%"
                    },
                    {
                        "data": "MontoPropuestaGenerada",
                        "render": $.fn.dataTable.render.number(",", ".", 2),
                        "className": "text-right",
                        "width": "9%"
                    },
                    {
                        "data": "NroDesembolsoMes",                        
                        "className": "text-right",
                        "width": "9%"
                    },
                    {
                        "data": "MontoDesembolsoMes",
                        "render": $.fn.dataTable.render.number(",", ".", 2),
                        "className": "text-right",
                        "width": "9%"
                    }
                ],
                "order": [[8, 'asc']],
                
                "fnDrawCallback": function (oSettings) {
                    runAllCharts();
                }
            });


            // Add event listener for opening and closing details
            $('#dataTable_Solicitudes tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');

                } else {
                    var requestData = {
                        CodAgencia: row.data().CodigoAgencia
                    };
                    var objeto;
                    $.ajax({
                        cache: false,
                        type: "POST",
                        url: '../Seguimiento/ConsultarAvanceSolicitudesPorAgencia',
                        data: JSON.stringify(requestData),
                        contentType: 'application/json',
                        processData: false,
                        beforeSend: function () { StarLoading(); },
                        success: function (response) {
                            if (response.length > 0) {
                                objeto = response;
                            } else {
                                ShowInfoBox("Información", "La búsqueda no obtuvo ningun resultado");
                            }
                        },
                        error: function () {
                            StopLoading();
                            ShowErrorBox("Atención", "Ocurrió un error, si el error persiste reportarlo con Sistemas");
                        },
                        complete: function () {
                            StopLoading();
                            row.child(format(objeto)).show();
                            tr.addClass('shown');
                            $('td.col-number').each(function () { $(this).html(parseFloat($(this).text()).toLocaleString('en-ES')); })
                        }
                    });
                    // Open this row
                    
                    
                }
                
            });

            ListarAvanceSolicitudes();

            function ListarAvanceSolicitudes() {
                
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: '../Seguimiento/ConsultarAvanceSolicitudes',
                    //data: JSON.stringify(requestData),
                    contentType: 'application/json',
                    processData: false,
                    beforeSend: function () { StarLoading(); },
                    success: function (response) {
                        if (response.length > 0) {
                            $('#dataTable_Solicitudes').DataTable().clear().draw();
                            $('#dataTable_Solicitudes').dataTable().fnAddData(response);
                        } else {
                            ShowInfoBox("Información", "La búsqueda no obtuvo ningun resultado");
                        }
                    },
                    error: function () {
                        StopLoading();
                        ShowErrorBox("Atención", "Ocurrió un error, si el error persiste reportarlo con Sistemas");
                    },
                    complete: function () {
                        StopLoading();
                    }
                });
            };

           


        });

    </script>
}