<app-loading *ngIf="loader"></app-loading>
<div class="section no-padding">
    <div class="row     col s12 no-mar-bot">
        <div class="section no-mar-bot">
            <div class="col s12 m12 l12">
                <h1 class="title">Asignación individual de visita por cliente</h1>
            </div>
        </div>
    </div>
</div>

<form [formGroup]="asignacionForm" noValidate (ngSubmit)="grabarAsignacion()">
    <div class="card-panel row layout-card-gray-2">

        <div class="row no-mar-bot">

            <div class="col s12">
                <div class="input-field input-field-common col l4 m6 s12">
                    <label class="label active" for="numerodocumento">Número de DNI</label>
                    <input type="text" name="numerodocumento" id="numerodocumento" formControlName="numerodocumento" maxlength=8>
                    <div style="color: red; font-size: small;" *ngIf="formSubmitted && asignacionForm.get('numerodocumento')?.errors">
                        Ingrese documento
                    </div>
                </div>
            
                <div class="input-field input-field-common col l4 m6 s12">
                    <label class="label active" for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" formControlName="nombre">
                     <div style="color: red; font-size: small;" *ngIf="formSubmitted && asignacionForm.get('nombre')?.errors">
                        Ingrese nombre
                    </div>  
                </div>
            </div>

            <div class="col s12">
                <div class="input-field input-field-common col l4 m6 s12">
                    <label class="label active" for="funcionario">Funcionario</label>
                    <select name="funcionario" id="select_funcionario" formControlName="codigofuncionario">
                        <option [ngValue]="0">--Seleccione--</option>
                        <option *ngFor="let funcionario of funcionarios" [ngValue]="funcionario.usuario">{{funcionario.nombre}}</option>
                    </select>
                    <div style="color: red; font-size: small;" *ngIf="formSubmitted && asignacionForm.get('codigofuncionario')?.errors">
                        Seleccione Funcionario
                    </div>
                </div>

                <div class="input-field input-field-common col l4 m6 s12">
                    <label class="label active" for="agencia">Profesional Técnico</label>
                    <select name="agencia" id="select_profesional" formControlName="codigoprofesional">
                        <option [ngValue]="0">--Seleccione--</option>
                        <option *ngFor="let profesional of profesionales, let i = index" [ngValue]="i">
                            {{profesional.primerNombre}} {{profesional.segundoNombre}} {{profesional.apellidoPaterno}} {{profesional.apellidoMaterno}}
                        </option>
                    </select>
                    <div style="color: red; font-size: small;" *ngIf="formSubmitted && asignacionForm.get('codigoprofesional')?.errors">
                        Seleccione Profesional Técnico
                    </div>
                </div>

                <div class="input-field input-field-common col l4 m6 s12">
                    <label class="label active" for="visita">Tipo de Visita</label>
                    <select name="visita" id="select_visita" formControlName="tipovisita">
                        <option *ngFor="let visita of visitas" [ngValue]="visita.codigoInterno">
                            {{visita.nombreParametro}}</option>
                    </select>
                    <div style="color: red; font-size: small;" *ngIf="formSubmitted && asignacionForm.get('tipovisita')?.errors">
                        Seleccione Tipo Visita
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col s6 m4 l3 offset-s6 offset-m8 offset-l9">
            <button class="btn waves-effect waves-light btn-default-resize" type="submit"
                style="margin-top:23px;">
                <span>Grabar asignación</span>
                <i class="material-icons" style="margin-left: 5px;">save</i>
            </button>
        </div>
    </div>
    
</form>

<app-msg-error></app-msg-error>
<app-msg-success [descripcion1]="msjSuccess"></app-msg-success>