<!-- <div class="row text-center animated fadeIn">
    <div class="col">
        <i class="fa fa-sync fa-spin fa-5x"></i>
    </div>
</div> -->

<div id="modal_loading_agro" class="loading-overlay on" style="display:block;">
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-green-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>