﻿    <!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">
    <!-- User info -->
    @{ Html.RenderPartial("_CurrentUser"); }
    <!-- end user info -->
    <!-- NAVIGATION : This navigation is also responsive

    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
    -->
    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->
        <ul>
            <li class="@Html.RouteIf("index", "active")">
                <a href="@Url.Action("index", "home")" title="Inicio"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Inicio</span></a>
            </li>

            @{
                var usuario = Session["oUsuario"] as Agrobanco.PlataformaAgroperu.Domain.Models.Account.Usuario;
                if (usuario != null)
                {
                    foreach (var menu in usuario.ListaMenu)
                    {
                        <li class="@Html.RouteIf(menu.Controller,"active")">
                            <a href="#"><i class="fa fa-lg fa-fw @menu.Icono"></i> <span class="menu-item-parent">@menu.DescripcionMenu</span></a>
                            <ul>
                                @foreach (var opcion in menu.Opciones)
                                {
                                    <li class="@Html.RouteIf(opcion.Action, "active")">
                                        <a href="@Url.Action(opcion.Action, menu.Controller)">@opcion.Descripcion</a>
                                    </li>

                                }
                            </ul>
                        </li>
                    }
                }
            }

            <li class="@Html.RouteIf("Formatos", "active")">
                <a href="@Url.Action("Formatos", "Descargas")" title="Descargas"><i class="fa fa-lg fa-fw fa-cloud-download"></i> <span class="menu-item-parent">Descargas Formatos</span></a>
            </li>
        </ul>

    </nav>

    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>
</aside>
<!-- END NAVIGATION -->