﻿<div class="login-info">
    <span>
        <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
            <img src="~/content/img/avatars/male.png" alt="me" class="online" />
            <span>@User.Identity.Name.ToLower()</span>
            @{
                var oUser = Session["oUsuario"] as Agrobanco.PlataformaAgroperu.Domain.Models.Account.Usuario;
                <span> @oUser.Name </span>
            }

            <i class="fa fa-angle-down"></i>
        </a>
    </span>
</div>