﻿<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script> if (!window.jQuery) { document.write('<script src="/scripts/libs/jquery-2.1.1.min.js"><\/script>'); } </script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script> if (!window.jQuery.ui) { document.write('<script src="/scripts/libs/jquery-ui-1.10.3.min.js"><\/script>'); } </script>

<!-- IMPORTANT: SmartAdmin Core -->
@Scripts.Render("~/scripts/smartadmin")

@if (Request.IsAuthenticated)
{
    <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
    @*<script data-pace-options='{ "restartOnRequestAfter": true }' src="~/scripts/plugin/pace/pace.min.js"></script>*@
    <!-- Demo purpose only! -->
    @*<script src="/scripts/demo.min.js"></script>*@
}

<!-- Voice command : plugin -->
<script src="~/scripts/speech/voicecommand.min.js">
</script>
<script type="text/javascript">
    function ShowSuccessBox(title, message) {
        showBox(title, message, "#4BB543", "fa fa-info-circle");
    }

    function ShowWarningBox(title, message) {
        showBox(title, message, "#E5B700", "fa fa-warning");
    }

    function ShowErrorBox(title, message) {
        showBox(title, message, "#E53737", "fa fa-bug");
    }

    function ShowInfoBox(title, message) {
        showBox(title, message, "#58ACFA", "fa fa-info-circle");
    }

    function showBox(title, message, color, icon) {
        $.smallBox({
            title: title,
            content: message,
            color: color,
            timeout: 5000,
            icon: icon
        });
    }

    function ViewAndHide(DivView, DivHide) {
        $(DivHide).toggle("slow");
        $(DivView).toggle("slow");
    }

    $('.input-number').on('input', function () {
    this.value = this.value.replace(/[^0-9]/g, '');
    });

    function StarLoading() {
        $.blockUI({
            message: $("<div class=\"spinner\"><div class=\"dot1\"></div><div class=\"dot2\"></div></div>"),
            overlayCSS: { backgroundColor: '#0D372C' },
            css: {
                border: 'none',
                padding: '3px',
                backgroundColor: 'none',
                '-webkit-border-radius': '10px',
                '-moz-border-radius': '10px',
                opacity: .8,
                color: '#333333',
                width: '110px',
                top: ($(window).height() - 110) / 2 + 'px',
                left: ($(window).width() - 110) / 2 + 'px'
            },
            baseZ: 2000
        });
    }

    function StopLoading() {
        $.unblockUI();
    }

</script>

<!-- SmartChat UI : plugin -->
@Scripts.Render("~/scripts/smart-chat")

<!-- DataTables : plugin -->
@Scripts.Render("~/scripts/datatables")

<!-- jQGrid : plugin -->
@Scripts.Render("~/scripts/jq-grid")

<!-- Forms : plugin -->
@Scripts.Render("~/scripts/forms")

<!-- Flot Chart Plugin: Flot Engine, Flot Resizer, Flot Tooltip, Morris, Sparkline, EasyPie -->
@Scripts.Render("~/scripts/charts")

<!-- Vector Maps Plugin: Vectormap engine, Vectormap language -->
@Scripts.Render("~/scripts/vector-map")

<!-- Full Calendar -->
@Scripts.Render("~/scripts/full-calendar")

<!-- DO NOT REMOVE : GLOBAL FUNCTIONS! -->
<script>
    $(document).ready(function () {
        pageSetUp();
        drawBreadCrumb();

        $(this).bind("contextmenu", function (e) {
            e.preventDefault();
        });

        $(this).bind("keydown", function () {
            if (window.event && (window.event.keyCode === 122 || window.event.keyCode === 117 || window.event.keyCode === 123))
            { window.event.keyCode = 505; }
            if (window.event.keyCode === 505) { return false; }
            if (window.event && window.event.keyCode === 8) { //Back space
                var pElement = $(document.activeElement);
                if (pElement.val() == undefined) {
                    return false;
                }
                else {
                    switch (pElement.prop("type")) {
                    case "select-one":
                    case "button":
                    case "radio":
                    case "checkbox":
                    case "file":
                    case "reset":
                    case "submit":
                        return false;
                    default:
                        if (pElement.val().length === 0 || pElement.prop("readonly")) {
                            return false;
                        }
                        break;
                    }
                }
            }
            return true;
        });
    });

    //$(document).ajaxStart(function() {
    //    $.blockUI({
    //        message: $("<div class=\"spinner\"><div class=\"dot1\"></div><div class=\"dot2\"></div></div>"),
    //        overlayCSS: { backgroundColor: '#0D372C' },
    //        css: {
    //            border: 'none',
    //            padding: '3px',
    //            backgroundColor: 'none',
    //            '-webkit-border-radius': '10px',
    //            '-moz-border-radius': '10px',
    //            opacity: .8,
    //            color: '#333333',
    //            width: '110px',
    //            top: ($(window).height() - 110) / 2 + 'px',
    //            left: ($(window).width() - 110) / 2 + 'px'
    //        },
    //        baseZ: 2000
    //    });
    //}).ajaxStop($.unblockUI);

</script>

@if (@Model is HelperResult)
{
    @Model
}
<!-- Your GOOGLE ANALYTICS CODE Below-->
    @*<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'xx-xxxxxxxx-x']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>*@

