﻿
<div id="content">

    <section id="widget-grid" class="">
        <div class="row" id="div-Parametros">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- PARAMETROS BUSQUEDA -->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header role="heading">
                        <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                        <h2>Parametros B&uacute;squeda </h2>
                    </header>
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- widget div-->
                    <div class="widget-body">
                        <form id="frm-Busqueda" class="smart-form">
                            <fieldset>
                                <div class="row">
                                    <section class="col col-3">
                                        <label class="label">Agencia</label>
                                        <label class="select">
                                            <select id="CboAgencia">
                                                <option value="0" disabled="">[Seleccione]</option>
                                            </select>
                                            <i></i>
                                        </label>
                                    </section>
                                    <section class="col col-3">
                                        <label class="label">Analista</label>
                                        <label class="select">
                                            <select id="CboAnalista">
                                                <option value="" disabled="disabled" selected="selected" >[Seleccione]</option>

                                            </select>
                                            <i></i>
                                        </label>
                                    </section>

                                </div>
                                <footer>
                                    <button type="button" class="btn btn-default" id="btnLimpiar">
                                        <i class="fa fa-eraser"></i> Limpiar
                                    </button>
                                    <button type="button" class="btn btn-default" id="btnBuscarSolicitudes">
                                        <i class="fa fa-search"></i> Buscar
                                    </button>
                                </footer>
                            </fieldset>
                        </form>
                    </div>
                    <!-- end widget div -->
                </div>
            </article>
        </div>

        <!--Tabla solicitudes -->
        <div class="row">
            <!-- NEW RELACION DE INTEGRANTES -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-ListaIntegrantes" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2> Relaci&oacute;n  de Integrantes </h2>
                    </header>
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <table id="datatable_Integrantes" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th>Ver Mapa</th>
                                        <th data-hide="phone">N&uacute;mero Solicitud</th>
                                        <th data-class="expand">N&uacute;mero DNI</th>
                                        <th data-hide="phone">Nombre Cliente</th>
                                        <th>Cultivo</th>
                                        <th>Monto Soles</th>
                                        <th data-hide="phone">Resultado Evaluaci&oacute;n</th>                                        
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                        <!-- end widget content -->
                    </div>
                </div>

            </article>
            <!-- END RELACION DE INTEGRANTES -->

        </div>

        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false" data-widget-deletebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2> Mapa </h2>
                    </header>
                    <div class="">
                        <div class="">
                            <form class="smart-form">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="label">Opciones de Predios</label>
                                            <div class="inline-group">
                                                <label class="checkbox">
                                                    <input type="checkbox" name="checkbox-inline" id="chkPrediosCercanos">
                                                    <i></i>Total Cartera
                                                </label>
                                                <label class="checkbox">
                                                    <input type="checkbox" name="checkbox-inline" id="chkPrediosAnalista">
                                                    <i></i>Predios Analista
                                                </label>
                                                <label class="checkbox">
                                                    <input type="checkbox" name="checkbox-inline" id="chkPuntosFotos">
                                                    <i></i>Puntos Fotograficos
                                                </label>
                                            </div>
                                        </section>

                                        <section class="col col-6">
                                            <label class="label">Capas de inter&eacute;s</label>
                                            <div class="inline-group">
                                                <label class="checkbox">
                                                    <input type="checkbox" name="checkbox-inline" id="chkRios">
                                                    <i></i>Rios
                                                </label>
                                                <label class="checkbox">
                                                    <input type="checkbox" name="checkbox-inline" id="chkViasPeru">
                                                    <i></i>Carreteras y v&iacute;as
                                                </label>
                                            </div>
                                        </section>
                                    </div>
                                    
                                </fieldset>
                            </form>
                        </div>
                    </div>

                    <!-- widget div-->
                    <div id="map" class="google_maps" style="background-color:blue; height:600px">

                    </div>
                    <!-- end widget div -->
                </div>

            </article>
        </div>

        <form class="smart-form">
            <div class="inline-group">
                <label class="checkbox">
                <input class="chk11" type="checkbox" name="checkbox-inline" id="chk11" onchange='window.location.assign("javascript:Prueba(2)")'><i></i>Predios Cercanos
                </label>
            </div>
        </form>





    </section>

    <input type="hidden" name="hidCodAgencia" id="hidCodAgencia" value="@ViewBag.CodigoAgencia" />
    <input type="hidden" name="hidCodFuncionario" id="hidCodFuncionario" value="@ViewBag.CodigoFuncionario" />

</div>

@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->
    
    <script src="@Url.Content("~/Scripts/app/Consultas/BandejaCliente.js")"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyXoimns7yRxICBqtXxox64rbVNEuJ8zE"></script>

    <script type="text/javascript">

        

    </script>
}