﻿
@{
    ViewBag.Title = "Solicitudes";
}

<div id="content">

    <section id="widget-grid" class="">
        <!-- row RELACION DE AGRUPAMIENTOS -->
        <div class="" id="div-RelacionIntegrante">
            <!-- NEW WIDGET START -->
            <div class="row">
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget" id="wid-id-Buscar" data-widget-editbutton="false" data-widget-deletebutton="false">

                        <header role="heading">
                            <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                            <h2> Par&aacute;metros de B&uacute;squeda </h2>
                        </header>
                        <!-- widget div-->
                        <div role="content">
                            <div class="widget-body">
                                <div class="smart-form">
                                    <div id="div-errors"></div>
                                    <form id="frm-Busqueda">
                                        <fieldset>
                                            <div class="row">
                                                <section class="col col-3">
                                                    <label class="label"> Numero Agrupamiento </label>
                                                    <label class="input">

                                                        <input class="input-number" maxlength="6" placeholder="Numero Agrupamiento" type="text" name="TxtNumeroAgrupamiento" id="TxtNumeroAgrupamiento">
                                                    </label>

                                                </section>
                                            </div>
                                            <footer>
                                                @*<button type="button" class="btn btn-default" id="btnLimpiar">
                                                        <i class="fa fa-eraser"></i> Limpiar
                                                    </button>*@
                                                <button type="button" class="btn btn-default" id="btnBuscar">
                                                    <i class="fa fa-search"></i> Buscar
                                                </button>
                                            </footer>
                                        </fieldset>
                                    </form>

                                </div>
                            </div>
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                    </div>
                    <br />
                </article>
            </div>

            <!-- WIDGET END -->
            <div class="row">
                <!-- NEW RELACION DE INTEGRANTES -->
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <div class="jarviswidget" id="wid-id-ListaIntegrantes" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2> Relaci&oacute;n  de Integrantes </h2>
                        </header>
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">
                                <table id="datatable_Integrantes" class="table table-striped table-bordered table-hover" width="100%">
                                    <thead>
                                        <tr>
                                            <th data-class="expand"><i class="fa fa-fw fa-gear text-muted hidden-md hidden-sm hidden-xs"></i> Opc</th>
                                            <th data-hide="phone">N&uacute;mero Solicitud</th>
                                            <th>N&uacute;mero DNI</th>
                                            <th data-hide="phone">Nombre Cliente</th>                                            
                                            <th>Monto Soles</th>
                                            <th data-hide="phone">Resultado Filtro</th>
                                            <th data-hide="phone">Tipo Cuota</th>
                                            <th data-hide="phone">Geo Ref</th>
                                            <th data-hide="phone">Inf Vis</th>
                                            <th data-hide="phone">F. Caja</th>
                                            <th data-hide="phone">Inf Com</th>
                                            <th data-hide="phone">Prop</th>
                                            <th data-hide="phone">Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                            </div>
                            <!-- end widget content -->
                        </div>
                    </div>

                </article>
                <!-- END RELACION DE INTEGRANTES -->

            </div>
        </div>
        <!-- end row DETALLE DE AGRUPAMIENTO -->
        <!-- row DETALLE DE INTEGRANTE -->
        <div class="" id="div-DetalleIntegrante" hidden="hidden">
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                    <h1 class="page-title txt-color-blueDark">
                        <i class="fa fa-user fa-fw "></i> <label id="LblNomIntegrante"> [Nombre]</label> <span>

                        </span>
                    </h1>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8 text-align-right">
                    <button type="button" class="btn btn-success" id="btnRegresarSolicitudes">
                        <i class="fa fa-backward"></i> Regresar
                    </button>
                </div>
            </div>

            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget" id="wid-id-Integrante" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                            <h2> Datos de Integrante </h2>
                        </header>
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body">

                                <div class="tabs">
                                    <ul class="nav nav-tabs tabs-left">
                                        <li class="active">
                                            <a href="#tab1" data-toggle="tab">Info. Cliente @*<span class="badge bg-color-blue txt-color-white">12</span>*@</a>
                                        </li>
                                        <li>
                                            <a href="#tab2" data-toggle="tab">Info. Solicitud</a>
                                        </li>
                                        @*<li>
                                                <a href="#tab3" data-toggle="tab">Info. Garant&iacute;as </a>
                                            </li>*@
                                    </ul>
                                    <div class="tab-content tab-Cliente">
                                        <div class="tab-pane active" id="tab1">
                                            <form id="form-Titular" class="smart-form" novalidate="novalidate">
                                                <fieldset>
                                                    <h4><strong>Datos Titular</strong></h4>
                                                    <hr class="simple" />
                                                    <div class="row">
                                                        <section class="col col-3">
                                                            <label class="label">Tipo Documento</label>
                                                            <label class="select">
                                                                <select id="ddlTipDoc" name="ddlTipDoc" class="data-Integrante">
                                                                    <option value="0" selected="" disabled="">[tipo documento]</option>
                                                                    <option value="DNI">DNI</option>
                                                                    <option value="RUC">RUC</option>
                                                                </select> <i></i>
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">N&uacute;mero Documento</label>
                                                            <label class="input">
                                                                <i class="icon-append fa fa-user"></i>
                                                                <input type="text" id="TxtNumDoc" name="TxtNumDoc" placeholder="Numero Documento" class="data-Integrante">
                                                                <b class="tooltip tooltip-bottom-right">Numero Documento</b>
                                                            </label>
                                                        </section>
                                                    </div>
                                                    <div class="row">
                                                        <section class="col col-3">
                                                            <label class="label">Primer Nombre</label>
                                                            <label class="input">
                                                                <i class="icon-append fa fa-user"></i>
                                                                <input type="text" id="TxtPrimerNombre" name="TxtPrimerNombre" placeholder="Primer Nombre" class="data-Integrante">
                                                                <b class="tooltip tooltip-bottom-right">Primer Nombre</b>
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">Segundo Nombre</label>
                                                            <label class="input">
                                                                <i class="icon-append fa fa-user"></i>
                                                                <input type="text" id="TxtSegundoNombre" name="TxtSegundoNombre" placeholder="Segundo Nombre" class="data-Integrante">
                                                                <b class="tooltip tooltip-bottom-right">Segundo Nombre</b>
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">Apellido Paterno</label>
                                                            <label class="input">
                                                                <i class="icon-append fa fa-user"></i>
                                                                <input type="text" id="TxtApPaterno" name="TxtApPaterno" placeholder="Apellido Paterno" class="data-Integrante">
                                                                <b class="tooltip tooltip-bottom-right">Apellido Paterno</b>
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">Apellido Materno</label>
                                                            <label class="input">
                                                                <i class="icon-append fa fa-user"></i>
                                                                <input type="text" id="TxtApMaterno" name="TxtApMaterno" placeholder="Apellido Materno" class="data-Integrante">
                                                                <b class="tooltip tooltip-bottom-right">Apellido Materno</b>
                                                            </label>
                                                        </section>
                                                    </div>
                                                    <div class="row">
                                                        <section class="col col-3">
                                                            <label class="label">Sexo</label>
                                                            <label class="select">
                                                                <select id="ddlSexo" name="ddlSexo" class="data-Integrante">
                                                                    <option value="0" selected="" disabled="">[Sexo]</option>
                                                                    <option value="M">Masculino</option>
                                                                    <option value="F">Femenino</option>
                                                                </select> <i></i>
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">Estado Civil</label>
                                                            <label class="select">
                                                                <select id="ddlEstadoCivil" name="ddlEstadoCivil" class="data-Integrante">
                                                                    <option value="0" selected="" disabled="">[Estad Civil]</option>
                                                                    <option value="1">Soltero</option>
                                                                    <option value="2">Casado</option>
                                                                    <option value="3">Divorciado</option>
                                                                    <option value="4">Viudo</option>
                                                                    <option value="5">Cohabitando</option>
                                                                </select> <i></i>
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">N&uacute;mero Celular</label>
                                                            <label class="input">
                                                                <i class="icon-prepend fa fa-phone"></i>
                                                                <input type="tel" id="TxtCelular" name="TxtCelular" placeholder="Numero Celular" data-mask="999999999" class="data-Integrante edit">
                                                                <b class="tooltip tooltip-bottom-right">N&uacute;mero Celular</b>
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">Experiencia</label>
                                                            <label class="input">
                                                                <input type="text" id="TxtExperiencia" name="TxtExperiencia" placeholder="Experiencia" class="data-Integrante">
                                                                <b class="tooltip tooltip-bottom-right">Experiencia (Años)</b>
                                                            </label>
                                                        </section>
                                                    </div>
                                                    <div class="row">
                                                        <section class="col col-3">
                                                            <label class="label">Fecha Nacimiento</label>
                                                            <label class="input">
                                                                <i class="icon-append fa fa-calendar"></i>
                                                                <input type="text" id="TxtFecha" name="TxtFecha" placeholder="Fecha Nacimiento" class="datepicker data-Integrante"
                                                                       data-mask="99/99/9999" data-dateformat='dd/mm/yy'>
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">Correo</label>
                                                            <label class="input">
                                                                <input type="text" id="TxtCorreo" name="TxtCorreo" placeholder="Correo" class="data-Integrante edit">
                                                                <b class="tooltip tooltip-bottom-right">Correo</b>
                                                            </label>
                                                        </section>
                                                    </div>
                                                </fieldset>
                                                <fieldset>
                                                    <h4><strong>Datos Conyugue</strong></h4>
                                                    <hr class="simple" />
                                                    <div class="row">
                                                        <section class="col col-3">
                                                            <label class="label">Tipo Documento</label>
                                                            <label class="select">
                                                                <select id="ddlTipoDocCony" name="ddlTipoDocCony" class="data-Integrante">
                                                                    <option value="0" selected="" disabled="">[tipo documento]</option>
                                                                    <option value="DNI">DNI</option>
                                                                    <option value="RUC">RUC</option>
                                                                </select> <i></i>
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">N&uacute;mero Documento</label>
                                                            <label class="input">
                                                                <i class="icon-append fa fa-user"></i>
                                                                <input type="text" id="TxtNumDocCony" name="TxtNumDocCony" placeholder="Numero Documento" class="data-Integrante">
                                                                <b class="tooltip tooltip-bottom-right">Numero Documento</b>
                                                            </label>
                                                        </section>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                        <div class="tab-pane" id="tab2">
                                            <form id="form-Solicitud" class="smart-form" novalidate="novalidate">
                                                <fieldset>
                                                    <h4><strong>Datos Predio</strong></h4>
                                                    <hr class="simple" />
                                                    <div class="row">
                                                        <section class="col col-3">
                                                            <label class="label">Departamento</label>
                                                            <label class="select">
                                                                <select id="ddlDepartamento" name="ddlDepartamento" class="data-Integrante">
                                                                    <option value="0" selected="selected" disabled="disabled">[Seleccione Departamento]</option>
                                                                </select> <i></i>
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">Provincia</label>
                                                            <label class="select">
                                                                <select id="ddlProvincia" name="ddlProvincia" class="data-Integrante">
                                                                    <option value="0" selected="selected" disabled="disabled">[Seleccione Provincia]</option>
                                                                </select> <i></i>
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">Distrito</label>
                                                            <label class="select">
                                                                <select id="ddlDistrito" name="ddlDistrito" class="data-Integrante">
                                                                    <option value="0" selected="selected" disabled="disabled">[Seleccione Distrito]</option>
                                                                </select> <i></i>
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">Referencia</label>
                                                            <label class="input">
                                                                @*<i class="icon-append fa fa-user"></i>*@
                                                                <input type="text" id="TxtReferencia" name="TxtReferencia" placeholder="Referencia" class="data-Integrante">
                                                                <b class="tooltip tooltip-bottom-right">Referecia</b>
                                                            </label>
                                                        </section>
                                                    </div>
                                                    <div class="row">
                                                        <section class="col col-3">
                                                            <label class="label">R&eacute;gimen Tenencia</label>
                                                            <label class="select">
                                                                <select id="ddlTenencia" name="ddlTenencia" class="data-Integrante">
                                                                    <option value="0" selected="selected" disabled="disabled">[Seleccione]</option>
                                                                    <option value="CAAP">Arriendo + Areas Propias</option>
                                                                    <option value="CA1V">Arriendo</option>
                                                                    <option value="CCOM">Comunero</option>
                                                                    <option value="CTPR">Con t&iacute;tulo por Registrar</option>
                                                                    <option value="CTYR">Con t&iacute;tulo ya Registrado</option>
                                                                    <option value="CPOS">Posesionario</option>
                                                                </select> <i></i>
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">Unidad Catastral</label>
                                                            <label class="input">
                                                                <input type="text" id="TxtUnidadCatastral" name="ddlUnidadCatastral" class="data-Integrante">
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">Estado Campo</label>
                                                            <label class="select">
                                                                <select id="ddlEstadoCampo" name="ddlEstadoCampo" class="data-Integrante">
                                                                    <option value="0" selected="selected" disabled="disabled">[Seleccione]</option>
                                                                    <option value="1">En preparaci&oacute;n</option>
                                                                    <option value="2">Otro Cultivo</option>
                                                                    <option value="3">Regado</option>
                                                                    <option value="4">Sembrado</option>
                                                                </select> <i></i>
                                                            </label>
                                                        </section>
                                                    </div>
                                                </fieldset>

                                                <fieldset>
                                                    <h4><strong>Datos Solicitud</strong></h4>
                                                    <hr class="simple" />
                                                    <div class="row">
                                                        <section class="col col-3">
                                                            <label class="label">Tipo Unidad Financiamiento</label>
                                                            <label class="select">
                                                                <select id="ddlFinanciamiento" name="ddlFinanciamiento" class="data-Integrante">
                                                                    <option value="0" selected="selected" disabled="disabled">[Seleccione]</option>
                                                                    <option value="CG">CABEZA DE GANADO</option>
                                                                    <option value="HAS">HECTAREAS</option>
                                                                </select> <i></i>
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">Nro Unidades Totales</label>
                                                            <label class="input">
                                                                <input type="text" id="TxtUnidTotales" name="TxtUnidTotales" placeholder="" data-mask="99" class="data-Integrante">
                                                                <b class="tooltip tooltip-bottom-right">Referecia</b>
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">Nro Unidades Financiadas</label>
                                                            <label class="input">
                                                                <input type="text" id="TxtUnidFinanciadas" name="TxtUnidFinanciadas" placeholder="" data-mask="99" class="data-Integrante">
                                                                <b class="tooltip tooltip-bottom-right">Referecia</b>
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">Monto Solicitado</label>
                                                            <label class="input">
                                                                <input type="text" id="TxtMontoSolicitado" name="TxtMontoSolicitado" placeholder="" class="data-Integrante">
                                                                <b class="tooltip tooltip-bottom-right">Referecia</b>
                                                            </label>
                                                        </section>
                                                    </div>
                                                    <div class="row">
                                                        <section class="col col-3">
                                                            <label class="label">Env&iacute;o Cronograma</label>
                                                            <label class="select">
                                                                <select id="ddlEnvioCronograma" name="ddlEnvioCronograma" class="data-Integrante">
                                                                    <option value="X" selected="selected" disabled="disabled">[Seleccione]</option>
                                                                    <option value="0">No desea</option>
                                                                    <option value="1">Enviar por Correo</option>
                                                                    <option value="2">Enviar Impreso</option>
                                                                </select> <i></i>
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">¿Qu&eacute; hacer Adelanto?</label>
                                                            <label class="select">
                                                                <select id="ddlAdelanto" name="ddlAdelanto" class="data-Integrante">
                                                                    <option value="0" selected="selected" disabled="disabled">[Seleccione]</option>
                                                                    <option value="1">Reducir Monto Cuotas</option>
                                                                    <option value="2">Reducir Nro Cuotas</option>
                                                                    <option value="3">Consultar v&iacute;a Web</option>
                                                                </select> <i></i>
                                                            </label>
                                                        </section>
                                                    </div>
                                                    <div class="row">
                                                        <h4><strong>Forma de Abono</strong></h4>
                                                        <hr class="simple" />
                                                        <section class="col col-3">
                                                            @*<label class="label">Tipo</label>*@
                                                            <label class="select">
                                                                <select id="ddlFormaAbono_Cliente" name="ddlFormaAbono_Cliente" class="data-Integrante edit">
                                                                    <option value="" selected="selected" disabled="disabled">[Seleccione Tipo]</option>
                                                                </select> <i></i>
                                                            </label>
                                                        </section>
                                                        <div class="transf">
                                                            <section class="col col-3">
                                                                @*<label class="label">Banco</label>*@
                                                                <label class="select">
                                                                    <select id="ddlBanco_Abono" name="ddlBanco_Abono" class="data-abono">
                                                                        <option value="" selected="selected" disabled="disabled">[Seleccione Banco]</option>
                                                                    </select> <i></i>
                                                                </label>
                                                            </section>

                                                            <section class="col col-3">
                                                                @*<label class="label">CCI</label>*@
                                                                <label class="input">
                                                                    <input type="text" id="TxtCCI" name="TxtCCI" class="data-abono"
                                                                           placeholder="Codigo de Cuenta Interbancaria">
                                                                    <b class="tooltip tooltip-bottom-right">CCI</b>
                                                                </label>
                                                            </section>
                                                        </div>
                                                    </div>
                                                </fieldset>

                                            </form>
                                        </div>

                                    </div>
                                </div>


                            </div>
                            <!-- end widget content -->
                        </div>

                    </div>
                </article>

            </div>
        </div>
        <!-- end row DETALLE DE INTEGRANTE -->
        <!-- start row RESUMEN CALIFICACIONES SBS -->
    </section>

    <!-- TIPO CRONOGRAMA -->
    <div class="modal fade" id="myModal-TipoCronograma" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <span>Cliente: </span><h5 class="modal-title" id="ModalTC-NomCliente"></h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form id="frmTipoCuota" class="smart-form">
                            <div>
                                <section class="col col-6">
                                    <label class="label"> Tipo Cronograma </label>
                                    <label class="select">
                                        <select class="" id="ModalTC-TipoCuota" name="ModalTC-TipoCuota">
                                            <option value="" selected="selected" disabled>[Seleccione]</option>
                                            <option value="1">Al Vencimiento</option>
                                            <option value="3">Cuota Fija</option>
                                            <option value="9">Cuota Variable</option>
                                        </select>

                                    </label>
                                </section>

                                <section class="col col-3">
                                    <label class="label"> N° Cuotas </label>
                                    <label class="select">
                                        <select class="plazo" id="ModalTC-NumeroCuotas" name="ModalTC-NumeroCuotas">
                                            <option value="" selected="selected" disabled>[Seleccione]</option>
                                            <option value="1">01</option>
                                            <option value="4">02</option>
                                            <option value="3">03</option>
                                            <option value="4">04</option>
                                            <option value="5">05</option>
                                        </select>
                                    </label>
                                </section>
                            </div>

                        </form>
                    </div>

                    <div class="row" id="ModalTC-div-CuotasFijas">
                        <form id="frmCuotaFija" class="smart-form">
                            <fieldset>
                                <div>
                                    <section class="col col-6">
                                        <label class="label"> Unidad de Frecuencia </label>
                                        <label class="select">
                                            <select class="lectura" id="ModalTC-UnidadFrecuencia" name="ModalTC-UnidadFrecuencia">
                                                @*<option value="" selected="selected" disabled>[Seleccione]</option>*@
                                                @*<option value="D">DIA</option>*@
                                                <option value="M" selected="selected">MES</option>
                                                @*<option value="Y">AÑO</option>*@
                                            </select>
                                        </label>
                                    </section>
                                    <section class="col col-4">
                                        <label class="label">Frecuencia Pago</label>
                                        <label class="input has-warning">
                                            <input type="number" class="form-control lectura plazo" id="ModalTC-FrecuenciaPago" min="1" step="1" pattern="^[1-9]\d*$">
                                        </label>
                                    </section>
                                    <input type="hidden" name="ModalTC-hidMaxPlazo" id="ModalTC-hidMaxPlazo" value="" result="true" />
                                </div>
                            </fieldset>
                            <fieldset>
                                <div>
                                    <section class="col col-6">
                                        <label class="label">Periodo de Gracia</label>
                                        <label class="input has-warning">
                                            <i class="icon-append fa fa-calendar"></i>
                                            <input type="text" id="ModalTC-FechaGracia" name="ModalTC-FechaGracia" placeholder="" class="datepicker lectura form-group" data-dateformat='dd/mm/yy' result="false" required>
                                        </label>
                                    </section>
                                    <section class="col col-4" id="Sec-DiasGracia">
                                        <label class="label">D&iacute;as de Gracia</label>
                                        <label class="input has-warning">
                                            <input type="number" class="form-control form-group lectura" id="ModalTC-DiasGracia" min="1" readonly>
                                        </label>
                                    </section>
                                    <input type="hidden" name="ModalTC-hidMaxDiasGracia" id="ModalTC-hidMaxDiasGracia" value="" result="false" />
                                </div>

                            </fieldset>
                        </form>
                    </div>

                    <div class="row" id="ModalTC-div-CuotasVariables">
                        <form id="frmCuotas" class="smart-form">
                            <header>
                                Registro Cuotas Variables
                            </header>
                            <fieldset id="RegistroCuotas"></fieldset>
                        </form>
                    </div>

                    <div class="alert alert-info fade in div-ValidacionPlazo" hidden="hidden">
                        <i class="fa-fw fa fa-warning"></i>
                        <strong>Atenci&oacute;n </strong> <p id="p-ValidacionPlazo"> El plazo de la solicitud no coincide con el plazo del cronograma, Verifique... </p>
                    </div>

                    <input type="hidden" name="ModalTC-hidNroSolicitud" id="ModalTC-hidNroSolicitud" value="" />
                    <input type="hidden" name="ModalTC-hidNroDocumento" id="ModalTC-hidNroDocumento" value="" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="BtnCancelarTipoCronograma">
                        <i class=""></i> Cancelar
                    </button>
                    <button type="button" class="btn btn-primary" id="BtnGuardarTipoCronograma">
                        <i class="fa fa-save"></i> Guardar
                    </button>
                </div>

            </div>
        </div>
    </div>
    <!-- /.modals -->
</div>


@section pagespecific {
    @*<script src="@Url.Content("~/Scripts/app/Consultas/ConsultaSolicitudes.js")"></script>
    <script src="@Url.Content("~/Scripts/app/Consultas/ConsultaDetalleIntegrante.js")"></script>*@

    @Scripts.Render("~/scripts/ConsultaSolicitudes")

}

