﻿




@{
    ViewBag.Title = "Consulta";
}


<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h1 class="page-title txt-color-blueDark">
                    <i class="fa fa-edit fa-fw "></i>
                    Consultas
                    <span>
                        >
                        Resultados
                    </span>
                </h1>
            </div>
        </div>

        <!-- widget grid -->


        <div id="div-Padron">
            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget" id="wid-id-Buscar" data-widget-editbutton="false" data-widget-deletebutton="false">

                        <header role="heading">
                            <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                            <h2> Par&aacute;metos de B&uacute;squeda </h2>
                        </header>
                        <!-- widget div-->
                        <div role="content">
                            <div class="widget-body">
                                <div class="smart-form">
                                    <div id="div-errors"></div>
                                    <form id="frm-Busqueda">
                                        <fieldset>
                                            <div class="row">
                                                <section class="col col-3">
                                                    <label class="label">Agencia</label>
                                                    <label class="select">
                                                        <select id="cboAgencia" name="cboAgencia" disabled>
                                                            <option value="0" selected="" disabled=""> [Seleccione] </option>
                                                        </select>
                                                        <i></i>
                                                    </label>
                                                </section>
                                                @*<section class="col col-3">
                                                        <label class="label">C&oacute;digo Analista</label>
                                                        <label class="select">
                                                            <select id="cboFuncionario" name="cboFuncionario">
                                                                <option value="0" selected="" disabled=""> [Seleccione] </option>
                                                            </select>
                                                            <i></i>
                                                        </label>
                                                    </section>*@

                                                <section class="col col-3">
                                                    <label class="label"> Numero Padrón </label>
                                                    <label class="input">

                                                        <input class="input-number" maxlength="6" placeholder="Numero Padron" type="text" name="TxtNumeroPadron" id="TxtNumeroPadron">
                                                    </label>

                                                </section>

                                                @*<section class="col col-6">
                                                        <label class="label"> Numero Padron </label>
                                                        <div class="form-group">
                                                            <div class="input-group">

                                                                <input class="form-control" placeholder="Numero Padron" type="text" name="TxtNumeroPadron" id="TxtNumeroPadron">
                                                            </div>
                                                        </div>
                                                    </section>*@
                                            </div>
                                            @*<div class="row">
                                                    <div class="col-sm-12">
                                                        <label class=""> Numero Agrupamiento </label>
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-envelope fa-lg fa-file-text"></i></span>
                                                                <input class="form-control input-lg" placeholder="Numero Agrupamiento" type="text" name="TxtNumeroAgrupamiento" id="TxtNumeroAgrupamiento">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>*@
                                            <footer>
                                                <button type="button" class="btn btn-default" id="btnLimpiar">
                                                    <i class="fa fa-eraser"></i> Limpiar
                                                </button>
                                                <button type="button" class="btn btn-default" id="btnBuscarPadron">
                                                    <i class="fa fa-search"></i> Buscar
                                                </button>
                                            </footer>
                                        </fieldset>
                                    </form>

                                </div>
                            </div>
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                    </div>
                </article>


            </div>

            <div class="row">
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Resultados Padron</h2>
                        </header>

                        <div>
                            
                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->
                                </div>
                                <!-- end widget edit box -->
                                <!-- widget content -->
                                <div class="widget-body no-padding">
                                    <table id="datatable_ResultadoPadron" class="table table-striped table-bordered table-hover" width="100%">
                                        <thead>
                                            <tr>

                                                <th data-class="expand">Tipo Documento</th>
                                                <th data-class="expand">Numero</th>
                                                <th data-class="expand">Integrante</th>
                                                <th data-class="expand">Solicitud</th>
                                                <th data-class="expand">Codigo</th>
                                                <th data-class="expand">Descripción</th>

                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <!-- end widget content -->
                           
                        </div>

                    </div>
                </article>
            </div>

        </div>
    </section>

    <input type="hidden" name="hidCodAgencia" id="hidCodAgencia" value="@ViewBag.CodigoAgencia" />
    <input type="hidden" name="hidCodFuncionario" id="hidCodFuncionario" value="@ViewBag.CodigoFuncionario" />
</div>






@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->
    @*<script src="../Scripts/app/Consultas/ResultadosPadron.js"></script>*@
    @Scripts.Render("~/scripts/ResultadosEvaluaciones")
    <script>
        $(document).ready(function () {
            ObtenerParametricasGrupo();
        })

    </script>
}


