﻿@{
    ViewBag.Title = "Consulta";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-edit fa-fw "></i>
                Consultas
                <span>
                    >
                    Resultados
                </span>
            </h1>
        </div>
    </div>

    <!-- widget grid -->
    <div id="div-Prospecto">
        <section id="widget-grid" class="">
            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <!-- Widget ID (each widget will need unique ID)-->

                    <div class="jarviswidget" id="wid-id-Buscar" data-widget-editbutton="false" data-widget-deletebutton="false">

                        <header role="heading">
                            <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                            <h2> Par&aacute;metos de B&uacute;squeda </h2>
                        </header>
                        <!-- widget div-->
                        <div role="content">
                            <div class="widget-body">
                                <div class="smart-form">
                                    <div id="div-errors"></div>
                                    <form id="frm-Busqueda">
                                        <fieldset>
                                            <div class="row">
                                                <section class="col col-3">
                                                    <label class="label">Agencia</label>
                                                    <label class="select">
                                                        <select id="cboAgencia" name="cboAgencia" disabled>
                                                            <option value="0" selected="" disabled=""> [Seleccione] </option>
                                                        </select>
                                                        <i></i>
                                                    </label>
                                                </section>
                                                <section class="col col-3">
                                                    <label class="label">C&oacute;digo Analista</label>
                                                    <label class="select">
                                                        <select id="cboFuncionario" name="cboFuncionario">
                                                            <option value="0" selected="" disabled=""> [Seleccione] </option>
                                                        </select>
                                                        <i></i>
                                                    </label>
                                                </section>


                                                <section class="col col-2">
                                                    <label class="label"> Código Grupo </label>
                                                    <label class="input">
                                                        <input class="form-control" placeholder="Código Grupo" type="text" name="TxtNumeroAgrupamiento" id="TxtNumeroAgrupamiento">
                                                    </label>

                                                </section>
                                            </div>

                                            <footer>
                                                <button type="button" class="btn btn-default" id="btnLimpiar">
                                                    <i class="fa fa-eraser"></i> Limpiar
                                                </button>
                                                <button type="button" class="btn btn-default" id="btnBuscar">
                                                    <i class="fa fa-search"></i> Buscar
                                                </button>
                                            </footer>
                                        </fieldset>
                                    </form>

                                </div>
                            </div>
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                    </div>

                    <!-- end widget div -->
                    <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Resultados Agrupamiento</h2>
                        </header>

                        <div class="row">
                            
                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->
                                </div>
                                <!-- end widget edit box -->
                                <!-- widget content -->
                                <div class="widget-body no-padding">
                                    <table id="datatable_ResultadoAgrupamiento" class="table table-striped table-bordered table-hover" width="100%">
                                        <thead>
                                            <tr>

                                                <th data-class="expand">Tipo Documento</th>
                                                <th data-class="expand">Numero</th>
                                                <th data-class="expand">Integrante</th>
                                                <th data-class="expand">Solicitud</th>
                                                <th data-class="expand">Codigo</th>
                                                <th data-class="expand">Descripción</th>

                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <!-- end widget content -->
                            
                        </div>

                    </div>
                </article>
            </div>

        </section>
    </div>
    <input type="hidden" name="hidCodAgencia" id="hidCodAgencia" value="@ViewBag.CodigoAgencia" />
    <input type="hidden" name="hidCodFuncionario" id="hidCodFuncionario" value="@ViewBag.CodigoFuncionario" />
</div>






@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->
    @*<script src="../Scripts/app/Consultas/ResultadosAgrupamiento.js"></script>*@
    @Scripts.Render("~/scripts/ResultadosEvaluaciones")
    <script>
        $(document).ready(function () {
            ObtenerParametricasGrupo();
        })

    </script>
}

