<ul (click)="clickSlideOut()" id="slide-out" class="sidenav collapsible">
    <li>
        <div class="user-view center-align">
            <div class="background">

            </div>
        </div>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li *ngFor="let modulo of redirectService.modulos" class="" routerLinkActive="active">
        <div class="collapsible-header" tabindex="0" *ngIf="modulo.TipoOpcion != 3 && filtrarTieneOpciones(modulo.IdOpcion) == 0">
            <i class="material-icons">{{ modulo.TipoIconoDescripcion }}</i>
            <div>
                <div>
                    <span class="cssurl">
                        <a [routerLink]="modulo.UrlOpcion">{{ modulo.DescripcionAplicacion | uppercase}}</a>
                    </span>
                </div>
            </div>
        </div>
                    
        <div class="collapsible-header" tabindex="0" *ngIf="filtrarTieneOpciones(modulo.IdOpcion) > 0">
            <i class="material-icons">{{ modulo.TipoIconoDescripcion }}</i>
            <div>
                {{ modulo.DescripcionAplicacion | uppercase}}
            </div>
            <i class="material-icons keyboard_arrow_down">keyboard_arrow_down</i>
        </div>

        <div class="collapsible-body" *ngFor="let opc of filtrarOpcionesPorModulo(modulo.IdOpcion)">
            <span class="cssurl">
                <a [routerLink]="obtenerRutaOpcion(opc)">{{ opc.DescripcionAplicacion | uppercase}}</a>
            </span>
        </div>
    </li>
</ul>

