﻿

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-file-text-o"></i>
                Padrón
                <span>
                    >
                    Consultas
                </span>
            </h1>
        </div>
    </div>

    <section id="widget-grid" class="">
        <!-- row CONSULTA DE PADRON -->
        <div class="row" id="div-Consulta-PADRON">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- PARAMETROS BUSQUEDA -->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header role="heading">
                        <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                        <h2>Parametros B&uacute;squeda </h2>
                    </header>
                    <!-- widget div-->
                    <div class="widget-body">
                        <div class="smart-form">
                            <div id="div-errors"></div>
                            <form id="frm-Busqueda">
                                <fieldset>
                                    <div class="row">
                                        @{
                                            var usuario = Session["oUsuario"] as Agrobanco.PlataformaAgroperu.Domain.Models.Account.Usuario;

                                            <section class="col col-3">
                                                <label class="label">Agencia</label>
                                                <label class="select">
                                                    <select id="CboAgencia">
                                                        <option value="0" disabled="">[Seleccione]</option>
                                                        <option value="@usuario.CodigoAgencia" selected="">@usuario.NombreAgencia</option>
                                                    </select>
                                                    <i></i>
                                                </label>
                                            </section>
                                            @*<section class="col col-3">
                                                    <label class="label">Funcionario</label>
                                                    <label class="select">
                                                        <select id="CboAnalista">
                                                            <option value="0" disabled="disabled">[Seleccione]</option>
                                                            <option value="@usuario.CodigoFuncionario" selected="">@usuario.Name</option>
                                                        </select>
                                                        <i></i>
                                                    </label>
                                                </section>*@
                                        }


                                    </div>
                                    <footer>
                                        <button type="button" class="btn btn-default" id="btnLimpiar">
                                            <i class="fa fa-eraser"></i> Limpiar
                                        </button>
                                        <button type="button" class="btn btn-default" id="btnBuscarPadrones">
                                            <i class="fa fa-search"></i> Buscar
                                        </button>
                                    </footer>
                                </fieldset>
                            </form>

                        </div>
                    </div>
                    <!-- end widget div -->
                </div>

                <!-- DATATABLE PROSPECTOS -->
                <div class="jarviswidget" id="wid-id-Bandeja" data-widget-editbutton="false" data-widget-deletebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2> Relación de Padrones </h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <table id="datatable_Padrones" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    @*<tr>
                                        <td></td>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filtrar Codigo" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filtrar Nombre" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filtrar Junta" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filtrar Comision" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filtrar Nro. Reg." />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filtrar Nro. Aprob." />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filtrar Estado" />
                                        </th>
                                        <th class="hasinput icon-addon">
                                            <input id="dateselect_filter" type="text" placeholder="Filtrar Fecha" class="form-control datepicker" data-dateformat="yy/mm/dd">
                                            <label for="dateselect_filter" class="glyphicon glyphicon-calendar no-margin padding-top-15" rel="tooltip" title="" data-original-title="Filter Date"></label>
                                        </th>
                                    </tr>*@
                                    <tr>
                                        <th data-class="expand">Opc</th>
                                        <th data-hide="phone">C&oacute;digo</th>
                                        <th>Nombre Padr&oacute;n</th>
                                        <th data-hide="phone">Nombre Organizaci&oacute;n</th>
                                        <th>Nombre Comisi&oacute;n</th>
                                        <th data-hide="phone,tablet">Nro Reg</th>
                                        <th data-hide="phone,tablet">Nro Aprob</th>
                                        <th data-hide="phone">Estado</th>
                                        <th data-hide="phone">Fecha Creaci&oacute;n</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <br />
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>

            </article>
        </div>

        <!-- row ESTADISTICAS DE PADRON -->
        <div id="div-Estadistica-Padron" class="row" hidden="">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <div class="row">
                        <h1 class="text-success"><strong class="textName"><i class="fa fa-file fa-lg"></i> Nombre Padron </strong></h1>
                        <br />
                    </div>
                    @*@Html.Partial("_EstadisticasProspectoPartial")*@
                    <div class="row">
                        <div class="col-xs-12 text-align-right">
                            <button type="button" class="btn btn-success" id="btnRegresarConsultaPadron">
                                <i class="fa fa-backward"></i> Regresar
                            </button>

                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            </article>
        </div>


    </section>

    <input type="hidden" name="hidCodAgencia" id="hidCodAgencia" value="@ViewBag.CodigoAgencia" />
    <input type="hidden" name="hidCodFuncionario" id="hidCodFuncionario" value="@ViewBag.CodigoFuncionario" />

</div>


@section pagespecific {

    @*<script src="../Scripts/app/Padron/ConsultaPadron.js"></script>*@
    @Scripts.Render("~/scripts/Padron")

    <script type="text/javascript">
        $(document).ready(function () {
            // Filtros Tabla Padrones
            $("#datatable_Padrones thead th input[type=text]").on('keyup change', function () {
                oGrupo
                    .column($(this).parent().index() + ':visible')
                    .search(this.value)
                    .draw();
            });
            /* Config Tabla Padrones  */
            var oGrupo = $('#datatable_Padrones').DataTable({
                "data": [],
                "order": [[1, 'desc']],
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_Padrones) {
                        responsiveHelper_datatable_Padrones = new ResponsiveDatatablesHelper($('#datatable_Padrones'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_Padrones.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_Padrones.respond();
                },
                "bServerSide": false,
                "columns": [
                    {
                        'searchable': false,
                        'orderable': false,
                        'align': 'center',
                        'width': '3%',
                        'className': 'dt-body-center',
                        'render': function (data, type, dataItem, meta) {
                            return '<div class="btn-group">' +
                                '<a href="javascript:void(0);" class="btn btn-default btn-xs" dropdown-toggle" data-toggle="dropdown">' +
                                '<i class="fa fa-gear fa-lg"></i> <i class="fa fa-caret-down"></i></a>' +
                                '<ul class="dropdown-menu">' +
                                '<li> <a href="javascript:DescargarPadron(\'' + dataItem.CodigoPadron + '\',\'' + dataItem.Nombre + '\');"><i class="fa fa-file-excel-o"></i> Descargar Resultados </a> </li>' +
                                '</ul>' +
                                '</div>';
                        }
                    },
                    {
                        "data": "CodigoPadron",
                        "width": "3%"
                    },

                    {
                        "data": "NombrePadron",
                        "width": "15%"
                    },
                    { "data": "NombreJunta" },
                    {
                        "data": "NombreComision",
                        "width": "10%"
                    },
                    {
                        "data": "NroRegistros",
                        "render": $.fn.dataTable.render.number(",", ".", 0),
                        "className": "text-right",
                        "width": "6%"
                    },
                    {
                        "data": "NroAprobados",
                        "render": $.fn.dataTable.render.number(",", ".", 0),
                        "className": "text-right",
                        "width": "6%"
                    },
                    {
                        "data": "Estado",
                        "width": "7%"
                    },
                    {
                        "data": "FechaCreacion",
                        "width": "7%"
                    }
                ],
                "error": function (xhr, error, thrown) {
                    alert('Ocurrio un error al procesar');
                }
            });

            $("#btnBuscarPadrones").trigger('click');
            //$("#CboAgencia").append($('<option>', { value: $("").val(), text: $("").val() }));

        });
    </script>

}


