﻿
<div id="content">

    <section id="widget-grid" class="">
        <div class="row" id="div-Parametros">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- PARAMETROS BUSQUEDA -->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header role="heading">
                        <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                        <h2>Parametros B&uacute;squeda </h2>
                    </header>
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- widget div-->
                    <div class="widget-body">
                        <form id="frm-Busqueda" class="smart-form">
                            <fieldset>
                                <div class="row">
                                    <section class="col col-6">
                                        <label class="label"> Organizaci&oacute;n de Productores</label>
                                        <label class="select">
                                            <select id="CboOrganizacion">
                                                <option value="" disabled="disabled" selected="selected">[Seleccione]</option>
                                            </select>
                                            <i></i>
                                        </label>
                                    </section>
                                </div>
                                <footer>
                                    <a class="btn btn-default" id="btnVerComisiones" data-toggle="modal" data-target="#myModal-NuevaComision">
                                        <i class="fa fa-file fa-fw"></i> Nueva Comsi&oacute;n
                                    </a>
                                </footer>
                            </fieldset>
                        </form>
                    </div>
                    <!-- end widget div -->
                </div>
            </article>
        </div>

        <!--Tabla solicitudes -->
        <div class="row">
            <!-- NEW RELACION DE INTEGRANTES -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-ListaComisiones" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2> Lista de Comisiones </h2>
                    </header>
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <table id="datatable_Comisiones" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th data-hide="phone"> C&oacute;digo Comisi&oacute;n</th>
                                        <th>Nombre Comisi&oacute;n</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                        <!-- end widget content -->
                    </div>
                </div>

            </article>
            <!-- END RELACION DE INTEGRANTES -->

        </div>

    </section>


    <div class="modal fade" id="myModal-NuevaComision" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h3 class="modal-title" id="myModalLabel">Nueva Comisi&oacute;n</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="tags"> Organización de Productores </label>
                                <input type="text" class="form-control" id="modal1-txtNomOrganizacion" disabled placeholder="Nombre" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="tags"> Nombre Comisi&oacute;n: </label>
                                <textarea class="form-control form-file" id="modal1-txtComision" placeholder="Nombre Comsion" rows="3" required maxlength="50"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="BtnCancelarNuevaComision" type="button" class="btn btn-warning-sigd" data-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="button" class="btn btn-default" id="modal-BtnCrearComision">
                        <i class="fa fa-save fa-fw"></i> Guardar Comisi&oacute;n
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="myModal-EditarComision" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h3 class="modal-title" id="myModalLabel">Nueva Comisi&oacute;n</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="tags"> Organización de Productores </label>
                                <input type="text" class="form-control" id="modal2-txtNomOrganizacion" disabled placeholder="Nombre" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="tags"> Nombre Comisi&oacute;n: </label>
                                <input type="text" class="form-control form-file" id="modal2-txtComision" placeholder="Content" rows="3" required maxlength="50" />
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="modal2-hidCodOrganizacion" id="modal2-hidCodOrganizacion" value="" />
                    <input type="hidden" name="modal2-hidCodComision" id="modal2-hidCodComision" value="" />

                </div>
                <div class="modal-footer">
                    <button id="BtnCancelarActualizarComision" type="button" class="btn btn-default" data-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="button" class="btn btn-success" id="modal-BtnActualizarComision">
                        <i class="fa fa-save fa-fw"></i> Guardar Comisi&oacute;n
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div>
        <input type="hidden" name="hidCodAgencia" id="hidCodAgencia" value="@ViewBag.CodigoAgencia" />
        <input type="hidden" name="hidCodFuncionario" id="hidCodFuncionario" value="@ViewBag.CodigoFuncionario" />
    </div>


</div>

@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->
    @Scripts.Render("~/scripts/MantenimientoComisiones")

    <script type="text/javascript">



    </script>
}