﻿@*@using Agrobanco.PlataformaAgroperu.Web;
    @model System.Collections.Generic.List<Agrobanco.PlataformaAgroperu.Domain.Models.Common.ParametricasModel>*@


<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-list-alt fa-fw "></i>
                Matriz de Costos
            </h1>
        </div>
    </div>

    <section id="widget-grid" class="">


        <!--Tabla solicitudes -->
        <div class="row" id="div-TablaCostos">
            <!-- NEW TABLA COSTOS -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-Busqueda" data-widget-editbutton="false" data-widget-deletebutton="false">

                    <header role="heading">
                        <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                        <h2> Par&aacute;metos de B&uacute;squeda </h2>
                    </header>
                    <!-- widget div-->
                    <div class="row">
                        <div class="widget-body">
                            <div class="smart-form">
                                <div id="div-errors"></div>
                                <form id="frm-Busqueda">
                                    <fieldset>
                                        <div class="row">
                                            <section class="col col-3">
                                                <label class="label">Sector</label>
                                                <label class="select">
                                                    <select id="cboSector" name="cboSector">
                                                        <option value="0" selected=""> Todos </option>
                                                    </select>
                                                    <i></i>
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label class="label">Programa</label>
                                                <label class="select">
                                                    <select id="cboPrograma" name="cboPrograma">
                                                        <option value="0" selected=""> Todos </option>
                                                    </select>
                                                    <i></i>
                                                </label>
                                            </section>


                                            <section class="col col-3">
                                                <label class="label">Filtro</label>
                                                <label class="checkbox">
                                                    <input type="checkbox" name="checkbox" id="chkHistorico">
                                                    <i></i>Inlcuir deshabilidatos
                                                </label>
                                            </section>

                                        </div>

                                    </fieldset>
                                    <footer>
                                        <button type="button" class="btn btn-default" id="btnDescargar">
                                            <i class="fa fa-download"></i> Descargar
                                        </button>
                                        <button type="button" class="btn btn-default" id="btnNuevoCosto">
                                            <i class="fa fa-file-text"></i> Nuevo
                                        </button>
                                        <button type="button" class="btn btn-default" id="btnBuscar">
                                            <i class="fa fa-search"></i> Buscar
                                        </button>
                                    </footer>
                                </form>

                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>

                <div class="jarviswidget" id="wid-id-Costos" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2> Matriz de Costos </h2>
                        <div class="widget-toolbar">
                            <div class="btn-group">
                                
                                @*<ul class="dropdown-menu pull-right">
                            <li>
                                <a id="BtnNuevoCosto"> Nuevo </a>
                            </li>
                        </ul>*@
                            </div>
                        </div>
                    </header>
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <table id="datatable_Costos" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Sector</th>
                                        <th>Producto</th>
                                        <th>Departamento</th>
                                        <th>Costo Prod.</th>
                                        <th>% Financ.</th>
                                        <th>Rend.</th>
                                        <th>Uni. Rend.</th>
                                        <th>Plazo Meses</th>
                                        <th>Inicio Camp.</th>
                                        <th>Fin Camp.</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                        <!-- end widget content -->
                    </div>
                </div>

            </article>
            <!-- END RELACION DE INTEGRANTES -->

        </div>

        <div class="row" id="div-DatosCostos">

            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-DatosCostos" data-widget-sortable="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-collapsed="false">
                    <header>
                        <h2><strong>Datos</strong> <i>Matriz Costo</i></h2>
                        <div class="widget-toolbar">
                            <div class="label label-success">
                                <i class="fa-fw fa fa-tags"></i>
                                C&oacute;digo  <strong class="" id="MC_Codigo"></strong>
                            </div>
                        </div>
                    </header>

                    <div>
                        <div class="widget-body no-padding">
                            <form id="form-MatrizCostos" class="smart-form" action="#">

                                <fieldset>
                                    <div class="row">


                                        @*<h2 class="row-seperator-header color-green"><i class="fa fa-plus"></i> ZONAS DE PRODUCCI&Oacute;N </h2>*@
                                        <section class="col col-md-12 col-lg-12">
                                            <!-- Sector, Producto y Zona*></!--Sector -->
                                            <fieldset>
                                                <header class="color-green"><strong> Sector, Producto y Zona </strong> </header>
                                                <br />
                                                <div class="row">
                                                    <section class="col col-4">
                                                        <label class="label"> Sector </label>
                                                        <label class="select">
                                                            <select id="MC_Sector" name="MC_Sector" class="frm-MC-s-key Sector-Programa" required>
                                                                <option value="" disabled="disabled" selected="selected">[Seleccione]</option>
                                                            </select>
                                                            <i></i>
                                                        </label>
                                                    </section>

                                                    <section class="col col-4">
                                                        <label class="label"> Programa </label>
                                                        <label class="select">
                                                            <select id="MC_Programa" name="MC_Programa" class="frm-MC-s-key Sector-Programa" required>
                                                                <option value="" disabled="disabled" selected="selected">[Seleccione]</option>
                                                            </select>
                                                            <i></i>
                                                        </label>
                                                    </section>

                                                    <section class="col col-4" id="div-MC_NivelTecnologico" hidden>
                                                        <label class="label"> Nivel Tecnol&oacute;gico </label>
                                                        <label class="select">
                                                            <select id="MC_NivelTecnologico" name="MC_NivelTecnologico" class="frm-MC-s-key" required>
                                                                <option value="" disabled="disabled" selected="selected">[Seleccione]</option>
                                                            </select>
                                                            <i></i>
                                                        </label>
                                                    </section>
                                                </div>

                                                <div class="row">
                                                    <section class="col col-4">
                                                        <label class="label"> Producto </label>
                                                        <label class="input">
                                                            <input type="text" list="list" id="MC_Producto" name="MC_Producto" class="frm-MC-i-key" required>
                                                            <datalist id="list"></datalist>
                                                        </label>
                                                        <input type="hidden" name="MC_CodigoProducto" id="MC_CodigoProducto" value="" />
                                                    </section>

                                                    <section class="col col-8">
                                                        <label class="label"> Descripci&oacute;n </label>
                                                        <label class="input">
                                                            <input type="text" id="MC_DescripcionProducto" name="MC_DescripcionProducto" class="frm-MC-i" maxlength="80">
                                                        </label>
                                                    </section>

                                                </div>

                                                <div class="row">
                                                    <section class="col col-4" id="div-MC_TipoProducto" hidden>
                                                        <label class="label"> Tipo Producto </label>
                                                        <label class="select">
                                                            <select id="MC_TipoProducto" name="MC_TipoProducto" class="" disabled="disabled">
                                                                <option value="" disabled="disabled" selected="selected">[Seleccione]</option>
                                                                <option value="0001">TRANSITORIO</option>
                                                                <option value="0004">PERMANENTE</option>
                                                            </select>
                                                            <i></i>
                                                        </label>
                                                    </section>

                                                    <section class="col col-4">
                                                        <label class="label"> Priorizaci&oacute;n </label>
                                                        <label class="select">
                                                            <select id="MC_Priorizacion" name="MC_Priorizacion" class="frm-MC-s" required>
                                                                <option value="" disabled="disabled" selected="selected">[Seleccione]</option>
                                                                <option value="01">PRIORIZADO</option>
                                                                <option value="02">NO PRIORIZADO</option>
                                                            </select>
                                                            <i></i>
                                                        </label>
                                                    </section>

                                                    <section class="col col-4">
                                                        <label class="label"> Unidad de Financiamiento </label>
                                                        <label class="select">
                                                            <select id="MC_UnidadFinanciamiento" name="MC_UnidadFinanciamiento" class="frm-MC-s" required>
                                                                <option value="" disabled="disabled" selected="selected">[Seleccione]</option>
                                                            </select>
                                                            <i></i>
                                                        </label>
                                                    </section>
                                                </div>

                                                <div class="row">
                                                    <section class="col col-4">
                                                        <label class="label"> Departamento </label>
                                                        <label class="select">
                                                            <select id="frmCboDepartamento" name="MC_Departamento" class="frm-MC-s-key" required>
                                                                <option value="" disabled="disabled" selected="selected">[Seleccione]</option>
                                                            </select>
                                                            <i></i>
                                                        </label>
                                                    </section>
                                                    <section class="col col-4">
                                                        <label class="label"> Provincia </label>
                                                        <label class="select">
                                                            <select id="frmCboProvincia" name="MC_Provincia" class="frm-MC-s-key" required>
                                                                <option value="" disabled="disabled" selected="selected">[Seleccione]</option>
                                                            </select>
                                                            <i></i>
                                                        </label>
                                                    </section>
                                                    <section class="col col-4">
                                                        <label class="label"> Distrito </label>
                                                        <label class="select">
                                                            <select id="frmCboDistrito" name="MC_Distrito" class="frm-MC-s-key" required>
                                                                <option value="" disabled="disabled" selected="selected">[Seleccione]</option>
                                                            </select>
                                                            <i></i>
                                                        </label>
                                                    </section>
                                                </div>
                                                <div>
                                                    <input type="hidden" id="MC_Codigo_hd" name="MC_Codigo_hd" value="0" />
                                                </div>
                                            </fieldset>

                                            <!-- Parametros de Producción -->
                                            <fieldset>
                                                <header class="color-green"><strong> Par&aacute;metros de Producci&oacute;n </strong> </header>
                                                <br />
                                                <div class="row">
                                                    <section class="col col-3">
                                                        <label class="label"> Rendimiento </label>
                                                        <label class="input">
                                                            @*<i class="icon-append fa fa-envelope-o"></i>*@
                                                            <input type="number" step=".01" name="MC_Rendimiento" id="MC_Rendimiento" class="frm-MC-i" required>
                                                        </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="label"> Unidad de Rendimiento </label>
                                                        <label class="select">
                                                            <select name="MC_UnidadRendimiento" id="MC_UnidadRendimiento" class="frm-MC-s" required>
                                                                <option value="" disabled="disabled" selected="selected">[Seleccione]</option>
                                                            </select>
                                                            <i></i>
                                                        </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="label"> Precio Venta Chacra </label>
                                                        <label class="input">
                                                            @*<i class="icon-append fa fa-credit-card"></i>*@
                                                            <input type="number" step=".01" name="MC_PrecioChacra" id="MC_PrecioChacra" class="frm-MC-i" required>
                                                        </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="label"> Unidad de Precio </label>
                                                        <label class="select">
                                                            <select name="MC_UnidadPrecio" id="MC_UnidadPrecio" class="frm-MC-s" required>
                                                                <option value="PEN" selected="selected">PEN</option>
                                                                <option value="USD">USD</option>
                                                            </select>
                                                            <i></i>
                                                        </label>
                                                    </section>

                                                </div>
                                                <div class="row">
                                                    <section class="col col-3">
                                                        <label class="label"> Costo de Producci&oacute;n </label>
                                                        <label class="input">
                                                            @*<i class="icon-append fa fa-credit-card"></i>*@
                                                            <input type="number" step=".01" name="MC_CostoProduccion" id="MC_CostoProduccion" class="frm-MC-i MC-calc1" required>
                                                        </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="label"> Unidad de Costo </label>
                                                        <label class="select">
                                                            <select name="MC_UnidadCosto" id="MC_UnidadCosto" class="frm-MC-s" required>
                                                                <option value="PEN" selected="selected">PEN</option>
                                                                <option value="USD">USD</option>
                                                            </select>
                                                            <i></i>
                                                        </label>
                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-3">
                                                        <label class="label"> Periodo Fenl&oacute;gico (Meses) </label>
                                                        <label class="input">
                                                            <input type="number" id="MC_PeriodoFenologico" name="MC_PeriodoFenologico" class="frm-MC-s MC-calculo-plazo" required>
                                                        </label>
                                                    </section>

                                                    <section class="col col-3">
                                                        <label class="label"> Periodo Post Cosecha (Meses) </label>
                                                        <label class="input">
                                                            <input type="number" id="MC_PeriodoPostCosecha" name="MC_PeriodoPostCosecha" class="frm-MC-s MC-calculo-plazo" required>
                                                        </label>
                                                    </section>
                                                </div>
                                                <div class="row">

                                                    <section class="col col-3">
                                                        <label class="label"> Inicio de Campaña </label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-calendar"></i>
                                                            <input type="text" id="MC_InicioCampana" name="MC_InicioCampana" class="frm-MC-i" placeholder="Fecha inicio" required>
                                                        </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="label"> Fin de Campaña </label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-calendar"></i>
                                                            <input type="text" id="MC_FinCampana" name="MC_FinCampana" class="frm-MC-i" placeholder="Expected finish date" required>
                                                        </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="label"> C&oacute;digo Campaña </label>
                                                        <label class="input">
                                                            @*<i class="icon-append fa fa-credit-card"></i>*@
                                                            <input type="number" name="MC_CodigoCampana" id="MC_CodigoCampana" class="" value="0" readonly>
                                                        </label>
                                                        <div class="note">
                                                            <strong>Nota:</strong> Generado automaticamente.
                                                        </div>
                                                    </section>

                                                </div>

                                                <div class="row">
                                                    <section class="col col-2">
                                                        <label class="label"> Inicio de Siembra </label>
                                                        <label class="select">
                                                            <select id="MC_InicioSiembra" name="MC_InicioSiembra" class="frm-MC-s select-Siembra" required>
                                                                <option value="" disabled="disabled" selected="selected">[Seleccione]</option>
                                                                <option value="1">Enero</option>
                                                                <option value="2">Febrero</option>
                                                                <option value="3">Marzo</option>
                                                                <option value="4">Abril</option>
                                                                <option value="5">Mayo</option>
                                                                <option value="6">Junio</option>
                                                                <option value="7">Julio</option>
                                                                <option value="8">Agosto</option>
                                                                <option value="9">Setiembre</option>
                                                                <option value="10">Octubre</option>
                                                                <option value="11">Noviembre</option>
                                                                <option value="12">Diciembre</option>
                                                            </select>
                                                            <i></i>
                                                        </label>
                                                    </section>
                                                    <section class="col col-2">
                                                        <label class="label"> Fin de Siembra </label>
                                                        <label class="select">
                                                            <select id="MC_FinSiembra" name="MC_FinSiembra" class="frm-MC-s select-Siembra" required>
                                                                <option value="" disabled="disabled" selected="selected">[Seleccione]</option>
                                                                <option value="1">Enero</option>
                                                                <option value="2">Febrero</option>
                                                                <option value="3">Marzo</option>
                                                                <option value="4">Abril</option>
                                                                <option value="5">Mayo</option>
                                                                <option value="6">Junio</option>
                                                                <option value="7">Julio</option>
                                                                <option value="8">Agosto</option>
                                                                <option value="9">Setiembre</option>
                                                                <option value="10">Octubre</option>
                                                                <option value="11">Noviembre</option>
                                                                <option value="12">Diciembre</option>
                                                            </select>
                                                            <i></i>
                                                        </label>
                                                    </section>
                                                    <section class="col col-8">

                                                        <label class="label">Meses de Siembra</label>
                                                        <div class="inline-group">
                                                            <ul id="MesesSiembra" class="pagination">
                                                                <li id="1">
                                                                    <a href="javascript:void(0);">ENE</a>
                                                                </li>
                                                                <li id="2">
                                                                    <a href="javascript:void(0);">FEB</a>
                                                                </li>
                                                                <li id="3">
                                                                    <a href="javascript:void(0);">MAR</a>
                                                                </li>
                                                                <li id="4">
                                                                    <a href="javascript:void(0);">ABR</a>
                                                                </li>
                                                                <li id="5">
                                                                    <a href="javascript:void(0);">MAY</a>
                                                                </li>
                                                                <li id="6">
                                                                    <a href="javascript:void(0);">JUN</a>
                                                                </li>
                                                                <li id="7">
                                                                    <a href="javascript:void(0);">JUL</a>
                                                                </li>
                                                                <li id="8">
                                                                    <a href="javascript:void(0);">AGO</a>
                                                                </li>
                                                                <li id="9">
                                                                    <a href="javascript:void(0);">SET</a>
                                                                </li>
                                                                <li id="10">
                                                                    <a href="javascript:void(0);">OCT</a>
                                                                </li>
                                                                <li id="11">
                                                                    <a href="javascript:void(0);">NOV</a>
                                                                </li>
                                                                <li id="12">
                                                                    <a href="javascript:void(0);">DIC</a>
                                                                </li>
                                                            </ul>
                                                        </div>

                                                    </section>

                                                </div>
                                                <div class="row">

                                                    <section class="col col-2">
                                                        <label class="label"> Inicio de Cosecha </label>
                                                        <label class="select">
                                                            <select id="MC_InicioCosecha" name="MC_InicioCosecha" class="frm-MC-s select-Cosecha" required>
                                                                <option value="" disabled="disabled" selected="selected">[Seleccione]</option>
                                                                <option value="1">Enero</option>
                                                                <option value="2">Febrero</option>
                                                                <option value="3">Marzo</option>
                                                                <option value="4">Abril</option>
                                                                <option value="5">Mayo</option>
                                                                <option value="6">Junio</option>
                                                                <option value="7">Julio</option>
                                                                <option value="8">Agosto</option>
                                                                <option value="9">Setiembre</option>
                                                                <option value="10">Octubre</option>
                                                                <option value="11">Noviembre</option>
                                                                <option value="12">Diciembre</option>
                                                            </select>
                                                            <i></i>
                                                        </label>
                                                    </section>
                                                    <section class="col col-2">
                                                        <label class="label"> Fin de Cosecha </label>
                                                        <label class="select">
                                                            <select id="MC_FinCosecha" name="MC_FinCosecha" class="frm-MC-s select-Cosecha" required>
                                                                <option value="" disabled="disabled" selected="selected">[Seleccione]</option>
                                                                <option value="1">Enero</option>
                                                                <option value="2">Febrero</option>
                                                                <option value="3">Marzo</option>
                                                                <option value="4">Abril</option>
                                                                <option value="5">Mayo</option>
                                                                <option value="6">Junio</option>
                                                                <option value="7">Julio</option>
                                                                <option value="8">Agosto</option>
                                                                <option value="9">Setiembre</option>
                                                                <option value="10">Octubre</option>
                                                                <option value="11">Noviembre</option>
                                                                <option value="12">Diciembre</option>
                                                            </select>
                                                            <i></i>
                                                        </label>
                                                    </section>
                                                    <section class="col col-8">

                                                        <label class="label">Meses de Cosecha</label>
                                                        <div class="inline-group">
                                                            <ul id="MesesCosecha" class="pagination">
                                                                <li id="1">
                                                                    <a href="javascript:void(0);">ENE</a>
                                                                </li>
                                                                <li id="2">
                                                                    <a href="javascript:void(0);">FEB</a>
                                                                </li>
                                                                <li id="3">
                                                                    <a href="javascript:void(0);">MAR</a>
                                                                </li>
                                                                <li id="4">
                                                                    <a href="javascript:void(0);">ABR</a>
                                                                </li>
                                                                <li id="5">
                                                                    <a href="javascript:void(0);">MAY</a>
                                                                </li>
                                                                <li id="6">
                                                                    <a href="javascript:void(0);">JUN</a>
                                                                </li>
                                                                <li id="7">
                                                                    <a href="javascript:void(0);">JUL</a>
                                                                </li>
                                                                <li id="8">
                                                                    <a href="javascript:void(0);">AGO</a>
                                                                </li>
                                                                <li id="9">
                                                                    <a href="javascript:void(0);">SET</a>
                                                                </li>
                                                                <li id="10">
                                                                    <a href="javascript:void(0);">OCT</a>
                                                                </li>
                                                                <li id="11">
                                                                    <a href="javascript:void(0);">NOV</a>
                                                                </li>
                                                                <li id="12">
                                                                    <a href="javascript:void(0);">DIC</a>
                                                                </li>
                                                            </ul>
                                                        </div>

                                                    </section>
                                                </div>



                                            </fieldset>
                                        </section>

                                        <br />

                                        @*<h2 class="row-seperator-header"><i class="fa fa-plus"></i> CONDICIONES DEL CR&Eacute;DITO </h2>*@
                                        <section class="col col-md-12 col-lg-12">
                                            <!-- Parametros de Financiamiento -->
                                            <fieldset>
                                                <header class="color-green"> <strong>Parametros de Financiamiento </strong> </header>
                                                <br />
                                                <div class="row">
                                                    <section class="col col-3">
                                                        <label class="label"> Monto Financiamiento </label>
                                                        <label class="input">
                                                            @*<i class="icon-append fa fa-envelope-o"></i>*@
                                                            <input type="number" step=".01" name="MC_MontoFinanciamiento" id="MC_MontoFinanciamiento" class="frm-MC-i MC-calc1" required>
                                                        </label>
                                                    </section>

                                                    <section class="col col-3">
                                                        <label class="label"> Porcentaje de Financiamiento </label>
                                                        <label class="input">
                                                            @*<i class="icon-append fa fa-"></i>*@
                                                            <input type="number" step=".01" name="MC_PorcentajeFinanciamiento" id="MC_PorcentajeFinanciamiento" class="" readonly>
                                                        </label>
                                                    </section>

                                                    <section class="col col-3">
                                                        <label class="label"> Monto por Ha de Asistencia T&eacute;cnica </label>
                                                        <label class="input">
                                                            @*<i class="icon-append fa fa-credit-card"></i>*@
                                                            <input type="number" step=".01" name="MC_AsistenciaTecnica" id="MC_AsistenciaTecnica" class="frm-MC-i" required>
                                                        </label>
                                                    </section>

                                                    <section class="col col-3" id="div-MC_AsistenciaTecnicaPorcentaje">
                                                        <label class="label"> Tope % de Asistencia T&eacute;cnica </label>
                                                        <label class="input">
                                                            @*<i class="icon-append fa fa-credit-card"></i>*@
                                                            <input type="number" step=".01" max="3" min="0" name="MC_AsistenciaTecnicaPorcentaje" id="MC_AsistenciaTecnicaPorcentaje" class="frm-MC-i">
                                                        </label>
                                                    </section>
                                                </div>

                                                <div class="row">
                                                    <section class="col col-3">
                                                        <label class="label"> Plazo (Meses)</label>
                                                        <label class="input">
                                                            @*<i class="icon-append fa fa-credit-card"></i>*@
                                                            <input type="number" name="MC_Plazo" id="MC_Plazo" class="" readonly>
                                                        </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="label"> Tipo de Cuota </label>
                                                        <label class="select">
                                                            <select name="MC_TipoCuota" id="MC_TipoCuota" class="frm-MC-s" required>
                                                                <option value="" disabled="disabled" selected="selected">[Seleccione]</option>
                                                            </select>
                                                            <i></i>
                                                        </label>
                                                    </section>

                                                    <section class="col col-3 div-MC_DatosCuotas" hidden>
                                                        <label class="label"> M&aacute;ximo Numero Cuotas </label>
                                                        <label class="input">
                                                            @*<i class="icon-append fa fa-credit-card"></i>*@
                                                            <input type="number" name="MC_NumeroCuotas" id="MC_NumeroCuotas" class="frm-MC-i" required>
                                                        </label>
                                                    </section>

                                                    <section class="col col-3 div-MC_DatosCuotas" hidden>
                                                        <label class="label"> M&aacute;ximo Periodo Gracia (d&iacute;as) </label>
                                                        <label class="input">
                                                            @*<i class="icon-append fa fa-credit-card"></i>*@
                                                            <input type="number" name="MC_DiasGracia" id="MC_DiasGracia" class="frm-MC-i" required>
                                                        </label>
                                                    </section>

                                                </div>
                                            </fieldset>


                                            <fieldset>

                                                <div class="row">
                                                    <!-- Datos para desembolso -->
                                                    <div class="col-sm-12 col-md-12 col-lg-6">
                                                        <header class="">
                                                            Desembolsos
                                                        </header>
                                                        <br />
                                                        <div class="">
                                                            <label class="label col col-6"> Nro de Desembolsos </label>
                                                            <section class="col col-6">
                                                                <label class="select">
                                                                    <select name="MC_NumeroDesembolsos" id="MC_NumeroDesembolsos" class="frm-MC-s" required>
                                                                        <option value="" selected="selected">[Seleccione]</option>
                                                                        <option value="1">01</option>
                                                                        <option value="2">02</option>
                                                                    </select>
                                                                    <i></i>
                                                                </label>
                                                            </section>
                                                        </div>
                                                        
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-12 col-md-12 col-lg-6">
                                                        <div id="div-Desembolsos" class="">

                                                        </div>
                                                    </div>

                                                    <div class="col-sm-12 col-md-12 col-lg-6">
                                                        <div id="div-slidersDesembolsos" style="padding-left: 1em; padding-right: 1em;">

                                                        </div>
                                                    </div>
                                                </div>

                                                

                                                <div class="row">

                                                    <!-- Pagos Asistente Tecnico -->
                                                    <div class="col-sm-12 col-md-12 col-lg-6">
                                                        <header>
                                                            Pagos Asistente T&eacute;cnico
                                                        </header>
                                                        <br />
                                                        <div class="">
                                                            <label class="label col col-6"> N&uacute;mero de Pagos </label>
                                                            <section class="col col-6">
                                                                <label class="input">
                                                                    <input type="number" name="MC_NumeroPagosAT" id="MC_NumeroPagosAT" value="" class="frm-MC-i" required>
                                                                </label>
                                                            </section>
                                                        </div>
                                                        <div id="div-PagosAT">

                                                        </div>
                                                    </div>
                                                    <!-- Dias Informe de Visita -->
                                                    <div class="col-sm-12 col-md-12 col-lg-6">
                                                        <header>
                                                            Informes de Visitas
                                                        </header>
                                                        <br />
                                                        <div class="">
                                                            <label class="label col col-6"> N&uacute;mero de Informes </label>
                                                            <section class="col col-6">
                                                                <label class="input">
                                                                    <input type="number" name="MC_NumeroInfoVisitas" id="MC_NumeroInfoVisitas" value="" class="frm-MC-i" required>
                                                                </label>
                                                            </section>
                                                        </div>
                                                        <div id="div-InfoVisitas">

                                                        </div>
                                                    </div>
                                                </div>


                                            </fieldset>
                                        </section>

                                    </div>
                                </fieldset>

                                <footer>
                                    <button type="button" class="btn btn-default" id="BtnGuardarDatos">
                                        <i class="fa fa-save fa-fw"></i> Guardar Datos
                                    </button>

                                    <button type="button" class="btn btn-warning-sigd" id="BtnCancelarDatosCostos">
                                        <i class="fa fa-backward fa-fw"></i> Regresar
                                    </button>

                                    <button type="submit" class="" id="hidSubmit" hidden="hidden"></button>

                                </footer>

                            </form>

                        </div>
                    </div>
                </div>


            </article>

        </div>

        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12">
                <!-- Widget ID (each widget will need unique ID)-->
                
                <!-- end widget -->

            </article>
            <!-- END COL -->
        </div>

    </section>

</div>


@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->
    @Scripts.Render("~/scripts/MantenimientoMatrizCostos")

    
    <script src="../scripts/plugin/ion-slider/ion.rangeSlider.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var responsiveHelper_datatable_Costos = undefined;
            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };
            jQuery.validator.addMethod("Montos", function (value, element) {
                return this.optional(element) || /^\d{0,8}(\.\d{0,2})?$/i.test(value);
            }, "Ingrese un monto válido");
            $('#div-DatosCostos').hide();
            $('#MC_InicioCampana').datepicker({
                dateFormat: 'dd/mm/yy',
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>',
                onSelect: function (selectedDate) {
                    $('#MC_FinCampana').datepicker('option', 'minDate', selectedDate);
                }
            });
            $('#MC_FinCampana').datepicker({
                dateFormat: 'dd/mm/yy',
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>',
                onSelect: function (selectedDate) {
                    $('#MC_InicioCampana').datepicker('option', 'maxDate', selectedDate);
                }
            });
            
            /* Config. Tabla Costos */
            var oCostos = $('#datatable_Costos').DataTable({
                "data": [],
                "info": true,
                "searching": true,
                //"bDestroy": true,
                //"bLengthChange": false,
                "iDisplayLength": 20,
                "order": [2, "asc"],
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_Costos) {
                        responsiveHelper_datatable_Costos = new ResponsiveDatatablesHelper($('#datatable_Costos'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_Costos.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_Costos.respond();
                },
                "createdRow": function (row, data, dataIndex) {
                    if (data.Estado == '2') {
                        $(row).find('td').addClass('text-warning');
                    }
                },
                'buttons': [
                    //'copyHtml5',
                    'excelHtml5',
                    //'csvHtml5'
                    //'pdfHtml5'
                ],
                //"bServerSide": false,
                "columns": [
                    //{
                    //    "class": 'details-control',
                    //    "orderable": false,
                    //    'searchable': false,
                    //    "data": null,
                    //    "defaultContent": '',
                    //    'width': '3%'
                    //},
                    {
                        "data": "Codigo",
                        'width': '3%'
                    },
                    {
                        "data": "SectorDescripcion",
                        'width': '3%'
                    },
                    {
                        "data": "NombreProducto"
                        //'width': '30%'
                    },
                    {
                        "data": "Departamento"
                    },
                    {
                        "data": "CostoProduccion",
                        "render": $.fn.dataTable.render.number(",", ".", 0),
                        'className': 'text-center',
                        'width': '5%'
                    },
                    {
                        "data": "PorcentajeFinanciar",
                        "render": $.fn.dataTable.render.number(",", ".", 0),
                        'className': 'text-center',
                        'width': '5%'
                    },
                    {
                        "data": "Rendimiento",
                        "render": $.fn.dataTable.render.number(",", ".", 0),
                        'className': 'text-center',
                        'width': '5%'
                    },
                    {
                        "data": "UnidadRendimiento",
                        'className': 'text-center',
                        'width': '5%'
                    },
                    {
                        "data": "Plazo",
                        'className': 'text-center',
                        'width': '5%'
                    },
                    {
                        "data": "FechaInicioCampana",
                        'className': 'text-center',
                        'width': '5%'
                    },
                    {
                        "data": "FechaFinCampana",
                        'className': 'text-center',
                        'width': '5%'
                    },
                    {
                        'searchable': false,
                        'orderable': false,
                        //'align': 'center',
                        'width': '9%',
                        'className': 'text-center options-control',
                        "data": "Opciones"
                    }


                ],
                "error": function (xhr, error, thrown) {
                    alert('Ocurrio un error al procesar');
                }
            });

            //oCostos.buttons().container().appendTo($('.col-sm-6:eq(1)', oCostos.table().container()));

            $("#datatable_Costos thead th input[type=text]").on('keyup change', function () {
                oCostos
                    .column($(this).parent().index() + ':visible')
                    .search(this.value)
                    .draw();
            });
            // Add event listener for opening and closing details
            $('#datatable_Costos tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = oCostos.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                } else {
                    // Open this row
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });
            function format(d) {
                // `d` is the original data object for the row
                return '<table cellpadding="5" cellspacing="0" border="0" class="table table-hover table-condensed">' +
                    '<tr>' +
                    '<td style="width:20%">Monto de Financiamiento :</td>' +
                    '<td>' + d.MontoFinanciar + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<td>Monto por Ha de Asistencia Técnica :</td>' +
                    '<td>' + d.AsistenciaTecnica + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<td>Tope % de Asistencia Técnica :</td>' +
                    '<td>' + d.AsistenciaTecnicaPorcentaje + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<td>Rendimiento :</td>' +
                    '<td>' + d.Rendimiento + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<td>Unidad de Rendimiento :</td>' +
                    '<td>' + d.UnidadRendimiento + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<td>Precio Venta de Chacra :</td>' +
                    '<td>' + d.PrecioVentaChacra + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<td>Unidad Precio Venta :</td>' +
                    '<td>' + d.UnidadPrecioVenta + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<td>Campaña :</td>' +
                    '<td>' + d.Campana + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<td>Mes Inicio Campaña :</td>' +
                    '<td>' + d.FechaInicioCampana + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<td>Mes Fin Campaña :</td>' +
                    '<td>' + d.FechaFinCampana + '</td>' +
                    '</tr>' +
                    '</table>';
            }

            
            ListarCostos("0","0",false);
            ParametricasMartriz();
            ListarDepartamentos();

            $('#datatable_Costos tbody').on('click', 'td.options-control', function () {
                //alert('hola');
                var tr = $(this).closest('tr');
                var row = oCostos.row(tr).data();
                
                $("#MC_Codigo").text(row.Codigo);
                $("#MC_Codigo_hd").val(row.Codigo);
                $('#MC_Sector').val(row.Sector);
                $('#MC_Programa').val(row.Programa);
                $('#MC_NivelTecnologico').val(row.NivelTecnologico);
                $('#MC_CodigoProducto').val(row.CodigoProducto);
                $('#MC_Producto').val(row.NombreProducto);
                $('#MC_DescripcionProducto').val(row.DescripcionProducto);
                $('#MC_TipoProducto').val(row.TipoProducto);
                $('#MC_Priorizacion').val(row.Priorizacion);
                $('#MC_UnidadFinanciamiento').val(row.UnidadFinanciamiento);
                $('#frmCboDepartamento').val(row.Ubigeo.substr(0, 2));
                $('#frmCboProvincia').append($('<option>', { value: row.Ubigeo.substr(0, 4), text: row.Provincia }));
                $('#frmCboProvincia').val(row.Ubigeo.substr(0, 4));
                $('#frmCboDistrito').append($('<option>', { value: row.Ubigeo.substr(0, 6), text: row.Distrito }));
                $('#frmCboDistrito').val(row.Ubigeo.substr(0, 6));

                $('#MC_Rendimiento').val(row.Rendimiento);
                $('#MC_UnidadRendimiento').val(row.UnidadRendimiento);
                $('#MC_PrecioChacra').val(row.PrecioVentaChacra);
                $('#MC_UnidadPrecio').val(row.UnidadPrecioVenta);
                $('#MC_CostoProduccion').val(row.CostoProduccion);
                $('#MC_UnidadCosto').val(row.UnidadCosto);
                $('#MC_PeriodoFenologico').val(row.PeriodoFenologico);
                $('#MC_PeriodoPostCosecha').val(row.PeriodoPostCosecha);
                if (row.FechaInicioCampana.toString().length == 8) {
                    var inicioCampana =
                        row.FechaInicioCampana.toString().substr(6, 2) + '/' +
                        row.FechaInicioCampana.toString().substr(4, 2) + '/' +
                        row.FechaInicioCampana.toString().substr(0, 4);
                    $('#MC_InicioCampana').val(inicioCampana);
                }
                if (row.FechaFinCampana.toString().length == 8) {
                    var FinCampana =
                        row.FechaFinCampana.toString().substr(6, 2) + '/' +
                        row.FechaFinCampana.toString().substr(4, 2) + '/' +
                        row.FechaFinCampana.toString().substr(0, 4);
                    $('#MC_FinCampana').val(FinCampana);
                }
                $('#MC_CodigoCampana').val(row.Campana);
                $('#MC_InicioSiembra').val(row.SiembraMesInicio);
                $('#MC_FinSiembra').val(row.SiembraMesFin);
                $('#MC_InicioCosecha').val(row.CosechaMesInicio);
                $('#MC_FinCosecha').val(row.CosechaMesFin);

                $('#MC_MontoFinanciamiento').val(row.MontoFinanciar);
                $('#MC_PorcentajeFinanciamiento').val(row.PorcentajeFinanciar);
                $('#MC_AsistenciaTecnica').val(row.AsistenciaTecnica);
                $('#MC_AsistenciaTecnicaPorcentaje').val(row.AsistenciaTecnicaPorcentaje);
                $('#MC_Plazo').val(row.Plazo);
                $('#MC_TipoCuota').val(row.TipoCronograma);
                $('#MC_NumeroCuotas').val(row.MaximoCuotas);
                $('#MC_DiasGracia').val(row.MaximoDiasGracia);
            });

        });

    </script>
}