﻿
@{
    ViewBag.Title = "NuevoGrupo";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-edit fa-fw "></i>
                Registro Profesionales T&eacute;cnicos
            </h1>
        </div>
    </div>

    <section id="widget-grid" class="">
        <div class="row">

            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <form id="form-PT" class="smart-form" action="../Mantenimiento/RegistrarProfesionalTecnico" method="post">

                    <fieldset>
                        <div class="row">
                            <section class="col col-4">
                                <label class="label"> Agencia </label>
                                <label class="select">
                                    <select id="CboAgencia" name="PT_Agencia" required>
                                        <option value="" disabled="disabled" selected="selected">[Seleccione]</option>
                                    </select>
                                    <i></i>
                                </label>
                            </section>
                            <section class="col col-8">
                                <label class="label"> Organizaci&oacute;n de Productores</label>
                                <label class="select">
                                    <select id="CboOrganizacion" name="PT_Organizacion" required>
                                        <option value="" disabled="disabled" selected="selected">[Seleccione]</option>
                                    </select>
                                    <i></i>
                                </label>
                            </section>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="row">
                            <section class="col col-2">
                                <label class="label"> DNI </label>
                                <label class="input">
                                    <i class="icon-append fa fa-credit-card"></i>
                                    <input type="text" name="PT_DNI" id="PT_DNI">
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="label"> E-mail </label>
                                <label class="input">
                                    <i class="icon-append fa fa-envelope-o"></i>
                                    <input type="email" name="PT_email" id="PT_email">
                                </label>
                            </section>

                        </div>

                        <div class="row">
                            <section class="col col-6">
                                <label class="label">Primer Nombre</label>
                                <label class="input">
                                    <i class="icon-append fa fa-user"></i>
                                    <input type="text" name="PT_PrimerNombre" id="PT_PrimerNombre">
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="label">Segundo Nombre</label>
                                <label class="input">
                                    <i class="icon-append fa fa-user"></i>
                                    <input type="text" name="PT_SegundoNombre" id="PT_SegundoNombre">
                                </label>
                            </section>
                        </div>

                        <div class="row">
                            <section class="col col-6">
                                <label class="label">Apellido Paterno</label>
                                <label class="input">
                                    <i class="icon-append fa fa-user"></i>
                                    <input type="text" name="PT_ApellidoPaterno" id="PT_ApellidoPaterno">
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="label">Apellido Materno</label>
                                <label class="input">
                                    <i class="icon-append fa fa-user"></i>
                                    <input type="text" name="PT_ApellidoMaterno" id="PT_ApellidoMaterno">
                                </label>
                            </section>
                        </div>

                    </fieldset>

                    <footer>
                        <button type="submit" class="btn btn-success" id="">
                            <i class="fa fa-save fa-fw"></i> Guardar Datos
                        </button>
                    </footer>

                </form>
            </article>


        </div>

        <div class="row">
            <!-- NEW RELACION DE INTEGRANTES -->
            @*<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-ListaTecnicos" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2> Lista de T&eacute;cnicos </h2>
                    </header>
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <table id="datatable_Tecnicos" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th data-hide="phone"> C&oacute;digo Comisi&oacute;n</th>
                                        <th>Nombre Comisi&oacute;n</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                        <!-- end widget content -->
                    </div>
                </div>

            </article>*@
            <!-- END RELACION DE INTEGRANTES -->

        </div>

    </section>





</div>



@section pagespecific {
    <script type="text/javascript">
        $(document).ready(function () {

            let Result = @Html.Raw(Json.Encode(@ViewBag.Result));

            if (Result.Data.TipoError === '100') {
                ShowInfoBox("Información", "Datos Guardado con éxito!");
            }


            $("#CboAgencia").on('change', function (e) {
                ListarOrganizaciones();
            });

            //Funciones
            function ListarAgencias() {
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: '../Parametricas/ListarAgencias',
                    //data: JSON.stringify(dataRequest),
                    contentType: 'application/json',
                    processData: false,
                    beforeSend: function () { StarLoading(); },
                    success: function (response) {
                        if (response.length > 0) {
                            $.each(response, function (key, value) {
                                $("#CboAgencia").append($('<option>', { value: value.code, text: value.value }));
                            });
                        }
                    },
                    error: function () {
                        StopLoading();
                    },
                    complete: function () {
                        StopLoading();
                    }
                });
            }
            function ListarOrganizaciones() {
                var requestData = {
                    CodigoAgencia: $("#CboAgencia").val()
                };

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: '../Parametricas/ListarOrganizaciones',
                    data: JSON.stringify(requestData),
                    contentType: 'application/json',
                    processData: false,
                    beforeSend: function () { StarLoading(); },
                    success: function (response) {

                        $("#CboOrganizacion").find('option').remove();
                        if (response.length > 0) {
                            $.each(response, function (key, value) {
                                $("#CboOrganizacion").append($('<option>', { value: value.code, text: value.value }));
                            });
                        } else {
                            $("#CboOrganizacion").append($('<option>', { value: "", text: "[Seleccione Comision]"}));

                        }
                    },
                    error: function () {
                        StopLoading();
                    },
                    complete: function () {
                        StopLoading();
                    }
                });
            }


            ListarAgencias();

            var $commentForm = $("#form-PT").validate({
                // Rules for form validation
                rules: {
                    PT_DNI: {
                        required: true,
                        number: true,
                        minlength: 8,
                        maxlength: 8
                    },
                    PT_email: {
                        required: true,
                        email: true
                    },
                    PT_PrimerNombre: {
                        required: true,
                        minlength: 3,
                        maxlength: 45
                    },
                    PT_ApellidoPaterno: {
                        required: true,
                        minlength: 3,
                        maxlength: 45
                    },
                    PT_ApellidoMaterno: {
                        required: true,
                        minlength: 3,
                        maxlength: 45
                    }
                },

                // Messages for form validation
                messages: {
                    PT_DNI: {
                        required: 'Ingrese un número DNI válido',
                    },
                    PT_email: {
                        required: 'Ingrese correo electrónico',
                        email: 'Ingrese un email válido'
                    },
                    PT_PrimerNombre: {
                        email: 'Ingrese primer nombre'
                    },
                    PT_ApellidoPaterno: {
                        required: 'Ingrese Apellido Paterno'
                    },
                    PT_ApellidoMaterno: {
                        required: 'Ingrese Apellido Materno'
                    }
                },

                //// Ajax form submition
                //submitHandler: function (form) {
                //    $(form).ajax({
                //        success: function () {
                //            $("#form-PT").addClass('submited');
                //        }
                //    });
                //},

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });

        });



    </script>

}

