﻿@model Agrobanco.PlataformaAgroperu.Web.Models.ErrorInfoModel
<!-- MAIN CONTENT -->
<div id="content">
    <!-- row -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center error-box">
                        <h1 class="text-center text-success"><strong><i class="fa fa-check fa-lg"></i> Operación finzalizada con éxito </strong></h1>
                        <a class="btn btn-success" href="javascript:void(0);"><i class="fa fa-file"></i> Nuevo </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>
<!-- END MAIN CONTENT -->