<app-loading *ngIf="loader"></app-loading>
<div class="section no-padding">
    <div class="row     col s12 no-mar-bot">
        <div class="section no-mar-bot">
            <div class="col s12 m12 l12">
                <h1 class="title">Resetear códigos IMEI</h1>
            </div>
        </div>
    </div>
</div>

<div class="card-panel row layout-card-gray-2">
    <div class="row" id="clientes-grid">
        <!-- ******** inicio paginación ************ -->
        <mat-paginator 
            [pageSizeOptions]="[5, 10]" 
            showFirstLastButtons>
        </mat-paginator>
        <!-- ******** fin paginación ************ -->

        <table mat-table [dataSource]="listaCodigos">
            <ng-container matColumnDef="usuario">
                <th mat-header-cell *matHeaderCellDef> Usuario</th>
                <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
            </ng-container>
            <ng-container matColumnDef="codigo">
                <th mat-header-cell *matHeaderCellDef> Codigo Identificador </th>
                <td mat-cell *matCellDef="let element"> {{element.identificadorMovil}} </td>
            </ng-container>
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element" >
                    <i class="material-icons mred" style="cursor: pointer;" name="action"
                        *ngIf="element.identificadorMovil.length !== 0"
                        (click)="resetear(element.usuario)" matTooltip="Resetear">delete</i>
                    </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>

<app-msg-error></app-msg-error>
<app-msg-success [descripcion1]="msjSuccess"></app-msg-success>