<div id="reasignacion-masiva-pt" class="modal modal-m">

    <div class="modal-header">
        <h4 class="title"> Reasignación masiva de profesional técnico </h4>
        <i class="material-icons btn-close modal-action modal-close">close</i>
    </div>

    <div class="modal-content">
        <form validate [formGroup]="FormReasignacionPT" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col s12 m6 l4">
                    <p>Antiguo Profesional Técnico : </p>
                </div>
                <div class="col s12 m6 l8">
                    <select name="pt" id="select_old_pt" formControlName="selectOldPT">
                        <option *ngFor="let item of listaProfesionales" [ngValue]="item.codigo">
                            {{item.primerNombre}} {{item.segundoNombre}} {{item.apellidoMaterno}}
                            {{item.apellidoPaterno}}
                        </option>
                    </select>
                    <div style="color: red; font-size: small;" *ngIf="FormReasignacionPT.get('selectOldPT')?.errors">
                        Seleccione profesional técnico
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6 l4">
                    <p>Nuevo Profesional Técnico : </p>
                </div>
                <div class="col s12 m6 l8">
                    <select name="pt" id="select_new_pt" formControlName="selectNewPT">
                        <option *ngFor="let item of listaProfesionales" [ngValue]="item.codigo">
                            {{item.primerNombre}} {{item.segundoNombre}} {{item.apellidoMaterno}}
                            {{item.apellidoPaterno}}
                        </option>
                    </select>
                    <div style="color: red; font-size: small;" *ngIf="FormReasignacionPT.get('selectNewPT')?.errors">
                        Seleccione profesional técnico
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn waves-effect waves-light">
                    <span>Grabar</span>
                    <i class="material-icons right">repeat</i>
                </button>
            </div>
        </form>
    </div>
</div>
<app-msg-success [descripcion1]="msjUpdateSuccessReasignacion"></app-msg-success>
<app-msg-error></app-msg-error>
<app-loading *ngIf="!peticionesTerminadas"></app-loading>