<form novalidate [formGroup]="formProfesionalTecnicoItem" (ngSubmit)="onSubmit()">
    <div id="profesional-tecnico-modal" class="modal modal-m">
          
        <div class="modal-header">
            <h4 class="title">{{ tituloModo }} Profesional Técnico</h4>
            <i class="material-icons btn-close modal-action modal-close">close</i>
        </div>

        <div class="modal-content content-input">
            <div class="card-panel row layout-card-gray-2">                
                <div class="row">
                    <div class="col s12 m4 l4">
                        <div class="input-field input-field-common col s10">
                            <label class="label active" for="cbo-tipo-documento">Tipo Documento</label>
                            <select name="cbo-tipo-documento" id="cbo-tipo-documento" formControlName="tipoDocumento">
                                <option value="">Seleccione</option>
                                <option value="1">DNI</option>
                                <!-- <option *ngFor="let agencia of agencias" [ngValue]="agencia.id">{{agencia.name}}</option> -->
                            </select>
                            <div style="color: red; font-size: small;" *ngIf="formSubmitted && formProfesionalTecnicoItem.get('tipoDocumento')?.errors">
                            <!-- <div style="color: red; font-size: small;" *ngIf="formProfesionalTecnicoItem.get('tipoDocumento')?.invalid && (formProfesionalTecnicoItem.get('tipoDocumento')?.dirty || formProfesionalTecnicoItem.get('tipoDocumento')?.touched)"> -->
                                Seleccione Tipo Documento
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4 l4">
                        <div class="input-field input-field-common col s10">
                            <label class="label" [ngClass]="{'active': formProfesionalTecnicoItem.value?.numeroDocumento?.length > 0 }" for="txt-numero-documento" label-input-sel-ticket>Número Documento </label>
                            <input name="txt-numero-documento" id="txt-numero-documento" type="text" autocomplete="off" required aria-required="true" (keypress)="keyPressOnlyNumber($event)" maxlength="8" formControlName="numeroDocumento" validate>
                            <!-- <div style="color: red; font-size: small;" *ngIf="formProfesionalTecnicoItem.get('numeroDocumento')?.invalid && (formProfesionalTecnicoItem.get('numeroDocumento')?.dirty || formProfesionalTecnicoItem.get('numeroDocumento')?.touched)">
                                Número documento requerido
                            </div> -->
                            <div style="color: red; font-size: small;" *ngIf="formSubmitted && formProfesionalTecnicoItem.get('numeroDocumento')?.errors">
                                Número documento requerido
                            </div>
                        </div>
                        
                    </div>

                    <div class="col s12 m4 l4">
                        <div class="input-field input-field-common col s10">
                            <label class="label" [ngClass]="{'active': formProfesionalTecnicoItem.value?.primerNombre?.length > 0 }" for="txt-primer-nombre" label-input-sel-ticket>Primer Nombre</label>
                            <input name="txt-primer-nombre" id="txt-primer-nombre" type="text" autocomplete="off" aria-required="true" maxlength="80" formControlName="primerNombre">
                            <div style="color: red; font-size: small;" *ngIf="formSubmitted && formProfesionalTecnicoItem.get('primerNombre')?.errors">
                                Primer nombre requerido
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col s12 m6 l6">
                        <div class="input-field input-field-common col s10">
                            <label class="label" [ngClass]="{'active': formProfesionalTecnicoItem.value?.segundoNombre?.length > 0 }" for="txt-segundo-nombre" label-input-sel-ticket>Segundo Nombre</label>
                            <input name="txt-segundo-nombre" id="txt-segundo-nombre" type="text" autocomplete="off" aria-required="true" formControlName="segundoNombre" maxlength="80">
                            <div style="color: red; font-size: small;" *ngIf="formSubmitted && formProfesionalTecnicoItem.get('segundoNombre')?.errors">
                                Segundo nombre requerido
                            </div>
                        </div>                        
                    </div>

                    <div class="col s12 m6 l6">
                        <div class="input-field input-field-common col s10">
                            <label class="label" [ngClass]="{'active': formProfesionalTecnicoItem.value?.apellidoPaterno?.length > 0 }" for="txt-apellido-paterno" label-input-sel-ticket>Apellido Paterno</label>
                            <input name="txt-apellido-paterno" id="txt-apellido-paterno" type="text" autocomplete="off" aria-required="true" formControlName="apellidoPaterno" maxlength="80">
                            <div style="color: red; font-size: small;" *ngIf="formSubmitted && formProfesionalTecnicoItem.get('apellidoPaterno')?.errors">
                                Apellido paterno requerido
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6 l6">
                        <div class="input-field input-field-common col s10">
                            <label class="label" [ngClass]="{'active': formProfesionalTecnicoItem.value?.apellidoMaterno?.length > 0 }" for="txt-apellido-materno" label-input-sel-ticket>Apellido Materno</label>
                            <input name="txt-apellido-materno" id="txt-apellido-materno" type="text" autocomplete="off" aria-required="true" formControlName="apellidoMaterno" maxlength="80">
                            <div style="color: red; font-size: small;" *ngIf="formSubmitted && formProfesionalTecnicoItem.get('apellidoMaterno')?.errors">
                                Apellido materno requerido
                            </div>
                        </div>                        
                    </div>
                    <div class="col s12 m6 l6">
                        <div class="input-field input-field-common col s10">
                            <label class="label" [ngClass]="{'active': formProfesionalTecnicoItem.value?.email?.length > 0 }" for="txt-email" label-input-sel-ticket>Email</label>
                            <input name="txt-email" id="txt-email" type="email" autocomplete="off" aria-required="true" formControlName="email" [email]="true">
                            <div style="color: red; font-size: small;" *ngIf="formSubmitted && formProfesionalTecnicoItem.get('email')?.errors">
                                Formato Email requerido
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6 l6">
                        <div class="input-field input-field-common col s10">
                            <label class="label" [ngClass]="{'active': formProfesionalTecnicoItem.value?.celular?.length > 0 }" for="txt-celular" label-input-sel-ticket>Celular</label>
                            <input name="txt-celular" id="txt-celular" type="text" autocomplete="off" aria-required="true" (keypress)="keyPressOnlyNumber($event)" formControlName="celular">
                            <div style="color: red; font-size: small;" *ngIf="formSubmitted && formProfesionalTecnicoItem.get('celular')?.errors">
                                Celular requerido
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l6">
                        <div class="input-field input-field-common col s10">
                            <label class="label active" for="cbo-agencia">Agencia</label>
                            <select name="cbo-agencia" id="cbo-agencia" formControlName="codigoAgencia">
                                <option value="">Seleccione</option>
                                <option *ngFor="let agencia of agencias" [ngValue]="agencia.codigo">{{agencia.oficina}}</option>
                            </select>
                            <div style="color: red; font-size: small;" *ngIf="formSubmitted && formProfesionalTecnicoItem.get('codigoAgencia')?.errors">
                                Agencia requerida
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6 l6">
                        <div class="input-field input-field-common col s10">
                            <label class="label active" for="cbo-estado">Estado</label>
                            <select name="cbo-estado" id="cbo-estado" formControlName="estado">
                                <option value="1">Activo</option>
                                <option value="0">Inactivo</option>                                
                            </select>
                        </div>                        
                    </div>
                    <div class="col s12 m6 l6">
                        <div class="input-field input-field-common col s10">
                            <label class="label" [ngClass]="{'active': formProfesionalTecnicoItem.value?.usuarioWeb?.length > 0 }" for="txt-usuario-web" label-input-sel-ticket>Usuario web</label>
                            <input name="txt-usuario-web" id="txt-usuario-web" type="text" autocomplete="off" aria-required="true" formControlName="usuarioWeb">
                            <div style="color: red; font-size: small;" *ngIf="formSubmitted && formProfesionalTecnicoItem.get('usuarioWeb')?.errors">
                                Usuario web requerido
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-content content-input">
            <div class="row " style="margin-top:15px;">
                <div class="col s6 m2 l2 offset-m8 offset-l8">
                    <button id="btnGuardarModal" type="submit" class="btn waves-effect waves-light btn-default btn-block" ><!--/*[disabled]="formProfesionalTecnicoItem.invalid"*/-->
                        <span>Guardar</span>
                        <i class="material-icons prefix">check</i>
                    </button>                    
                </div>
                <div class="col s6 m2 l2">
                    <button id="btnCancelar" type="button" class="btn waves-effect waves-light btn-warning modal-action modal-close btn-block">
                        <span>Cancelar</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
</form>
