﻿@model HandleErrorInfo
<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 hidden-xs hidden-sm">
    <div class="text-left error-box">
        <h1 class="bounceInDown animated alert alert-danger"><i class="fa fa-fw fa-warning fa-lg"></i> Session cerrada</h1>
        <h2 class="font-xl"><strong>No se preocupe , su session fue cerrada</strong></h2>
        <br />
        <p class="lead">
            Esperamos que regrese pronto !!
        </p>
        <p class="font-md">
            <b>
                Su sesión ha sido desconectada por razones de seguridad.
            </b>
        </p>
    </div>
</div>