﻿@model AccountLoginModel
@{
    //ViewBag.PageId = "extr-page";
    ViewBag.PageClass = "animated fadeInDown";
}
@section topright{
    @*<span id="extr-page-header-space"> <span class="hidden-mobile">Necesitas una cuenta?</span> <a href="@Url.Action("register", "account")" class="btn btn-danger">Crear cuenta</a> </span>*@
}
<div id="content" class="container">
    <div class="row">
        @{ Html.RenderPartial("_LoginText"); }
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" >
            <div class="well no-padding">
                <form action="@Url.Action("Login", "account")" method="POST" id="login-form" class="smart-form client-form">
                    <header>
                        <h1 class="txt-color-red login-header-big"><strong>AGROBANCO</strong></h1>
                        <h4 class="paragraph-header">Módulo de Evaluación Grupal</h4>
                    </header>
                    @Html.HiddenFor(m => m.ReturnUrl)
                    @Html.AntiForgeryToken()
                    @Html.ValidationBootstrap()
                    <fieldset>
                        <section>
                            <label class="label">Usuario</label>
                            <label class="input">
                                <i class="icon-append fa fa-user"></i>
                                @*<input type="email" name="email" value="demo@email.com">*@
                                <input type="text" name="usuario" value="" />
                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter username</b>
                            </label>
                        </section>
                        <section>
                            <label class="label">Clave</label>
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                <input type="password" name="password" value="">
                                <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Ingrese su clave</b>
                            </label>
                            <div class="note">
                                <a href="@Url.Action("forgotpassword", "account")"><i class="fa fa-frown-o"></i> Olvidaste tu clave?</a>
                            </div>
                        </section>
                        <section>
                            <label class="checkbox">
                                <input type="checkbox" name="rememberMe" value="true" checked="checked">
                                <input type="hidden" name="rememberMe" value="false" />
                                <i></i>Permanecer conectado
                            </label>
                        </section>
                    </fieldset>
                    <footer>
                        <button type="submit" class="btn btn-primary">
                            Ingresar
                        </button>
                    </footer>
                </form>
            </div>
            @*@{ Html.RenderPartial("_SocialMedia"); }*@
        </div>
    </div>
</div>
@section pagespecific {
    <script type="text/javascript">
        $(function () {
            // Validation
            $("#login-form").validate({
                // Rules for form validation
                rules: {
                    usuario: {
                        required: true
                    },
                    //email: {
                    //    required: true,
                    //    email: true
                    //},
                    password: {
                        required: true,
                        minlength: 3,
                        maxlength: 20
                    }
                },

                // Messages for form validation
                messages: {
                    usuario: {
                        required: 'Please enter your email address',
                        usuario: 'Debe ingresar un usuario valido'
                    },
                    //email: {
                    //    required: 'Please enter your email address',
                    //    email: 'Please enter a VALID email address'
                    //},
                    password: {
                        required: 'Please enter your password'
                    }
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });
        });
    </script>
}