﻿<!-- MAIN CONTENT -->
<div id="content">
    <!-- row -->
    <div class="row">
        
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-cloud-download"></i> Descarga de Formatos <span>
                </span>
            </h1>
        </div>
        
    </div>
    <!-- end row -->
    <!-- row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                <table class="table table-striped table-forum">
                    <thead>
                        <tr>
                            <th colspan="2">Formatos - Plataforma Agroperu </th>                                                        
                            <th class="hidden-xs hidden-sm" style="width: 200px;">Versi&oacute;n</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td class="text-center" style="width: 40px;"><i class="fa fa-file-excel-o fa-2x text-muted"></i></td>
                            <td>
                                <h4>
                                    <a href="../Descargas/DescargarPlantillaAgrupamiento">
                                        <i class="fa fa-download"></i> Plantilla Grupo
                                    </a>
                                    <small>Formato para Creaci&oacute;n de Grupos</small>
                                </h4>
                            </td>
                            <td class="hidden-xs hidden-sm">

                                <a href="javascript:void(0);">Version @ViewBag.GrupoAgroperuVersion</a>
                                <br>
                                <small><i>@ViewBag.GrupoAgroperuFecha</i></small>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" style="width: 40px;"><i class="fa fa-file-excel-o fa-2x text-muted"></i></td>
                            <td>
                                <h4>
                                    <a href="../Descargas/DescargarPlantillaPadron">
                                        <i class="fa fa-download"></i> Plantilla Padron
                                    </a>
                                    <small>Formato para Creaci&oacute;n de Padron</small>
                                </h4>
                            </td>
                            <td class="hidden-xs hidden-sm">

                                <a href="javascript:void(0);">Version @ViewBag.PadronAgroperuVersion</a>
                                <br>
                                <small><i>@ViewBag.PadronAgroperuFecha</i></small>
                            </td>
                        </tr>

                        @*<tr>
                            <td class="text-center" style="width: 40px;"><i class="fa fa-file-excel-o fa-2x text-muted"></i></td>
                            <td>
                                <h4>
                                    <a href="../Descargas/DescargarPlantillaFiltroAgroperu">
                                        <i class="fa fa-download"></i> Plantilla Filtro Agroperu
                                    </a>
                                    <small>Formato para el filtro Agroperu</small>
                                </h4>
                            </td>
                            <td class="hidden-xs hidden-sm">

                                <a href="javascript:void(0);">Version 1.0</a>
                                <br>
                                <small><i>Marzo 11, 2020</i></small>
                            </td>
                        </tr>*@

                    </tbody>
                </table>
                

            </div>
        </div>
    </div>
    <!-- end row -->
    <!-- row -->
    <div class="row">
        <!-- a blank row to get started -->
    </div>
    <!-- end row -->
</div>
<!-- END MAIN CONTENT -->
