<div class="container-body">
    <!-- * * * * * * * * * * *inicio sidebar * * * * * * * * * * -->
    <app-sidebar></app-sidebar>
    <!-- * * * * * * * * * * * fin sidebar * * * * * * * * * * * -->

    <!-- * * * * * * * * * * * inicio navbar * * * * * * * * * * -->
    <app-navbar></app-navbar>
    <!-- * * * * * * * * * * * fin navbar * * * * * * * * * * * *-->

    <!-- * * * * * * * * * * * inicio renderbody * * * * * * * * -->


    <app-loading *ngIf="authGuard.loader"></app-loading>
    <div *ngIf="!authGuard.loader" class="container-detail layout-card-gray-1 no-pad-top">
        <router-outlet></router-outlet>
    </div>
    <!-- * * * * * * * * * * * fin renderbody * * * * * * * * * * -->
</div>
<div class="sidenav-overlay"></div>