<div id="ptv-dialog-confirm" class="modal modal-s">
    <div class="modal-header">
        <p style="margin-left: 20px; margin-right: 20px; font-weight: bold;">Confirmar</p>
    </div>
    <div class="modal-content center-align modal-alert-content">
        <p>{{ content }}</p>
    </div>
    <div class="modal-footer modal-alert-footer" style="background: transparent;">
        <div class="row">
            <div class="col l6 m6 s12">
                <button class="modal-close btn waves-effect waves-light btn-default red" (click)="cancel()">
                    <span>No</span>
                </button>
            </div>
            <div class="col l6 m6 s12">
                <button class="modal-close btn waves-effect waves-light btn-default" (click)="confirm()">
                    <span>Sí</span>
                </button>
            </div>
        </div>
        
    </div>
</div>