<h1 mat-dialog-title style="text-align: center;"> Asociación de visita sin asignación</h1>
<div class="divider" style="margin-bottom: 20px;"></div>
    <!-- <i class="material-icons btn-close" (click)="dialogRef.close()">close</i> -->

<mat-dialog-content class="mat-typography">

    <form validate [formGroup]="FormVisita" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col s12 m6 l2">
                <p>Número de DNI: </p>
            </div>
            <div class="col s12 m6 l4">
                <input style="padding-left: 10px; padding-right: 10px;" type="text" maxlength=8 placeholder="Nro. documento" name="nrodoc" id="nrodoc" formControlName="nrodoc">
                <div style="color: red; font-size: small;" *ngIf="FormSubmitted && FormVisita.get('nrodoc')?.errors">
                    Ingrese documento
                </div>
            </div>
            <div class="col s12 m6 l4">
                <button type="submit" class="btn waves-effect waves-light">
                    <span>Buscar</span>
                    <i class="material-icons right">search</i>
                </button>
            </div>
        </div>
    </form>

    <div class="divider" style="margin-bottom: 20px;"></div>

    <div class="row" id="tecnicos-grid">

        <p style="margin-left: 14px;">Lista de resultados:</p>

        <table mat-table [dataSource]="listaVisitas">
            <ng-container matColumnDef="numerodocumento">
                <th mat-header-cell *matHeaderCellDef> DNI </th>
                <td mat-cell *matCellDef="let element"> {{element.numeroDocumento}} </td>
            </ng-container>
            <ng-container matColumnDef="nombrecliente">
                <th mat-header-cell *matHeaderCellDef> Nombre Cliente </th>
                <td mat-cell *matCellDef="let element"> {{ element.nombreCompleto }} </td>
            </ng-container>
            <ng-container matColumnDef="fechavisita">
                <th mat-header-cell *matHeaderCellDef> Fecha visita </th>
                <td mat-cell *matCellDef="let element"> {{ element.fecha }} </td>
            </ng-container>
            <ng-container matColumnDef="horavisita">
                <th mat-header-cell *matHeaderCellDef> Hora visita </th>
                <td mat-cell *matCellDef="let element"> {{ element.hora }} </td>
            </ng-container>
            <ng-container matColumnDef="visitador">
                <th mat-header-cell *matHeaderCellDef> Visitador </th>
                <td mat-cell *matCellDef="let element"> {{ element.usuarioCreacion }} </td>
            </ng-container>
            <ng-container matColumnDef="cultivo">
                <th mat-header-cell *matHeaderCellDef> Cultivo </th>
                <td mat-cell *matCellDef="let element"> {{ element.cultivo }} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button type="button" class="btn waves-effect waves-light" style="margin-right: 40px;" (click)="asignacion()">
        <span>Grabar</span>
        <i class="material-icons right">repeat</i>
    </button>
    <button type="button" class="btn waves-effect waves-light grey" (click)="dialogRef.close()">
        <span>Cerrar</span>
    </button>
</mat-dialog-actions>