#mapid {
  height: 700px;
}

.imgToolTip {
  height: 120px !important;
  width: 300px !important;
}

.popup {
  text-align: center;
}

.popup .slideshow .image {
  display: none;
}

.popup .slideshow .image.active {
  display: block;
}

.popup .slideshow img {
  width: 100%;
}

.popup .slideshow .caption {
  background: #eee;
  padding: 10px;
}

.popup .cycle {
  padding: 10px 0 20px;
}

.popup .cycle a.prev {
  float: left;
}

.popup .cycle a.next {
  float: right;
}