
<div class="section no-padding">
    <div class="row     col s12 no-mar-bot">
        <div class="section no-mar-bot">
            <div class="col s12 m12 l12">
                <h1 class="title">Consulta de Predios</h1>
            </div>
        </div>
    </div>
</div>

<div class="card-panel row layout-card-gray-2">
    <div class="row">
        <div class="col s12 m12 l12">
            <span>Buscar por:</span>
        </div>
    </div>

    <div class="row no-mar-bot">
        <form novalidate  [formGroup]="busquedaFiltro">
            <div class="col s12 m6 l4">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="agencia">Agencia</label>
                    <select name="agencia" id="select_agencia" formControlName="codigoagencia" (change)="agenciaSeleccionada($event.target)">
                        <option [ngValue]="0">Todos</option>
                        <option *ngFor="let agencia of agencias" [ngValue]="agencia.codigo">{{agencia.oficina}}</option>
                    </select>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="funcionarios">Funcionario</label>
                    <select name="codigofuncionario" id="select_funcionarios" formControlName="codigofuncionario">
                      <option [ngValue]="'0'">Todos</option>
                        <option *ngFor="let item of funcionarios" [ngValue]="item.usuario">{{item.nombre}}</option>
                    </select>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="asociacion">Cultivo</label>
                    <select name="asociacion2" id="select_cultivo" formControlName="cultivo" >
                        <option [ngValue]="0">Todos</option>
                        <option *ngFor="let item of cultivos" [ngValue]="item.codigo">{{item.descripcion}}</option>
                    </select>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="agencia">Campaña</label>
                    <select name="agencia" id="select_campana" formControlName="campania" >
                        <option [ngValue]="0">Todos</option>
                        <option *ngFor="let item of campanas" [ngValue]="item.nombreParametro">{{item.nombreParametro}}</option>
                    </select>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="agencia">Asociación</label>
                    <select name="agencia" id="select_asociacion" formControlName="codigoAsociacion"  >
                      <option [ngValue]="0">Todos</option>
                      <option *ngFor="let asociacion of asociaciones" [ngValue]="asociacion.codigo">
                          {{asociacion.valor}}</option>
                    </select>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="asociacion">Estado Crédito</label>
                    <select name="asociacion" id="select_estadocredito" formControlName="codigoEstadoCredido">
                        <option [ngValue]="0">Todos</option>
                        <option *ngFor="let item of creditos" [ngValue]="item">{{item}}</option>
                    </select>
                </div>
            </div>

            <div class="input-field input-field-common col s6" style="margin-left: 20px;">
                <label class="label active" for="TipoMapa" style="margin-left: -10px;">Tipo de Mapa</label>
                <div class="row">
                    <p>
                        <label>
                            <input name="TipoMapa" type="radio" value="1"  formControlName="TipoMapa" />
                            <span>Puntos geográficos</span>
                        </label>&nbsp;&nbsp;
                        <label>
                            <input name="TipoMapa" type="radio" value="0" formControlName="TipoMapa" />
                            <span>Área de perímetro </span>
                        </label>
                    </p>
                    <p style="color: red; font-size: small;" *ngIf="busquedaFiltro.get('TipoMapa')?.errors">Debe seleccionar el tipo de mapa</p>
                </div>
            </div>

            <div class="col s2 m6 l2 offset-s7">
                <button (click)="BuscarPredio()" class="btn waves-effect waves-light btn-default-resize" style="margin-top:23px;">
                    <span>Buscar</span>
                    <i class="material-icons">Consultar Predios</i>
                </button>
            </div>
        </form>
    </div>


</div>
<div *ngIf="noResultados"><span class="red-text text-darken-2"> No se encontraron resultados. </span></div>
<div id="mapid" class="mapid"></div>
<app-loading *ngIf="!peticionesTerminadas"></app-loading>
<app-msg-error></app-msg-error>