<form novalidate [formGroup]="formVisitaPdfItem" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>Informe de Visita</h2>
  <mat-dialog-content class="mat-typography">
    <app-pdf-view #pdfview [CodigoVisita]="CodVisita" (Comentario)="onComment($event)"></app-pdf-view>
  </mat-dialog-content>

  <div>
  <textarea  name="comentario" id="comentario" cols="30" rows="6" placeholder="Agregar comentario" formControlName="comentario"></textarea>
    <div style="color: red; font-size: small;" *ngIf="formSubmitted && formVisitaPdfItem.get('comentario')?.errors">
      Comentario requerido
    </div>
  </div>

  <div mat-dialog-actions>
    <button type="button" class="btn waves-effect waves-light" (click)="pdfview.dowloadPdf(profesional)">
      <span>Descargar</span>
      <i class="material-icons right">picture_as_pdf</i>
    </button>

    <button *ngIf="comentarioVisita === ''" id="btnAprobe" type="submit" class="btn waves-effect waves-light" value="aprobe">
      <span>Aprobar</span>
      <i class="material-icons right">check</i>
    </button>

    <button *ngIf="comentarioVisita === ''" id="btnReject" type="submit" class="btn waves-effect waves-light red" value="cancel">
      <span>Rechazar</span>
      <i class="material-icons right">delete</i>
    </button>
  </div>

</form>
