﻿
@{
    ViewBag.Title = "Bandeja";
}

<div id="content">



    <section id="widget-grid" class="">

        <!-- row RELACION DE AGRUPAMIENTOS -->
        <div class="row" id="div-RelacionAgrupamientos">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-Buscar" data-widget-editbutton="false" data-widget-deletebutton="false">

                    <header role="heading">
                        <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                        <h2> Par&aacute;metos de B&uacute;squeda </h2>
                    </header>
                    <!-- widget div-->
                    <div class="row">
                        <div class="widget-body">
                            <div class="smart-form">
                                <div id="div-errors"></div>
                                <form id="frm-Busqueda">
                                    <fieldset>
                                        <div class="row">
                                            <section class="col col-4">
                                                <label class="label">Agencia</label>
                                                <label class="select">
                                                    <select id="cboAgencia" name="cboAgencia" disabled>
                                                        <option value="0" selected="" disabled=""> [Seleccione] </option>
                                                    </select>
                                                    <i></i>
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label class="label">Analista</label>
                                                <label class="select">
                                                    <select id="cboFuncionario" name="cboFuncionario" disabled>
                                                        <option value="0" selected=""> [Seleccione] </option>
                                                    </select>
                                                    <i></i>
                                                </label>
                                            </section>
                                        </div>

                                    </fieldset>
                                    <footer>
                                        <a class="btn btn-default" id="btnBuscar">
                                            <i class="fa fa-search"></i> Buscar
                                        </a>
                                    </footer>
                                </form>

                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>


                <ul id="myTab3" class="nav nav-tabs tabs-pull-right bordered">
                    <li class="active">
                        <a href="#Solicitudes" data-toggle="tab">Solicitudes en Tr&aacute;mite</a>
                    </li>
                    <li class="pull-right">
                        <a href="#Grupos" data-toggle="tab">Grupos Creados</a>
                    </li>
                </ul>
                <div id="myTabContent3" class="tab-content">
                    <div class="tab-pane fade in active" id="Solicitudes">
                        <table id="datatable_Solicitudes" class="table table-striped table-bordered table-hover" width="100%">
                            <thead>
                                <tr>

                                    <th data-hide="phone">N&uacute;mero Solicitud</th>
                                    <th>N&uacute;mero DNI</th>
                                    <th data-hide="phone">Nombre Cliente</th>
                                    <th>Monto Soles</th>
                                    <th data-hide="phone">Result. Filtro</th>
                                    <th data-hide="phone">Tipo Cuota</th>
                                    <th data-hide="phone">Geo Ref</th>
                                    <th data-hide="phone">Inf Vis</th>
                                    @*/*AGRO-REQ-023 VISITAS VINCULACIÓN */*@
                                    <th data-hide="phone">Vinc. Vis</th>
                                    <th data-hide="phone">F. Caja</th>
                                    <th data-hide="phone">Inf Com</th>
                                    <th data-hide="phone">Prop</th>
                                    <th data-hide="phone">Estado</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                    <div class="tab-pane fade" id="Grupos">

                        <table id="datatable_Agrupamientos" class="table table-striped table-bordered table-hover" width="100%">
                            <thead>
                                <tr>
                                    <th data-class="expand">Opc</th>
                                    <th data-hide="phone">C&oacute;digo</th>
                                    <th>Nombre Grupo</th>
                                    <th data-hide="phone,tablet">Organizaci&oacute;n de Productores</th>
                                    <th data-hide="phone">Nro Reg</th>
                                    <th class="text-align-center">Nro Aprob</th>
                                    <th>Importe Solicitado</th>
                                    <th>Estado</th>
                                    <th data-hide="phone">Fecha Evaluaci&oacute;n</th>
                                    <th>Pago A.T.</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                </div>
            </article>
            <!-- WIDGET END -->
        </div>




        <!-- end row RELACION DE AGRUPAMIENTOS-->
        <!-- row DETALLE DE AGRUPAMIENTO -->
        <div class="" id="div-DetalleAgrupamiento" hidden="hidden">
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                    <h5>Nombre Grupo</h5>
                    <h1 class="page-title txt-color-blueDark">
                        <i class="fa fa-group fa-fw "></i> <label id="LblNomAgrup"> [Nombre Grupo]</label> <span>
                        </span>
                    </h1>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8 text-align-right">
                    <button type="button" class="btn btn-default" id="btnRegresarRelAgrup">
                        <i class="fa fa-backward"></i> Regresar
                    </button>
                </div>
            </div>
            <div class="row">
                <!-- DETALLE DE AGRUPAMIENTO -->
                <article class="col-sm-12 col-md-12 col-lg-12">

                    <div class="jarviswidget" id="wid-id-DetalleAgrup" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">

                        <header>
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                            <h2> DETALLE DE GRUPO </h2>
                        </header>
                        <!-- widget div-->
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">
                                <form id="frm-DatosAgrupamiento" class="smart-form">
                                    <fieldset>
                                        <h4><strong>Datos Organizaci&oacute;n</strong></h4>
                                        <hr class="simple" />
                                        <div class="row">
                                            <section class="col col-6">
                                                <label class="label"> Organizaci&oacute;n de Productores </label>
                                                <label class="select">
                                                    <select id="ddlJuntaRegantes" name="JuntaRegantes" class="data-Grupo">
                                                        <option value="0" selected="" disabled=""> [Seleccione] </option>
                                                    </select>
                                                </label>
                                            </section>
                                            <section class="col col-6">
                                                <label class="label"> Comisión</label>
                                                <label class="select">
                                                    <select id="ddlComisionRegante" name="ddlComisionRegante" class="data-Grupo">
                                                        <option value="0" selected="" disabled=""> [Seleccione] </option>
                                                    </select>
                                                </label>
                                            </section>
                                        </div>

                                        <div class="row">
                                            <section class="col col-6">
                                                <label class="label"> Producto </label>
                                                <label class="select">
                                                    <select name="ddlCultivo" id="ddlCultivo" class="data-Grupo">
                                                        <option value="0" selected="" disabled="">[Seleccione]</option>
                                                    </select>
                                                </label>
                                            </section>
                                        </div>

                                        <div class="row">
                                            <section class="col col-2">
                                                <label class="label"> Tipo Documento </label>
                                                <label class="select">
                                                    <select id="ddlAsistTipoDoc" name="ddlAsistTipoDoc" class="data-Grupo">
                                                        <option value="0" selected="" disabled=""> [Seleccione] </option>
                                                        <option value="DNI">DNI</option>
                                                        <option value="RUC">RUC</option>
                                                    </select>
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label class="label"> N&uacute;mero Documento </label>
                                                <label class="input">
                                                    <input type="text" id="TxtAsistNumDoc" class="data-Grupo">
                                                </label>
                                            </section>

                                            <section class="col col-6">
                                                <label class="label"> Nombre Asistente T&eacute;cnico </label>
                                                <label class="input">
                                                    <input type="text" id="TxtAsistNombre" class="data-Grupo">
                                                </label>
                                            </section>
                                        </div>

                                    </fieldset>

                                    <fieldset>
                                        <h4><strong>Datos Desembolso</strong></h4>
                                        <hr class="simple" />

                                        <div class="row">
                                            <section class="col col-4">
                                                <label class="label"> Banco </label>
                                                <label class="select">
                                                    <select name="Banco" id="ddlBanco" disabled="disabled" class="data-Grupo">
                                                        <option value="0" selected="" disabled="">[Seleccione]</option>
                                                    </select>
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label class="label"> Forma Abono </label>
                                                <label class="select">
                                                    <select name="ddlFormaAbono" id="ddlFormaAbono" class="data-Grupo">
                                                        <option value="0" selected="" disabled="">[Seleccione]</option>
                                                    </select>
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label class="label"> Destino </label>
                                                <label class="select">
                                                    <select name="Destino" id="ddlDestino" class="data-Grupo">
                                                        <option value="0" selected="" disabled="">[Seleccione]</option>
                                                    </select>
                                                </label>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <div class="col col-4">
                                                <label class="label"> TASA </label>
                                                <label class="input">
                                                    <input type="text" id="TxtTasa" class="data-Grupo">
                                                </label>

                                                @*<label class="select">
                                                        <select name="ddlTasa" id="ddlTasa">
                                                            <option value="0" selected="" disabled="">[Seleccione]</option>
                                                        </select>
                                                    </label>*@
                                            </div>
                                            <section class="col col-4">
                                                <label class="label"> Forma Pago </label>
                                                <label class="select">
                                                    <select name="ddlFormaPago" id="ddlFormaPago" class="data-Grupo">
                                                        <option value="0" selected="" disabled="">[Seleccione]</option>
                                                    </select>
                                                </label>
                                            </section>

                                            <section class="col col-4">
                                                <label class="label"> Seguro Desgravamen </label>
                                                <label class="select">
                                                    <select name="ddlSeguroDesgravamen" id="ddlSeguroDesgravamen" class="data-Grupo">
                                                        <option value="0" selected="" disabled="">[Seleccione]</option>
                                                    </select>
                                                </label>
                                            </section>
                                        </div>


                                    </fieldset>
                                </form>
                            </div>
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                    </div>
                </article>
                <!-- END DETALLE DE AGRUPAMIENTO -->
            </div>

            <div class="row">
                <!-- NEW RELACION DE INTEGRANTES -->
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <div class="jarviswidget" id="wid-id-ListaIntegrantes" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2> Relaci&oacute;n  de Integrantes </h2>
                        </header>
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">
                                <table id="datatable_Integrantes" class="table table-striped table-bordered table-hover" width="100%">
                                    <thead>
                                        <tr>
                                            <th data-class="expand"><i class="fa fa-fw fa-gear text-muted hidden-md hidden-sm hidden-xs"></i> Opc</th>
                                            <th data-hide="phone">N&uacute;mero Solicitud</th>
                                            <th>N&uacute;mero DNI</th>
                                            <th data-hide="phone">Nombre Cliente</th>
                                            <th>Monto Soles</th>
                                            <th data-hide="phone">Result. Filtro</th>
                                            <th data-hide="phone">Tipo Cuota</th>
                                            <th data-hide="phone">Geo Ref</th>
                                            <th data-hide="phone">Inf Vis</th>
                                            <!-- AGRE REQ 023-->
                                            <th data-hide="phone">Vinc. Vis</th>
                                            <!---->
                                            <th data-hide="phone">F. Caja</th>
                                            <th data-hide="phone">Inf Com</th>
                                            <th data-hide="phone">Prop</th>
                                            <th data-hide="phone">Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                            </div>
                            <!-- end widget content -->
                        </div>
                    </div>

                </article>
                <!-- END RELACION DE INTEGRANTES -->

            </div>
        </div>
        <!-- end row DETALLE DE AGRUPAMIENTO -->
        <!-- row DETALLE DE INTEGRANTE -->
        <div class="" id="div-DetalleIntegrante" hidden="hidden">
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                    <h1 class="page-title txt-color-blueDark">
                        <i class="fa fa-user fa-fw "></i> <label id="LblNomIntegrante"> [Nombre]</label> <span>

                        </span>
                    </h1>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8 text-align-right">
                    <button type="button" class="btn btn-default" id="btnRegresarRelInt">
                        <i class="fa fa-backward"></i> Regresar
                    </button>
                </div>
            </div>

            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget" id="wid-id-Integrante" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                            <h2> Datos de Integrante </h2>
                        </header>
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body">

                                <div class="tabs">
                                    <ul class="nav nav-tabs tabs-left">
                                        <li class="active">
                                            <a href="#tab1" data-toggle="tab">Info. Cliente @*<span class="badge bg-color-blue txt-color-white">12</span>*@</a>
                                        </li>
                                        <li>
                                            <a href="#tab2" data-toggle="tab">Info. Solicitud</a>
                                        </li>
                                        @*<li>
                                                <a href="#tab3" data-toggle="tab">Info. Garant&iacute;as </a>
                                            </li>*@
                                    </ul>
                                    <div class="tab-content tab-Cliente">
                                        <div class="tab-pane active" id="tab1">
                                            <form id="form-Titular" class="smart-form" novalidate="novalidate">
                                                <fieldset>
                                                    <h4><strong>Datos Titular</strong></h4>
                                                    <hr class="simple" />
                                                    <div class="row">
                                                        <section class="col col-3">
                                                            <label class="label">Tipo Documento</label>
                                                            <label class="select">
                                                                <select id="ddlTipDoc" name="ddlTipDoc" class="data-Integrante">
                                                                    <option value="0" selected="" disabled="">[tipo documento]</option>
                                                                    <option value="DNI">DNI</option>
                                                                    <option value="RUC">RUC</option>
                                                                </select> <i></i>
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">N&uacute;mero Documento</label>
                                                            <label class="input">
                                                                <i class="icon-append fa fa-user"></i>
                                                                <input type="text" id="TxtNumDoc" name="TxtNumDoc" placeholder="Numero Documento" class="data-Integrante">
                                                                <b class="tooltip tooltip-bottom-right">Numero Documento</b>
                                                            </label>
                                                        </section>
                                                    </div>
                                                    <div class="row">
                                                        <section class="col col-3">
                                                            <label class="label">Primer Nombre</label>
                                                            <label class="input">
                                                                <i class="icon-append fa fa-user"></i>
                                                                <input type="text" id="TxtPrimerNombre" name="TxtPrimerNombre" placeholder="Primer Nombre" class="data-Integrante">
                                                                <b class="tooltip tooltip-bottom-right">Primer Nombre</b>
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">Segundo Nombre</label>
                                                            <label class="input">
                                                                <i class="icon-append fa fa-user"></i>
                                                                <input type="text" id="TxtSegundoNombre" name="TxtSegundoNombre" placeholder="Segundo Nombre" class="data-Integrante">
                                                                <b class="tooltip tooltip-bottom-right">Segundo Nombre</b>
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">Apellido Paterno</label>
                                                            <label class="input">
                                                                <i class="icon-append fa fa-user"></i>
                                                                <input type="text" id="TxtApPaterno" name="TxtApPaterno" placeholder="Apellido Paterno" class="data-Integrante">
                                                                <b class="tooltip tooltip-bottom-right">Apellido Paterno</b>
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">Apellido Materno</label>
                                                            <label class="input">
                                                                <i class="icon-append fa fa-user"></i>
                                                                <input type="text" id="TxtApMaterno" name="TxtApMaterno" placeholder="Apellido Materno" class="data-Integrante">
                                                                <b class="tooltip tooltip-bottom-right">Apellido Materno</b>
                                                            </label>
                                                        </section>
                                                    </div>
                                                    <div class="row">
                                                        <section class="col col-3">
                                                            <label class="label">Sexo</label>
                                                            <label class="select">
                                                                <select id="ddlSexo" name="ddlSexo" class="data-Integrante">
                                                                    <option value="0" selected="" disabled="">[Sexo]</option>
                                                                    <option value="M">Masculino</option>
                                                                    <option value="F">Femenino</option>
                                                                </select> <i></i>
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">Estado Civil</label>
                                                            <label class="select">
                                                                <select id="ddlEstadoCivil" name="ddlEstadoCivil" class="data-Integrante">
                                                                    <option value="0" selected="" disabled="">[Estad Civil]</option>
                                                                    <option value="1">Soltero</option>
                                                                    <option value="2">Casado</option>
                                                                    <option value="3">Divorciado</option>
                                                                    <option value="4">Viudo</option>
                                                                    <option value="5">Cohabitando</option>
                                                                </select> <i></i>
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">N&uacute;mero Celular</label>
                                                            <label class="input">
                                                                <i class="icon-prepend fa fa-phone"></i>
                                                                <input type="tel" id="TxtCelular" name="TxtCelular" placeholder="Numero Celular" data-mask="999999999" class="data-Integrante edit">
                                                                <b class="tooltip tooltip-bottom-right">N&uacute;mero Celular</b>
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">Experiencia</label>
                                                            <label class="input">
                                                                <input type="text" id="TxtExperiencia" name="TxtExperiencia" placeholder="Experiencia" class="data-Integrante">
                                                                <b class="tooltip tooltip-bottom-right">Experiencia (Años)</b>
                                                            </label>
                                                        </section>
                                                    </div>
                                                    <div class="row">
                                                        <section class="col col-3">
                                                            <label class="label">Fecha Nacimiento</label>
                                                            <label class="input">
                                                                <i class="icon-append fa fa-calendar"></i>
                                                                <input type="text" id="TxtFecha" name="TxtFecha" placeholder="Fecha Nacimiento" class="datepicker data-Integrante"
                                                                       data-mask="99/99/9999" data-dateformat='dd/mm/yy'>
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">Correo</label>
                                                            <label class="input">
                                                                <input type="text" id="TxtCorreo" name="TxtCorreo" placeholder="Correo" class="data-Integrante edit">
                                                                <b class="tooltip tooltip-bottom-right">Correo</b>
                                                            </label>
                                                        </section>
                                                    </div>
                                                </fieldset>
                                                <fieldset>
                                                    <h4><strong>Datos Conyugue</strong></h4>
                                                    <hr class="simple" />
                                                    <div class="row">
                                                        <section class="col col-3">
                                                            <label class="label">Tipo Documento</label>
                                                            <label class="select">
                                                                <select id="ddlTipoDocCony" name="ddlTipoDocCony" class="data-Integrante">
                                                                    <option value="0" selected="" disabled="">[tipo documento]</option>
                                                                    <option value="DNI">DNI</option>
                                                                    <option value="RUC">RUC</option>
                                                                </select> <i></i>
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">N&uacute;mero Documento</label>
                                                            <label class="input">
                                                                <i class="icon-append fa fa-user"></i>
                                                                <input type="text" id="TxtNumDocCony" name="TxtNumDocCony" placeholder="Numero Documento" class="data-Integrante">
                                                                <b class="tooltip tooltip-bottom-right">Numero Documento</b>
                                                            </label>
                                                        </section>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                        <div class="tab-pane" id="tab2">
                                            <form id="form-Solicitud" class="smart-form" novalidate="novalidate">
                                                <fieldset>
                                                    <h4><strong>Datos Predio</strong></h4>
                                                    <hr class="simple" />
                                                    <div class="row">
                                                        <section class="col col-3">
                                                            <label class="label">Departamento</label>
                                                            <label class="select">
                                                                <select id="ddlDepartamento" name="ddlDepartamento" class="data-Integrante">
                                                                    <option value="0" selected="selected" disabled="disabled">[Seleccione Departamento]</option>
                                                                </select> <i></i>
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">Provincia</label>
                                                            <label class="select">
                                                                <select id="ddlProvincia" name="ddlProvincia" class="data-Integrante">
                                                                    <option value="0" selected="selected" disabled="disabled">[Seleccione Provincia]</option>
                                                                </select> <i></i>
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">Distrito</label>
                                                            <label class="select">
                                                                <select id="ddlDistrito" name="ddlDistrito" class="data-Integrante">
                                                                    <option value="0" selected="selected" disabled="disabled">[Seleccione Distrito]</option>
                                                                </select> <i></i>
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">Referencia</label>
                                                            <label class="input">
                                                                @*<i class="icon-append fa fa-user"></i>*@
                                                                <input type="text" id="TxtReferencia" name="TxtReferencia" placeholder="Referencia" class="data-Integrante">
                                                                <b class="tooltip tooltip-bottom-right">Referecia</b>
                                                            </label>
                                                        </section>
                                                    </div>
                                                    <div class="row">
                                                        <section class="col col-3">
                                                            <label class="label">R&eacute;gimen Tenencia</label>
                                                            <label class="select">
                                                                <select id="ddlTenencia" name="ddlTenencia" class="data-Integrante">
                                                                    <option value="0" selected="selected" disabled="disabled">[Seleccione]</option>
                                                                    <option value="CAAP">Arriendo + Areas Propias</option>
                                                                    <option value="CA1V">Arriendo</option>
                                                                    <option value="CCOM">Comunero</option>
                                                                    <option value="CTPR">Con t&iacute;tulo por Registrar</option>
                                                                    <option value="CTYR">Con t&iacute;tulo ya Registrado</option>
                                                                    <option value="CPOS">Posesionario</option>
                                                                </select> <i></i>
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">Unidad Catastral</label>
                                                            <label class="input">
                                                                <input type="text" id="TxtUnidadCatastral" name="ddlUnidadCatastral" class="data-Integrante">
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">Estado Campo</label>
                                                            <label class="select">
                                                                <select id="ddlEstadoCampo" name="ddlEstadoCampo" class="data-Integrante">
                                                                    <option value="0" selected="selected" disabled="disabled">[Seleccione]</option>
                                                                    <option value="1">En preparaci&oacute;n</option>
                                                                    <option value="2">Otro Cultivo</option>
                                                                    <option value="3">Regado</option>
                                                                    <option value="4">Sembrado</option>
                                                                </select> <i></i>
                                                            </label>
                                                        </section>
                                                    </div>
                                                </fieldset>

                                                <fieldset>
                                                    <h4><strong>Datos Solicitud</strong></h4>
                                                    <hr class="simple" />
                                                    <div class="row">
                                                        <section class="col col-3">
                                                            <label class="label">Tipo Unidad Financiamiento</label>
                                                            <label class="select">
                                                                <select id="ddlFinanciamiento" name="ddlFinanciamiento" class="data-Integrante">
                                                                    <option value="0" selected="selected" disabled="disabled">[Seleccione]</option>
                                                                    <option value="CG">CABEZA DE GANADO</option>
                                                                    <option value="HAS">HECTAREAS</option>
                                                                </select> <i></i>
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">Nro Unidades Totales</label>
                                                            <label class="input">
                                                                <input type="text" id="TxtUnidTotales" name="TxtUnidTotales" placeholder="" data-mask="99" class="data-Integrante">
                                                                <b class="tooltip tooltip-bottom-right">Referecia</b>
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">Nro Unidades Financiadas</label>
                                                            <label class="input">
                                                                <input type="text" id="TxtUnidFinanciadas" name="TxtUnidFinanciadas" placeholder="" data-mask="99" class="data-Integrante">
                                                                <b class="tooltip tooltip-bottom-right">Referecia</b>
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">Monto Solicitado</label>
                                                            <label class="input">
                                                                <input type="text" id="TxtMontoSolicitado" name="TxtMontoSolicitado" placeholder="" class="data-Integrante">
                                                                <b class="tooltip tooltip-bottom-right">Referecia</b>
                                                            </label>
                                                        </section>
                                                    </div>
                                                    <div class="row">
                                                        <section class="col col-3">
                                                            <label class="label">Env&iacute;o Cronograma</label>
                                                            <label class="select">
                                                                <select id="ddlEnvioCronograma" name="ddlEnvioCronograma" class="data-Integrante">
                                                                    <option value="X" selected="selected" disabled="disabled">[Seleccione]</option>
                                                                    <option value="0">No desea</option>
                                                                    <option value="1">Enviar por Correo</option>
                                                                    <option value="2">Enviar Impreso</option>
                                                                </select> <i></i>
                                                            </label>
                                                        </section>
                                                        <section class="col col-3">
                                                            <label class="label">¿Qu&eacute; hacer Adelanto?</label>
                                                            <label class="select">
                                                                <select id="ddlAdelanto" name="ddlAdelanto" class="data-Integrante">
                                                                    <option value="0" selected="selected" disabled="disabled">[Seleccione]</option>
                                                                    <option value="1">Reducir Monto Cuotas</option>
                                                                    <option value="2">Reducir Nro Cuotas</option>
                                                                    <option value="3">Consultar v&iacute;a Web</option>
                                                                </select> <i></i>
                                                            </label>
                                                        </section>
                                                    </div>
                                                    @*<div class="row">
                                                            <h4><strong>Forma de Abono</strong></h4>
                                                            <hr class="simple" />
                                                            <section class="col col-3">
                                                                <label class="label">Tipo</label>
                                                                <label class="select">
                                                                    <select id="ddlFormaAbono_Cliente" name="ddlFormaAbono_Cliente" class="data-Integrante edit">
                                                                        <option value="" selected="selected" disabled="disabled">[Seleccione Tipo]</option>
                                                                    </select> <i></i>
                                                                </label>
                                                            </section>
                                                            <div class="transf">
                                                                <section class="col col-3">

                                                                    <label class="select">
                                                                        <select id="ddlBanco_Abono" name="ddlBanco_Abono" class="data-abono">
                                                                            <option value="" selected="selected" disabled="disabled">[Seleccione Banco]</option>
                                                                        </select> <i></i>
                                                                    </label>
                                                                </section>

                                                                <section class="col col-3">

                                                                    <label class="input">
                                                                        <input type="text" id="TxtCCI" name="TxtCCI" class="data-abono"
                                                                               placeholder="Codigo de Cuenta Interbancaria">
                                                                        <b class="tooltip tooltip-bottom-right">CCI</b>
                                                                    </label>
                                                                </section>
                                                            </div>
                                                        </div>*@
                                                </fieldset>
                                                <footer>
                                                    <h4><strong>Forma de Abono</strong></h4>
                                                    <hr class="simple" />
                                                    <div class="row ">
                                                        <section class="col col-3">
                                                            <label class="select">
                                                                <select id="ddlFormaAbono_Cliente" name="ddlFormaAbono_Cliente">
                                                                    <option value="" selected="selected" disabled="disabled">[Seleccione Tipo]</option>
                                                                </select> <i></i>
                                                            </label>
                                                        </section>
                                                        <div class="transf">
                                                            <section class="col col-3">
                                                                <label class="select">
                                                                    <select id="ddlBanco_Abono" name="ddlBanco_Abono" class="data-abono">
                                                                        <option value="" selected="selected" disabled="disabled">[Seleccione Banco]</option>
                                                                    </select> <i></i>
                                                                </label>
                                                            </section>
                                                            <section class="col col-3">
                                                                <label class="input">
                                                                    <input type="text" id="TxtCCI" name="TxtCCI" class="data-abono"
                                                                           placeholder="Codigo de Cuenta Interbancaria">
                                                                    <b class="tooltip tooltip-bottom-right">CCI</b>
                                                                </label>
                                                            </section>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <section class="col col-3" style="display:inline-grid; ">
                                                            <a type="button" id="btnGuardarFormaAbono" href="javascript:void(0);" class="btn btn-default disabled">
                                                                <i class="fa fa-save"></i> Guardar Cambio
                                                            </a>
                                                        </section>
                                                    </div>
                                                </footer>
                                            </form>
                                        </div>
                                        @*<div class="tab-pane" id="tab3">
                                                <form id="form-Garantias" class="smart-form" novalidate="novalidate">
                                                    <fieldset>
                                                        <h4><strong>Garant&iacute;a 1</strong></h4>
                                                        <hr class="simple" />
                                                        <div class="row">
                                                            <section class="col col-3">
                                                                <label class="label">Tipo Garant&iacute;</label>
                                                                <label class="select">
                                                                    <select id="ddlTipoGarantia1" name="ddlTipoGarantia1" class="data-Integrante">
                                                                        <option value="0" selected="selected" disabled="disabled">[Seleccione]</option>

                                                                    </select> <i></i>
                                                                </label>
                                                            </section>
                                                            <section class="col col-6">
                                                                <label class="label">Descripci&oacute;n Garant&iacute;a</label>
                                                                <label class="input">
                                                                    <input type="text" id="TxtDesGarantia1" name="TxtDesGarantia1" placeholder="" class="data-Integrante">
                                                                    <b class="tooltip tooltip-bottom-right">Descripci&oacute;n</b>
                                                                </label>
                                                            </section>
                                                        </div>
                                                        <div class="row">
                                                            <section class="col col-3">
                                                                <label class="label">Valor Realizaci&oacute;n</label>
                                                                <label class="input">
                                                                    <input type="text" id="TxtValorRealizacion1" name="TxtValorRealizacion1" placeholder="" data-mask="99" class="data-Integrante">
                                                                    <b class="tooltip tooltip-bottom-right">Valor Realizaci&oacute;n</b>
                                                                </label>
                                                            </section>
                                                            <section class="col col-3">
                                                                <label class="label">P&oacute;liza</label>
                                                                <label class="select">
                                                                    <select id="ddlPoliza1" name="ddlPoliza1" class="data-Integrante">
                                                                        <option value="0" selected="selected" disabled="disabled">[Seleccione]</option>
                                                                    </select> <i></i>
                                                                </label>
                                                            </section>
                                                        </div>
                                                    </fieldset>
                                                    <fieldset>
                                                        <h4><strong>Garant&iacute;a 2</strong></h4>
                                                        <hr class="simple" />
                                                        <div class="row">
                                                            <section class="col col-3">
                                                                <label class="label">Tipo Garant&iacute;</label>
                                                                <label class="select">
                                                                    <select id="ddlTipoGarantia2" name="ddlTipoGarantia2" class="data-Integrante">
                                                                        <option value="0" selected="selected" disabled="disabled">[Seleccione]</option>
                                                                    </select> <i></i>
                                                                </label>
                                                            </section>
                                                            <section class="col col-6">
                                                                <label class="label">Descripci&oacute;n Garant&iacute;a</label>
                                                                <label class="input">
                                                                    <input type="text" id="TxtDesGarantia2" name="TxtDesGarantia2" placeholder="" class="data-Integrante">
                                                                    <b class="tooltip tooltip-bottom-right">Descripci&oacute;n Garant&iacute;a</b>
                                                                </label>
                                                            </section>
                                                        </div>
                                                        <div class="row">
                                                            <section class="col col-3">
                                                                <label class="label">Valor Realizaci&oacute;n</label>
                                                                <label class="input">

                                                                    <input type="text" id="TxtValorRealizacion2" name="TxtValorRealizacion2" placeholder="" data-mask="99" class="data-Integrante">
                                                                    <b class="tooltip tooltip-bottom-right">Referecia</b>
                                                                </label>
                                                            </section>
                                                            <section class="col col-3">
                                                                <label class="label">P&oacute;liza</label>

                                                                <div class="inline-group">
                                                                    <label class="radio">
                                                                        <input type="radio" id="rdbPolizaSi" name="rdnPoliza" checked="checked" class="data-Integrante">
                                                                        <i></i>Sí
                                                                    </label>
                                                                    <label class="radio">
                                                                        <input type="radio" id="rdbPolizaNo" name="radio-inline" class="data-Integrante">
                                                                        <i></i>No
                                                                    </label>
                                                                </div>
                                                            </section>
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>*@
                                    </div>
                                </div>


                            </div>
                            <!-- end widget content -->
                        </div>

                    </div>
                </article>
                @*<div class="row">
                        <section class="col col-3" style="display:inline-grid; ">
                            <a type="button" id="btnEditar" class="btn btn-default">
                                <i class="fa fa-save"></i> Editar
                            </a>
                        </section>
                    </div>*@
            </div>
        </div>
        <!-- end row DETALLE DE INTEGRANTE -->


    </section>

    <!-- Modals -->
    <div id="dialog-message" title="Dialog Simple Title">
        Número Propuesta:
        <b class="id-propuesta"></b>
        <div class="hr hr-12 hr-double"></div>
    </div>

    <!-- ADJUNTAR ARCHIVOS -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <span>Cliente: </span><h5 class="modal-title" id="myModalNom"></h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group cboCategoria">
                                <label for="category"> Categor&iacute;a</label>
                                <select class="form-control form-file" id="file-cboTipo" name="file-cboTipo" disabled>
                                    <option value="" selected="selected">[Seleccione]</option>
                                    <option value="1">Informe Visita</option>
                                    <option value="2">Flujo Caja</option>
                                    <option value="11">Informe Comercial</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <div class="form-group txtComentario">
                                <label for="tags"> Comentario</label>
                                <input type="text" class="form-control form-file" id="file-cboComentario" placeholder="Escriba aqui..." />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group fileDoc">
                                <div class="smart-form">
                                    <label class="label">Adjunte Archivo</label>
                                    <label for="file" class="input input-file">
                                        <div class="button">
                                            <input type="file" name="file-Doc" id="file-Doc" class="form-file" onchange="this.parentNode.nextSibling.value = this.value"
                                                   accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/pdf, application/vnd.ms-excel">Abrir Informe
                                        </div><input id="file-DocText" type="text" class="form-control form-file" placeholder="Cargar Archivo" readonly="">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="hidNroSolicitud" id="hidNroSolicitud" value="" />
                    <input type="hidden" name="hidNroDocumento" id="hidNroDocumento" value="" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning-sigd" data-dismiss="modal" id="CancelarAdjuntar">
                        <i class=""></i> Cancelar
                    </button>
                    <button type="button" class="btn btn-default" id="BtnAdjuntarArchivo">
                        <i class="fa fa-upload"></i> Subir Archivo
                    </button>
                </div>

            </div>
        </div>
    </div>

    <!-- MODAL APROBAR POR EXCEPCION -->
    <div class="modal fade" id="myModal-AprobExcepcion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h3 class="modal-title" id="myModalLabel">Aprobaci&oacute;n por Excepci&oacute;n</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group">
                                <label for="tags"> Nombre Cliente</label>
                                <input type="text" class="form-control form-file" id="modal-txtCliente" disabled placeholder="Nombre" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="category"> Motivo: </label>
                                <select class="form-control" id="modal-Motivo" disabled>
                                    <option value="02" selected="selected">Deuda SBS subsanada</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group fileDoc">
                                <div class="smart-form">
                                    <label class="label">Documento de Sustento</label>
                                    <label for="file" class="input input-file">
                                        <div class="button">
                                            <input type="file" name="modal-Archivo" id="modal-Archivo" class="form-file" onchange="this.parentNode.nextSibling.value = this.value"
                                                   accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/pdf, application/vnd.ms-excel">Adjuntar Archivo
                                        </div><input id="modal-ArchivoText" type="text" class="form-control form-file" placeholder="Adjuntar Archivo" readonly="">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="tags"> Comentario: </label>
                                <textarea class="form-control form-file" id="modal-txtComentario" placeholder="Ingresar Sustento" rows="3" maxlength="210" required></textarea>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="modal-hidNroSolicitud" id="modal-hidNroSolicitud" value="" />
                    <input type="hidden" name="modal-hidNroDocumento" id="modal-hidNroDocumento" value="" />
                </div>
                <div class="modal-footer">
                    <button id="BtnCancelarAprobacion" type="button" class="btn btn-warning-sigd" data-dismiss="modal">
                        Cancel
                    </button>
                    <button type="button" class="btn btn-default" id="modal-BtnAprobar">
                        <i class="fa fa-send"></i> Enviar
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!-- TIPO CRONOGRAMA -->
    <div class="modal fade" id="myModal-TipoCronograma" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <span>Cliente: </span><h5 class="modal-title" id="ModalTC-NomCliente"></h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form id="frmTipoCuota" class="smart-form">
                            <div>
                                <section class="col col-6">
                                    <label class="label"> Tipo Cronograma </label>
                                    <label class="select">
                                        <select class="" id="ModalTC-TipoCuota" name="ModalTC-TipoCuota">
                                            <option value="" selected="selected" disabled>[Seleccione]</option>
                                            <option value="1">Al Vencimiento</option>
                                            <option value="3">Cuota Fija</option>
                                            <option value="9">Cuota Variable</option>
                                        </select>

                                    </label>
                                </section>

                                <section class="col col-3">
                                    <label class="label"> N° Cuotas </label>
                                    <label class="select">
                                        <select class="plazo" id="ModalTC-NumeroCuotas" name="ModalTC-NumeroCuotas">
                                            <option value="" selected="selected" disabled>[Seleccione]</option>
                                            <option value="1">01</option>
                                            <option value="4">02</option>
                                            <option value="3">03</option>
                                            <option value="4">04</option>
                                            <option value="5">05</option>
                                        </select>
                                    </label>
                                </section>
                            </div>

                        </form>
                    </div>

                    <div class="row" id="ModalTC-div-CuotasFijas">
                        <form id="frmCuotaFija" class="smart-form">
                            <fieldset>
                                <div>
                                    <section class="col col-6">
                                        <label class="label"> Unidad de Frecuencia </label>
                                        <label class="select">
                                            <select class="lectura" id="ModalTC-UnidadFrecuencia" name="ModalTC-UnidadFrecuencia">
                                                @*<option value="" selected="selected" disabled>[Seleccione]</option>*@
                                                @*<option value="D">DIA</option>*@
                                                <option value="M" selected="selected">MES</option>
                                                @*<option value="Y">AÑO</option>*@
                                            </select>
                                        </label>
                                    </section>
                                    <section class="col col-4">
                                        <label class="label">Frecuencia Pago</label>
                                        <label class="input has-warning">
                                            <input type="number" class="form-control lectura plazo" id="ModalTC-FrecuenciaPago" min="1" step="1" pattern="^[1-9]\d*$">
                                        </label>
                                    </section>
                                    <input type="hidden" name="ModalTC-hidMaxPlazo" id="ModalTC-hidMaxPlazo" value="" result="true" />
                                </div>
                            </fieldset>
                            <fieldset>
                                <div>
                                    <section class="col col-6">
                                        <label class="label">Periodo de Gracia</label>
                                        <label class="input has-warning">
                                            <i class="icon-append fa fa-calendar"></i>
                                            <input type="text" id="ModalTC-FechaGracia" name="ModalTC-FechaGracia" placeholder="" class="datepicker lectura form-group" data-dateformat='dd/mm/yy' result="false" required>
                                        </label>
                                    </section>
                                    <section class="col col-4" id="Sec-DiasGracia">
                                        <label class="label">D&iacute;as de Gracia</label>
                                        <label class="input has-warning">
                                            <input type="number" class="form-control form-group lectura" id="ModalTC-DiasGracia" min="1" readonly>
                                        </label>
                                    </section>
                                    <input type="hidden" name="ModalTC-hidMaxDiasGracia" id="ModalTC-hidMaxDiasGracia" value="" result="false" />
                                </div>

                            </fieldset>
                        </form>
                    </div>

                    <div class="row" id="ModalTC-div-CuotasVariables">
                        <form id="frmCuotas" class="smart-form">
                            <header>
                                Registro Cuotas Variables
                            </header>
                            <fieldset id="RegistroCuotas"></fieldset>
                        </form>
                    </div>

                    <div class="alert alert-info fade in div-ValidacionPlazo" hidden="hidden">
                        <i class="fa-fw fa fa-warning"></i>
                        <strong>Atenci&oacute;n </strong> <p id="p-ValidacionPlazo"> El plazo de la solicitud no coincide con el plazo del cronograma, Verifique... </p>
                    </div>

                    <input type="hidden" name="ModalTC-hidNroSolicitud" id="ModalTC-hidNroSolicitud" value="" />
                    <input type="hidden" name="ModalTC-hidNroDocumento" id="ModalTC-hidNroDocumento" value="" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning-sigd" data-dismiss="modal" id="BtnCancelarTipoCronograma">
                        <i class=""></i> Cancelar
                    </button>
                    <button type="button" class="btn btn-default" id="BtnGuardarTipoCronograma">
                        <i class="fa fa-save"></i> Guardar
                    </button>
                </div>


            </div>
        </div>
    </div>


    <div class="modal fade" id="myModal-VinculacionVisitas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <span>Vinculación Visita </span><h5 class="modal-title"></h5>
                    <span>*Para realizar el proceso de vinculación es importante haberse logueado en el Sistema de Gestión de Visitas.</span>
                </div>
                <div class="modal-body">
                    <iframe class="responsive-iframe"  frameborder="0" style="overflow:hidden;height:500px;width:100%" id="iframevisita"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="BtnAtendidoVinculacionVisita">
                        <i class="fa fa-check"></i> Listo
                    </button>
                </div>


            </div>
        </div>
        <!-- /.modals -->
    </div>
<div>
    <input type="hidden" name="hidCodAgencia" id="hidCodAgencia" value="@ViewBag.CodigoAgencia" />
    <input type="hidden" name="hidCodFuncionario" id="hidCodFuncionario" value="@ViewBag.CodigoFuncionario" />
    <input type="hidden" name="hidCodAgrupamiento" id="hidCodAgrupamiento" value="" />
    <input type="hidden" name="hidCodIntegrante" id="hidCodIntegrante" value="" />
    <input type="hidden" id="UrlBaseSGV" value=@ViewBag.UrlBaseSGV />
    <input type="hidden" id="UrlBaseSGVAPI" value=@ViewBag.UrlBaseSGVAPI />
</div>

@section pagespecific {
    @*<script src="@Url.Content("~/Scripts/app/Grupo/BandejaAgrupamiento.js")"></script>
    <script src="@Url.Content("~/Scripts/app/Grupo/DetalleGrupo.js")"></script>
    <script src="@Url.Content("~/Scripts/app/Grupo/DetalleIntegrante.js")"></script>*@

    @Scripts.Render("~/scripts/BandejaAgrupamiento")
}
