﻿
@{
    ViewBag.Title = "EditarGrupo";
}

<div id="content">
    <!-- START ROW -->
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-edit fa-fw "></i>
                Agrupamiento
                <span>
                    >
                    Editar
                </span>
            </h1>
        </div>
    </div>

    <section id="widget-grid" class="">
        
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> DETALLE DE AGRUPAMIENTO </h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <form class="smart-form">
                                <header>
                                    Nombre Agrupamiento
                                </header>
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-8">
                                            <label class="label"> Organización de Productor </label>
                                            <label class="select">
                                                <select id="ddlJuntaRegantes" name="JuntaRegantes" disabled="disabled">
                                                    <option value="0" selected="" disabled=""> [Seleccione] </option>                                                    
                                                </select>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="label"> Banco </label>
                                            <label class="select">
                                                <select name="Banco" id="ddlBanco" disabled="disabled">
                                                    <option value="0" selected="" disabled="">[Seleccione]</option>                                                    
                                                </select>
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label"> Forma Abono </label>
                                            <label class="select">
                                                <select name="FormaAbono" id="ddlFormaAbono">
                                                    <option value="0" selected="" disabled="">[Seleccione]</option>                                                    
                                                </select>
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label"> Destino </label>
                                            <label class="select">
                                                <select name="Destino" id="ddlDestino">
                                                    <option value="0" selected="" disabled="">[Seleccione]</option>                                                    
                                                </select>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="label"> TASA </label>
                                            <label class="input">
                                                <input type="text" id="TxtTasa">
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label"> Forma Pago </label>
                                            <label class="select">
                                                <select name="FormaPago" id="ddlFormaPago">
                                                    <option value="0" selected="" disabled="">[Seleccione]</option>                                                    
                                                </select>
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label"> Plazo </label>
                                            <label class="input">
                                                <input type="text" id="TxtPlazo">
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="label"> Producto </label>
                                            <label class="select">
                                                <select name="ddlProducto" id="ddlProducto">
                                                    <option value="0" selected="" disabled="">[Seleccione]</option>                                                    
                                                </select>
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label"> CIIU </label>
                                            <label class="select">
                                                <select name="ddlCIIU" id="ddlCIIU" >
                                                    <option value="0" selected="" disabled="">[Seleccione]</option>                                                    
                                                </select>
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label"> Cultivo </label>
                                            <label class="select">
                                                <select name="ddlCultivo" id="ddlCultivo">
                                                    <option value="0" selected="" disabled="">[Seleccione]</option>                                                    
                                                </select>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <div class="row">
                                        <section class="col col-2"></section>
                                        <section class="col col-3">
                                            <h5>Seguro Desgravamen :</h5>
                                        </section>
                                        <section class="col col-5">
                                            <label class="select">
                                                <select name="ddlSeguroDesgravamen" id="ddlSeguroDesgravamen">
                                                    <option value="0" selected="" disabled="">[Seleccione]</option>                                                    
                                                </select>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-2"></section>
                                        <section class="col col-3">
                                            <h5>Seguro Agr&iacute;cola :</h5>
                                        </section>
                                        <section class="col col-5">
                                            <label class="select">
                                                <select name="ddlSeguroAgricola" id="ddlSeguroAgricola">
                                                    <option value="0" selected="" disabled=""> [Seleccione] </option>                                                    
                                                </select>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->


            </article>
            <!-- END COL -->
        </div>

        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2> Relación de Agrupamientos </h2>
                    </header>
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <table id="datatable_Integrantes" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <td style="width:6%"></td>
                                        <th class="hasinput" style="width:10%">
                                            <input type="text" class="form-control" placeholder="Filtrar Tipo Doc." />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filtrar Nro Doc." />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filtrar Nombre" />
                                        </th>                                        
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filtrar Celular" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filtrar Monto" />
                                        </th>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Filtrar Nro Unid." />
                                        </th>
                                    </tr>
                                    <tr>
                                        <th data-class="expand"><i class="fa fa-fw fa-gear text-muted hidden-md hidden-sm hidden-xs"></i> Opc</th>
                                        <th data-hide="phone">Tipo Doc</th>
                                        <th data-hide="phone">Num Doc</th>
                                        <th>Nombre</th>                                        
                                        <th data-hide="phone, tablet">Celular</th>
                                        <th>Monto</th>
                                        <th>Nro Unidades</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>

                        </div>
                        <!-- end widget content -->
                    </div>
                </div>
                
            </article>
            <!-- WIDGET END -->

        </div>

    </section>

</div>
<div>
    <input type="hidden" name="hidCodAgrupamiento" id="hidCodAgrupamiento" value="@ViewBag.CodAgrupamiento" />
</div>

@section pagespecific {
    <script src="@Url.Content("~/Scripts/app/Grupo/DetalleGrupo.js")"></script>

    <script type="text/javascript">


    </script>
}