﻿			<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-pencil-square-o"></i>
                Integrantes
                <span>
                    >
                    Editar
                </span>
            </h1>
        </div>
        @*<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <!-- Button trigger modal -->
                <a data-toggle="modal" href="#myModal" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-circle-arrow-up fa-lg"></i> Launch form modal</a>
            </div>*@
    </div>

    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-Integrante" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Datos de Integrante </h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">

                            <div class="tabs">
                                <ul class="nav nav-tabs tabs-left">
                                    <li class="active">
                                        <a href="#tab1" data-toggle="tab">Info. Cliente <span class="badge bg-color-blue txt-color-white">12</span></a>
                                    </li>
                                    <li>
                                        <a href="#tab2" data-toggle="tab">Info. Solicitud <span class="badge bg-color-blueDark txt-color-white">3</span></a>
                                    </li>
                                    <li>
                                        <a href="#tab3" data-toggle="tab">Info. Garant&iacute;as <span class="badge bg-color-greenLight txt-color-white">3</span></a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab1">
                                        <form id="form-Titular" class="smart-form" novalidate="novalidate">
                                            <fieldset>
                                                <h4><strong>Datos Titular</strong></h4>
                                                <hr class="simple" />
                                                <div class="row">
                                                    <section class="col col-3">
                                                        <label class="label">Tipo Documento</label>
                                                        <label class="select">
                                                            <select id="ddlTipDoc" name="ddlTipDoc">
                                                                <option value="0" selected="" disabled="">[tipo documento]</option>
                                                                <option value="DNI">DNI</option>
                                                                <option value="RUC">RUC</option>                                                                
                                                            </select> <i></i>
                                                        </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="label">N&uacute;mero Documento</label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-user"></i>
                                                            <input type="text" id="TxtNumDoc" name="TxtNumDoc" placeholder="Numero Documento">
                                                            <b class="tooltip tooltip-bottom-right">Numero Documento</b>
                                                        </label>
                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-3">
                                                        <label class="label">Primer Nombre</label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-user"></i>
                                                            <input type="text" id="TxtPrimerNombre" name="TxtPrimerNombre" placeholder="Primer Nombre">
                                                            <b class="tooltip tooltip-bottom-right">Primer Nombre</b>
                                                        </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="label">Segundo Nombre</label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-user"></i>
                                                            <input type="text" id="TxtSegundoNombre" name="TxtSegundoNombre" placeholder="Segundo Nombre">
                                                            <b class="tooltip tooltip-bottom-right">Segundo Nombre</b>
                                                        </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="label">Apellido Paterno</label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-user"></i>
                                                            <input type="text" id="TxtApPaterno" name="TxtApPaterno" placeholder="Apellido Paterno">
                                                            <b class="tooltip tooltip-bottom-right">Apellido Paterno</b>
                                                        </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="label">Apellido Materno</label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-user"></i>
                                                            <input type="text" id="TxtApMaterno" name="TxtApMaterno" placeholder="Apellido Materno">
                                                            <b class="tooltip tooltip-bottom-right">Apellido Materno</b>
                                                        </label>
                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-3">
                                                        <label class="label">Sexo</label>
                                                        <label class="select">
                                                            <select id="ddlSexo" name="ddlSexo">
                                                                <option value="0" selected="" disabled="">[Sexo]</option>
                                                                <option value="M">Masculino</option>
                                                                <option value="F">Femenino</option>                                                                
                                                            </select> <i></i>
                                                        </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="label">Estado Civil</label>
                                                        <label class="select">
                                                            <select id="ddlEstadoCivil" name="ddlEstadoCivil">
                                                                <option value="0" selected="" disabled="">[Estad Civil]</option>
                                                                <option value="1">Soltero</option>
                                                                <option value="2">Casado</option>
                                                                <option value="3">Divorciado</option>
                                                                <option value="4">Viudo</option>
                                                                <option value="5">Cohabitando</option>
                                                            </select> <i></i>
                                                        </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="label">N&uacute;mero Celular</label>
                                                        <label class="input">
                                                            <i class="icon-prepend fa fa-phone"></i>
                                                            <input type="tel" id="TxtCelular" name="TxtCelular" placeholder="Numero Celular" data-mask="999999999">
                                                            <b class="tooltip tooltip-bottom-right">N&uacute;mero Celular</b>
                                                        </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="label">Experiencia</label>
                                                        <label class="input">
                                                            <input type="text" id="TxtExperiencia" name="TxtExperiencia" placeholder="Experiencia">
                                                            <b class="tooltip tooltip-bottom-right">Experiencia (Años)</b>
                                                        </label>
                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-3">
                                                        <label class="label">Fecha Nacimiento</label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-calendar"></i>
                                                            <input type="text" id="TxtFecha" name="TxtFecha" placeholder="Fecha Nacimiento" class="datepicker" data-mask="99/99/9999" data-dateformat='dd/mm/yy'>
                                                        </label>
                                                    </section>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <h4><strong>Datos Conyugue</strong></h4>
                                                <hr class="simple" />
                                                <div class="row">
                                                    <section class="col col-3">
                                                        <label class="label">Tipo Documento</label>
                                                        <label class="select">
                                                            <select id="ddlTipoDocCony" name="ddlTipoDocCony">
                                                                <option value="0" selected="" disabled="">[tipo documento]</option>
                                                                <option value="DNI">DNI</option>
                                                                <option value="RUC">RUC</option>                                                                
                                                            </select> <i></i>
                                                        </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="label">N&uacute;mero Documento</label>
                                                        <label class="input">
                                                            <i class="icon-append fa fa-user"></i>
                                                            <input type="text" id="TxtNumDocCony" name="TxtNumDocCony" placeholder="Numero Documento" >
                                                            <b class="tooltip tooltip-bottom-right">Numero Documento</b>
                                                        </label>
                                                    </section>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                    <div class="tab-pane" id="tab2">
                                        <form id="form-Solicitud" class="smart-form" novalidate="novalidate">
                                            <fieldset>
                                                <h4><strong>Datos Predio</strong></h4>
                                                <hr class="simple" />
                                                <div class="row">
                                                    <section class="col col-3">
                                                        <label class="label">Departamento</label>
                                                        <label class="select">
                                                            <select id="ddlDepartamento" name="ddlDepartamento">
                                                                <option value="0" selected="selected" disabled="disabled">[Seleccione Departamento]</option>
                                                            </select> <i></i>
                                                        </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="label">Provincia</label>
                                                        <label class="select">
                                                            <select id="ddlProvincia" name="ddlProvincia">
                                                                <option value="0" selected="selected" disabled="disabled">[Seleccione Provincia]</option>
                                                            </select> <i></i>
                                                        </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="label">Distrito</label>
                                                        <label class="select">
                                                            <select id="ddlDistrito" name="ddlDistrito">
                                                                <option value="0" selected="selected" disabled="disabled">[Seleccione Distrito]</option>
                                                            </select> <i></i>
                                                        </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="label">Referencia</label>
                                                        <label class="input">
                                                            @*<i class="icon-append fa fa-user"></i>*@
                                                            <input type="text" id="TxtReferencia" name="TxtReferencia" placeholder="Referencia">
                                                            <b class="tooltip tooltip-bottom-right">Referecia</b>
                                                        </label>
                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-3">
                                                        <label class="label">R&eacute;gimen Tenencia</label>
                                                        <label class="select">
                                                            <select id="ddlTenencia" name="ddlTenencia">
                                                                <option value="0" selected="selected" disabled="disabled">[Seleccione]</option>
                                                                <option value="CAAP">Arriendo + Areas Propias</option>
                                                                <option value="CA1V">Arriendo</option>
                                                                <option value="CCOM">Comunero</option>
                                                                <option value="CTPR">Con t&iacute;tulo por Registrar</option>
                                                                <option value="CTYR">Con t&iacute;tulo ya Registrado</option>
                                                                <option value="CPOS">Posesionario</option>
                                                            </select> <i></i>
                                                        </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="label">Unidad Catastral</label>
                                                        <label class="input">
                                                            <input type="text" id="TxtUnidadCatastral" name="ddlUnidadCatastral">                                                                
                                                        </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="label">Estado Campo</label>
                                                        <label class="select">
                                                            <select id="ddlEstadoCampo" name="ddlEstadoCampo">
                                                                <option value="0" selected="selected" disabled="disabled">[Seleccione]</option>
                                                                <option value="1">Sembrado</option>
                                                                <option value="2">Otro Cultivo</option>
                                                                <option value="3">En Preparaci&oacute;n</option>
                                                                <option value="4">Regado</option>
                                                            </select> <i></i>
                                                        </label>
                                                    </section>
                                                </div>
                                            </fieldset>

                                            <fieldset>
                                                <h4><strong>Datos Solicitud</strong></h4>
                                                <hr class="simple" />
                                                <div class="row">
                                                    <section class="col col-3">
                                                        <label class="label">Tipo Unidad Financiamiento</label>
                                                        <label class="select">
                                                            <select id="ddlFinanciamiento" name="ddlFinanciamiento">
                                                                <option value="0" selected="selected" disabled="disabled">[Seleccione]</option>
                                                                <option value="CG">CABEZA DE GANADO</option>
                                                                <option value="HAS">HECTAREAS</option>
                                                            </select> <i></i>
                                                        </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="label">Nro Unidades Totales</label>
                                                        <label class="input">
                                                            <input type="text" id="TxtUnidTotales" name="TxtUnidTotales" placeholder="" data-mask="99">
                                                            <b class="tooltip tooltip-bottom-right">Referecia</b>
                                                        </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="label">Nro Unidades Financiadas</label>
                                                        <label class="input">
                                                            <input type="text" id="TxtUnidFinanciadas" name="TxtUnidFinanciadas" placeholder="" data-mask="99">
                                                            <b class="tooltip tooltip-bottom-right">Referecia</b>
                                                        </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="label">Monto Solicitado</label>
                                                        <label class="input">
                                                            <input type="text" id="TxtMontoSolictado" name="TxtMontoSolictado" placeholder="">
                                                            <b class="tooltip tooltip-bottom-right">Referecia</b>
                                                        </label>
                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-3">
                                                        <label class="label">Env&iacute;o Cronograma</label>
                                                        <label class="select">
                                                            <select id="ddlEnvioCronograma" name="ddlEnvioCronograma">
                                                                <option value="X" selected="selected" disabled="disabled">[Seleccione]</option>
                                                                <option value="0">No desea</option>
                                                                <option value="1">Enviar por Correo</option>
                                                                <option value="2">Enviar Impreso</option>
                                                            </select> <i></i>
                                                        </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="label">Correo</label>
                                                        <label class="input">
                                                            <input type="text" id="TxtCorreo" name="TxtCorreo" placeholder="Correo">
                                                            <b class="tooltip tooltip-bottom-right">Correo</b>
                                                        </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="label">¿Qu&eacute; hacer Adelanto?</label>
                                                        <label class="select">
                                                            <select id="ddlAdelanto" name="ddlAdelanto">
                                                                <option value="0" selected="selected" disabled="disabled">[Seleccione]</option>
                                                                <option value="1">Reducir Monto Cuotas</option>
                                                                <option value="2">Reducir Nro Cuotas</option>
                                                                <option value="3">Consultar v&iacute;a Web</option>
                                                            </select> <i></i>
                                                        </label>
                                                    </section>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                    <div class="tab-pane" id="tab3">
                                        <form id="form-Garantias" class="smart-form" novalidate="novalidate">
                                            <fieldset>
                                                <h4><strong>Garant&iacute;a 1</strong></h4>
                                                <hr class="simple" />
                                                <div class="row">
                                                    <section class="col col-3">
                                                        <label class="label">Tipo Garant&iacute;</label>
                                                        <label class="select">
                                                            <select id="ddlTipoGarantia1" name="ddlTipoGarantia1">
                                                                <option value="0" selected="selected" disabled="disabled">[Seleccione]</option>
                                                                
                                                            </select> <i></i>
                                                        </label>
                                                    </section>
                                                    <section class="col col-6">
                                                        <label class="label">Descripci&oacute;n Garant&iacute;a</label>
                                                        <label class="input">
                                                            <input type="text" id="TxtDesGarantia1" name="TxtDesGarantia1" placeholder="">
                                                            <b class="tooltip tooltip-bottom-right">Descripci&oacute;n</b>
                                                        </label>
                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-3">
                                                        <label class="label">Valor Realizaci&oacute;n</label>
                                                        <label class="input">
                                                            @*<i class="icon-append fa fa-user"></i>*@
                                                            <input type="text" id="TxtValorRealizacion1" name="TxtValorRealizacion1" placeholder="" data-mask="99">
                                                            <b class="tooltip tooltip-bottom-right">Valor Realizaci&oacute;n</b>
                                                        </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="label">P&oacute;liza</label>
                                                        <label class="select">
                                                            <select id="ddlPoliza1" name="ddlPoliza1">
                                                                <option value="0" selected="selected" disabled="disabled">[Seleccione]</option>
                                                            </select> <i></i>
                                                        </label>
                                                    </section>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <h4><strong>Garant&iacute;a 2</strong></h4>
                                                <hr class="simple" />
                                                <div class="row">
                                                    <section class="col col-3">
                                                        <label class="label">Tipo Garant&iacute;</label>
                                                        <label class="select">
                                                            <select id="ddlTipoGarantia2" name="ddlTipoGarantia2">
                                                                <option value="0" selected="selected" disabled="disabled">[Seleccione]</option>
                                                            </select> <i></i>
                                                        </label>
                                                    </section>
                                                    <section class="col col-6">
                                                        <label class="label">Descripci&oacute;n Garant&iacute;a</label>
                                                        <label class="input">
                                                            <input type="text" id="TxtDesGarantia2" name="TxtDesGarantia2" placeholder="">
                                                            <b class="tooltip tooltip-bottom-right">Descripci&oacute;n Garant&iacute;a</b>
                                                        </label>
                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-3">
                                                        <label class="label">Valor Realizaci&oacute;n</label>
                                                        <label class="input">
                                                            @*<i class="icon-append fa fa-user"></i>*@
                                                            <input type="text" id="TxtValorRealizacion2" name="TxtValorRealizacion2" placeholder="" data-mask="99">
                                                            <b class="tooltip tooltip-bottom-right">Referecia</b>
                                                        </label>
                                                    </section>
                                                    <section class="col col-3">
                                                        <label class="label">P&oacute;liza</label>                                                        
                                                            @*<select id="ddlPoliza2" name="ddlPoliza2">
                                                                <option value="0" selected="selected" disabled="disabled">[Seleccione]</option>                                                                
                                                            </select> <i></i>*@
                                                            <div class="inline-group">
                                                                <label class="radio">
                                                                    <input type="radio" id="rdbPolizaSi" name="rdnPoliza" checked="checked">
                                                                    <i></i>Sí
                                                                </label>
                                                                <label class="radio">
                                                                    <input type="radio" id="rdbPolizaNo" name="radio-inline">
                                                                    <i></i>No
                                                                </label>                                                                
                                                            </div>                                                        
                                                    </section>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>
            <!-- END COL -->
        </div>
        <!-- END ROW -->
    </section>
    <!-- end widget grid -->
    
</div>
<div>
    <input type="hidden" name="hidnrosolicitud" id="hidnrosolicitud" value="@ViewBag.hidnrosolicitud" />
    <input type="hidden" name="hidCodAgrupamiento" id="hidCodAgrupamiento" value="@ViewBag.CodAgrupamiento" />
    <input type="hidden" name="hidIdIntegrante" id="hidIdIntegrante" value="@ViewBag.IdIntegrante" />
</div>
<!-- END MAIN CONTENT -->
@section pagespecific {
    <script src="@Url.Content("~/Scripts/app/Grupo/DetalleIntegrante.js")"></script>

    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!


    </script>
}



