﻿
@{
    ViewBag.Title = "NuevoGrupo";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-edit fa-fw "></i>
                Grupo
                <span>
                    >
                    Nuevo
                </span>
            </h1>
        </div>
    </div>
    @*<div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <h1 class="semi-bold"> Creación de Nuevo Grupo </h1>
                    <p>
                        Complete los datos obligatorios
                    </p>
                    <p>
                            You can explore some of the <a href="form-templates.html" title="Go to Bootstrap Forms">layouts</a> made using Smart Forms grid system or if you are not comfortable with this grid system you can simply stick to the default <a href="bootstrap-forms.html" title="Go to Bootstrap Forms">Bootstrap forms</a>
                        </p>
                </div>

            </div>
        </div>*@
    <!-- widget grid -->
    <div id="divNuevoGrupo">
        <section id="widget-grid" class="">
            <!-- START ROW -->
            <div class="row">
                <!-- NEW COL START -->
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">
                        <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                        -->
                        <header>
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                            <h2>Datos de Grupo </h2>
                        </header>
                        <!-- widget div-->
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->

                            <div class="widget-body">
                                <div class="row">
                                    <form id="wizard-1" novalidate="novalidate">
                                        <div id="bootstrap-wizard-1" class="col-sm-12">
                                            <div class="row">
                                                <div class="col-sm-2">
                                                </div>
                                                <div class="form-bootstrapWizard col-sm-10">
                                                    <ul class="bootstrapWizard form-wizard">
                                                        <li class="active" data-target="#step1">
                                                            <a href="#tab1" data-toggle="tab"> <span class="step">1</span> <span class="title">Datos Organizaci&oacute;n</span> </a>
                                                        </li>
                                                        <li data-target="#step2">
                                                            <a href="#tab2" data-toggle="tab"> <span class="step">2</span> <span class="title">Datos Desembolso</span> </a>
                                                        </li>
                                                        @*<li data-target="#step3">
                                                                <a href="#tab3" data-toggle="tab"> <span class="step">3</span> <span class="title">Datos Producto</span> </a>
                                                            </li>*@
                                                        <li data-target="#step4">
                                                            <a href="#tab4" data-toggle="tab"> <span class="step">3</span> <span class="title">Integrantes</span> </a>
                                                        </li>

                                                    </ul>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>

                                            <div class="tab-content">

                                                <div class="tab-pane active" id="tab1">
                                                    <br>
                                                    <h3><strong>Paso 1 </strong> - Datos Organizaci&oacute;n de Productores</h3>

                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label> Nombre Grupo </label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"><i class="fa fa-group fa-lg fa-fw"></i></span>
                                                                    <input class="form-control input-lg" placeholder="Nombre Grupo" type="text" name="TxtNombreJunta" style="text-transform:uppercase;" maxlength="120" id="TxtNombreJunta">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-sm-7">
                                                            <div class="form-group">
                                                                <label> Organizaci&oacute;n de Productores </label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"><i class="fa fa-institution fa-lg"></i></span>
                                                                    <input class="form-control input-lg" type="text" list="listOrganizaciones" id="ddlJuntaRegante" name="ddlJuntaRegante" placeholder="Nombre Organización" required>
                                                                </div>
                                                            </div>
                                                            <input type="hidden" name="hidCodigOrganizacion" id="hidCodigOrganizacion" value="" />
                                                        </div>
                                                        <datalist id="listOrganizaciones"></datalist>
                                                        <div class="col-sm-5">
                                                            <div class="form-group">
                                                                <label> Comisi&oacute;n </label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"></span>
                                                                    <select id="ddlComisionRegante" name="ddlComisionRegante" class="form-control input-lg">
                                                                        <option value="0" selected="selected" disabled="disabled">[Seleccione Comision]</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">

                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label> Sector </label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"></span>
                                                                    <select id="ddlSector" name="ddlSector" class="form-control input-lg sector-Programa">
                                                                        <option value="" selected="selected" disabled="disabled">[Sector]</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label> Programa </label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"></span>
                                                                    <select id="ddlPrograma" name="ddlPrograma" class="form-control input-lg sector-Programa">
                                                                        <option value="" selected="selected" disabled="disabled">[Programa]</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-5">
                                                            <div class="form-group">
                                                                <label> Producto </label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"></span>
                                                                    <input class="form-control input-lg" type="text" list="listProd" id="TxtProducto" name="TxtProducto" placeholder="Producto" required>
                                                                    <datalist id="listProd"></datalist>
                                                                </div>
                                                            </div>
                                                            <input type="hidden" name="hidCodigoProducto" id="hidCodigoProducto" value="" />
                                                        </div>


                                                    </div>

                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label> Pago Asist. T&eacute;cnico </label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"></span>
                                                                    <select id="ddlPagoAT" name="ddlPagoAT" class="form-control input-lg">
                                                                        <option value="" selected="selected" disabled="disabled">[Selected]</option>
                                                                        <option value="1">SI</option>
                                                                        <option value="0">NO</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <label> Tipo Documento </label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"></span>
                                                                    <select id="ddlAsistTipoDoc" name="ddlAsistTipoDoc" class="form-control input-lg">
                                                                        @*<option value="" selected="selected" disabled="disabled">[Tipo Doc.]</option>*@
                                                                        <option value="DNI" selected="selected">DNI</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <label> Número de Documento </label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"></span>
                                                                    <input class="form-control input-lg" placeholder="Número Documento" type="text" name="TxtAsistNumDoc" maxlength="11" id="TxtAsistNumDoc">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-5">
                                                            <div class="form-group">
                                                                <label> Nombre Asistente T&eacute;cnico </label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"></span>
                                                                    <input class="form-control input-lg" placeholder="Asistente Técnico" type="text" name="TxtAsistNombre" maxlength="50" style="text-transform:uppercase;" id="TxtAsistNombre">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="tab-pane" id="tab2">
                                                    <br>
                                                    <h3><strong>Paso 2</strong> - Informaci&oacute;n Desembolso</h3>

                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label> Entidad Bancaria </label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">@*<i class="fa fa-bank fa-lg fa-fw"></i>*@</span>
                                                                    <select id="ddlBanco" name="ddlBanco" class="form-control input-lg" disabled="disabled">
                                                                        <option value="" selected="selected" disabled="disabled">[Banco]</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label> Forma de Abono </label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">@*<i class="fa fa-map-marker fa-lg fa-fw"></i>*@</span>
                                                                    <select id="ddlFormaAbono" class="form-control input-lg" name="ddlFormaAbono" disabled="disabled">
                                                                        <option value="" selected="selected" disabled="disabled">[Forma Abono]</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label> Destino </label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">@*<i class="fa fa-flag fa-lg fa-fw"></i>*@</span>
                                                                    <select id="ddlDestino" name="ddlDestino" class="form-control input-lg" disabled="disabled">
                                                                        <option value="" selected="selected" disabled="disabled">[Destino]</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label> TASA (%)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"></span>

                                                                    @*<input class="form-control input-lg" type="number" step="0.01" min="20" max="25" name="TxtTasa" id="TxtTasa" maxlength="5" value="20"
                                                                           oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                                                           placeholder="0.00" required>*@

                                                                    <select id="TxtTasa" name="TxtTasa" class="form-control input-lg" required>
                                                                        <option value="" disabled="disabled">[Tasa]</option>
                                                                    </select>

                                                                </div>
                                                            </div>
                                                        </div>



                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label> Seguro Desgravamen </label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">@*<i class="fa fa-flag fa-lg fa-fw"></i>*@</span>
                                                                    <select id="ddlSegDesgravamen" name="ddlSegDesgravamen" class="form-control input-lg" disabled="disabled">
                                                                        <option value="" selected="selected" disabled="disabled">[Seguro Desgravamen]</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            @*<div class="form-group">
                                                                <label> Forma Pago </label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"></span>
                                                                    <select id="ddlFormaPago" class="form-control input-lg" name="ddlFormaPago" disabled="disabled">
                                                                        <option value="" selected="selected" disabled="disabled">[Forma Pago]</option>
                                                                    </select>
                                                                </div>
                                                            </div>*@
                                                        </div>
                                                    </div>



                                                </div>

                                                <div class="tab-pane" id="tab4">
                                                    <br>
                                                    <h3><strong>Paso 3</strong> - Adjuntar Relación de Integrantes</h3>
                                                    <br>


                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                        </div>
                                                        <div class="col-sm-8">
                                                            <div class="form-group">
                                                                <div class="smart-form">
                                                                    <label class="label">Adjunte Archivo excel</label>
                                                                    <label for="file" class="input input-file">
                                                                        <div class="button">
                                                                            <input type="file" name="file" id="fileExcel" onchange="this.parentNode.nextSibling.value = this.value"
                                                                                   accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">Abrir Informe
                                                                        </div><input id="fileExcelText" type="text" placeholder="Cargar Archivo Excel" readonly="">
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <br /><br />
                                                    <center>
                                                        <a id="btnCrearGrupo" class="btn btn-default btn-lg"><i class="fa fa-folder-o"></i> Crear Grupo</a>
                                                    </center>
                                                    <br />


                                                    <!-- lista validacion -->
                                                    <div class="row">
                                                        <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-deletebutton="false">
                                                            <header>
                                                                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                                                <h2>Validaciones</h2>
                                                            </header>

                                                            <div class="row">
                                                                
                                                                    <!-- widget edit box -->
                                                                    <div class="jarviswidget-editbox">
                                                                        <!-- This area used as dropdown edit box -->
                                                                    </div>
                                                                    <!-- end widget edit box -->
                                                                    <!-- widget content -->
                                                                    <div class="widget-body no-padding">
                                                                        <table id="datatable_tableErrors" class="table table-striped table-bordered table-hover" width="100%">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th data-class="expand">Fila</th>
                                                                                    <th data-class="expand">Columna</th>
                                                                                    <th data-class="expand">Valor Observado</th>
                                                                                    <th data-class="expand">Mensaje</th>

                                                                                </tr>
                                                                            </thead>
                                                                            <tbody></tbody>
                                                                        </table>
                                                                    </div>
                                                                    <!-- end widget content -->
                                                              
                                                            </div>

                                                        </div>

                                                    </div>
                                                </div>


                                            </div>
                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <ul class="pager wizard no-margin">

                                                            @*<li class="previous first disabled">
                                                                    <a href="javascript:void(0);" class="btn btn-lg btn-default"> First </a>
                                                                </li>*@

                                                            <li class="previous disabled">
                                                                <a href="javascript:void(0);" class="btn btn-default btn-lg"> Previous </a>
                                                            </li>
                                                            <!--<li class="next last">
                                                                <a href="javascript:void(0);" class="btn btn-lg btn-primary"> Last </a>
                                                            </li>-->
                                                            <li class="next">
                                                                <a href="javascript:void(0);" class="btn btn-default btn-lg"> Next </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>

                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </article>
            </div>
            <!-- end widget -->
            <!-- END COL -->
        </section>
    </div>

    <div id="divResultados" class="row" hidden="hidden">
        <div class="row">
            <h1 class="text-center text-success"><strong><i class="fa fa-check fa-lg"></i> Operaci&oacute;n Completada </strong></h1>
            <br />
        </div>
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
            <div class="well">
                <table id="datatable_Resultado" class="table table-forum">
                    <thead>
                        <tr>
                            <th colspan="2"> <p class="color-green">Resultados</p></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center" style="width: 40px;"><i class="fa fa-tags fa-2x text-muted"></i></td>
                            <td>
                                <h4>
                                    <a id="aNombreGrupo"></a>
                                    <small>Código y Nombre del Grupo</small>
                                </h4>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" style="width: 40px;"><i class="fa fa-group fa-2x text-muted"></i></td>
                            <td>
                                <h4>
                                    <a id="aTotalRegistros"></a>
                                    <small>Total de Integrantes</small>
                                </h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        @*<div class="col-sm-8">
                <div class="well">
                    <div class="row">
                        <div class="col-sm-4">
                            <h6>TOTAL CALIFICACIONES SBS</h6>
                        </div>
                        <div class="row col-sm-8">
                            <span class="badge" style="background-color:#4cff00">1</span> NORMAL &nbsp &nbsp
                            <span class="badge" style="background-color:#b6ff00">2</span> CON PROBLEMAS POTENCIALES &nbsp &nbsp
                            <span class="badge" style="background-color:#ffd800">3</span> DEFICIENTE &nbsp &nbsp <br /><br />
                            <span class="badge" style="background-color:#ff6a00">4</span> DUDOSO &nbsp &nbsp
                            <span class="badge" style="background-color:#ff0000">5</span> P&Eacute;RDIDA &nbsp &nbsp
                            <span class="badge" style="background-color:#808080">6</span> SIN HISTORIAL CREDITICIO &nbsp &nbsp
                        </div>
                    </div>

                    <div class="widget-body no-padding">
                        <div id="bar-chart-h" class="chart"></div>
                    </div>
                </div>

            </div>*@
    </div>

</div>

@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->

    @*<script src="@Url.Content("~/Scripts/app/Grupo/NuevoGrupo.js")"></script>*@

    @Scripts.Render("~/scripts/NuevoAgrupamiento")

    <script type="text/javascript">
        /* chart colors default */
        var $chrt_border_color = "#efefef";

        $(document).ready(function () {

            pageSetUp();
            //Bootstrap Wizard Validations
            ListarJuntaRegantes();

            var $validator = $("#wizard-1").validate({

                rules: {
                    TxtNombreJunta: {
                        required: true
                    },
                    ddlJuntaRegante: {
                        required: true
                    },
                    ddlComisionRegante: {
                        required: true
                    },
                    
                    TxtAsistNombre: {
                        required: true
                    },
                    ddlAsistTipoDoc: {
                        required: true
                    },
                    TxtAsistNumDoc: {
                        required: true,
                        digits: true,
                        minlength: 8,
                        maxlength: 8
                    },
                    ddlDestino: {
                        required: true
                    },
                    ddlSegDesgravamen: {
                        required: true
                    },
                    ddlCultivo: {
                        required: true
                    },
                    TxtTasa: {
                        required: true
                    }
                },

                messages: {
                    TxtNombreJunta: "Por favor Ingresar Nombre Grupo",
                    ddlJuntaRegante: "Seleccione Organización de Productores",
                    ddlComisionRegante: "Ingrese Comision Organización de Productor válida",
                    TxtAsistNombre: "Ingrese Nombre Asistente Válido",
                    ddlAsistTipoDoc: "Seleccione Tipo Documento",
                    TxtAsistNumDoc: {
                        required: "Es necesario ingresar número documento",
                        digits: "Por favor, ingrese solo números",
                        minlength: "Número DNI debe contener 8 números",
                        maxlength: "Número DNI debe contener 8 números"
                    },
                    ddlDestino: "Seleccione Destino",
                    ddlCIIU: "Seleccione CIIU",
                    ddlCultivo: "Seleccione un Cultivo",
                    email: {
                        required: "We need your email address to contact you",
                        email: "Your email address must be in the format of name@domain.com"
                    },
                    TxtTasa: {
                        required: "Favor ingrese una tasa válida",
                        max: "Tasa máxima es del 25%",
                        min: "Tasa mínima es del 20%"
                    },
                    ddlSegDesgravamen: {
                        required: "Favor seleccione una Compañía de Seguros"
                    }
                },

                highlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                },
                errorElement: 'span',
                errorClass: 'help-block',
                errorPlacement: function (error, element) {
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

            $('#bootstrap-wizard-1').bootstrapWizard({
                'tabClass': 'form-wizard',
                'onNext': function (tab, navigation, index) {
                    var $valid = $("#wizard-1").valid();
                    if (!$valid) {
                        $validator.focusInvalid();
                        return false;
                    } else {
                        $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).addClass(
                            'complete');
                        $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).find('.step')
                            .html('<i class="fa fa-check"></i>');
                    }
                }
            });

            $("#spinner-decimal").spinner({
                step: 0.01,
                numberFormat: "n"
            });

        })

        $("#prueba").click(function () {
            alert($("#TxtTasa").val());
        })

    </script>
}