﻿

<div id="content">
    <section id="widget-grid" class="">

        <!-- row RELACION DE AGRUPAMIENTOS -->
        <div class="row" id="div-RelacionAgrupamientos">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-Buscar" data-widget-editbutton="false" data-widget-deletebutton="false">

                    <header role="heading">
                        <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                        <h2> Par&aacute;metos de B&uacute;squeda </h2>
                    </header>
                    <!-- widget div-->
                    <div class="row">
                        <div class="widget-body">
                            <div class="smart-form">
                                <div id="div-errors"></div>
                                <form id="frm-Busqueda">
                                    <fieldset>
                                        <div class="row">
                                            <section class="col col-4">
                                                <label class="label">Agencia</label>
                                                <label class="select">
                                                    <select id="cboAgencia" name="cboAgencia">
                                                        <option value="0" selected="" disabled=""> [Seleccione] </option>
                                                    </select>
                                                    <i></i>
                                                </label>
                                            </section>
                                            <section class="col col-4">
                                                <label class="label">Analista</label>
                                                <label class="select">
                                                    <select id="cboFuncionario" name="cboFuncionario">
                                                        <option value="0" selected=""> [Seleccione] </option>
                                                    </select>
                                                    <i></i>
                                                </label>
                                            </section>


                                            <section class="col col-4"></section>

                                        </div>

                                    </fieldset>
                                    <footer>
                                        @*<button type="button" class="btn btn-default" id="btnLimpiar">
                                                <i class="fa fa-eraser"></i> Limpiar
                                            </button>*@
                                        <button type="button" class="btn btn-default" id="btnBuscar">
                                            <i class="fa fa-search"></i> Buscar
                                        </button>
                                    </footer>
                                </form>

                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>


                <ul id="myTab3" class="nav nav-tabs tabs-pull-right bordered">
                    <li class="active">
                        <a href="#Solicitudes" data-toggle="tab">Solicitudes</a>
                    </li>
                    <li class="pull-right">
                        <a href="#PorAprobar" data-toggle="tab">Solicitudes por aprobar</a>
                    </li>
                </ul>
                <div id="myTabContent3" class="tab-content">
                    <div class="tab-pane fade in active" id="Solicitudes">
                        <table id="datatable_Solicitudes" class="table table-striped table-bordered table-hover" width="100%">
                            <thead>
                                <tr>
                                    <th data-hide="phone">N&uacute;mero Solicitud</th>
                                    <th>N&uacute;mero DNI</th>
                                    <th data-hide="phone">Nombre Cliente</th>
                                    <th>Monto Soles</th>
                                    <th data-hide="phone">Resultado Filtro</th>
                                    <th data-hide="phone">Tipo Cuota</th>
                                    <th data-hide="phone">Geo Ref</th>
                                    <th data-hide="phone">Inf Vis</th>
                                    <th data-hide="phone">F. Caja</th>
                                    <th data-hide="phone">Inf Com</th>
                                    <th data-hide="phone">Prop</th>
                                    <th data-hide="phone">Estado</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                    <div class="tab-pane fade" id="PorAprobar">

                        <table id="datatable_RevisionSolicitudes" class="table table-striped table-bordered table-hover" width="100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>N&uacute;mero Solicitud</th>
                                    <th>N&uacute;mero DNI</th>
                                    <th data-hide="phone">Nombre Cliente</th>
                                    <th>Producto</th>
                                    <th>Moneda</th>
                                    <th>Monto Solicitado</th>
                                    <th>Sustento</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>


                    </div>
                </div>



                <br />
            </article>
            <!-- WIDGET END -->
        </div>


    </section>

    <div class="modal fade" id="myModal-AprobExcepcion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h3 class="modal-title" id="myModalLabel">Aprobaci&oacute;n por Excepci&oacute;n</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group">
                                <label for="tags"> Nombre Cliente</label>
                                <input type="text" class="form-control" id="modal-txtCliente" disabled placeholder="Nombre" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="category"> Respuesta: </label>
                                <select class="form-control" id="modal-Respuesta">
                                    <option value="" selected="selected" disabled>[Seleccione]</option>
                                    <option value="7">Aprobar</option>
                                    <option value="2">Rechazar</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="tags"> Observacion: </label>
                                <textarea class="form-control form-file" id="modal-txtObservacion" placeholder="Observacion" rows="3" required></textarea>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="modal-hidNroSolicitud" id="modal-hidNroSolicitud" value="" />
                    <input type="hidden" name="modal-hidNroDocumento" id="modal-hidNroDocumento" value="" />
                </div>
                <div class="modal-footer">
                    <button id="BtnCancelarAprobacion" type="button" class="btn btn-default" data-dismiss="modal">
                        Cancel
                    </button>
                    <button type="button" class="btn btn-success" id="modal-BtnAprobar">
                        <i class="fa fa-send-o"></i> Enviar
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!-- TIPO CRONOGRAMA -->
    <div class="modal fade" id="myModal-TipoCronograma" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <span>Cliente: </span><h5 class="modal-title" id="ModalTC-NomCliente"></h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form id="frmTipoCuota" class="smart-form">
                            <div>
                                <section class="col col-6">
                                    <label class="label"> Tipo Cronograma </label>
                                    <label class="select">
                                        <select class="" id="ModalTC-TipoCuota" name="ModalTC-TipoCuota">
                                            <option value="" selected="selected" disabled>[Seleccione]</option>
                                            <option value="1">Al Vencimiento</option>
                                            <option value="3">Cuota Fija</option>
                                            <option value="9">Cuota Variable</option>
                                        </select>

                                    </label>
                                </section>

                                <section class="col col-3">
                                    <label class="label"> N° Cuotas </label>
                                    <label class="select">
                                        <select class="plazo" id="ModalTC-NumeroCuotas" name="ModalTC-NumeroCuotas">
                                            <option value="" selected="selected" disabled>[Seleccione]</option>
                                            <option value="1">01</option>
                                            <option value="4">02</option>
                                            <option value="3">03</option>
                                            <option value="4">04</option>
                                            <option value="5">05</option>
                                        </select>
                                    </label>
                                </section>
                            </div>

                        </form>
                    </div>

                    <div class="row" id="ModalTC-div-CuotasFijas">
                        <form id="frmCuotaFija" class="smart-form">
                            <fieldset>
                                <div>
                                    <section class="col col-6">
                                        <label class="label"> Unidad de Frecuencia </label>
                                        <label class="select">
                                            <select class="lectura" id="ModalTC-UnidadFrecuencia" name="ModalTC-UnidadFrecuencia">
                                                @*<option value="" selected="selected" disabled>[Seleccione]</option>*@
                                                @*<option value="D">DIA</option>*@
                                                <option value="M" selected="selected">MES</option>
                                                @*<option value="Y">AÑO</option>*@
                                            </select>
                                        </label>
                                    </section>
                                    <section class="col col-4">
                                        <label class="label">Frecuencia Pago</label>
                                        <label class="input has-warning">
                                            <input type="number" class="form-control lectura plazo" id="ModalTC-FrecuenciaPago" min="1" step="1" pattern="^[1-9]\d*$">
                                        </label>
                                    </section>
                                    <input type="hidden" name="ModalTC-hidMaxPlazo" id="ModalTC-hidMaxPlazo" value="" result="true" />
                                </div>
                            </fieldset>
                            <fieldset>
                                <div>
                                    <section class="col col-6">
                                        <label class="label">Periodo de Gracia</label>
                                        <label class="input has-warning">
                                            <i class="icon-append fa fa-calendar"></i>
                                            <input type="text" id="ModalTC-FechaGracia" name="ModalTC-FechaGracia" placeholder="" class="datepicker lectura form-group" data-dateformat='dd/mm/yy' result="false" required>
                                        </label>
                                    </section>
                                    <section class="col col-4" id="Sec-DiasGracia">
                                        <label class="label">D&iacute;as de Gracia</label>
                                        <label class="input has-warning">
                                            <input type="number" class="form-control form-group lectura" id="ModalTC-DiasGracia" min="1" readonly>
                                        </label>
                                    </section>
                                    <input type="hidden" name="ModalTC-hidMaxDiasGracia" id="ModalTC-hidMaxDiasGracia" value="" result="false" />
                                </div>

                            </fieldset>
                        </form>
                    </div>

                    <div class="row" id="ModalTC-div-CuotasVariables">
                        <form id="frmCuotas" class="smart-form">
                            <header>
                                Registro Cuotas Variables
                            </header>
                            <fieldset id="RegistroCuotas"></fieldset>
                        </form>
                    </div>

                    <div class="alert alert-info fade in div-ValidacionPlazo" hidden="hidden">
                        <i class="fa-fw fa fa-warning"></i>
                        <strong>Atenci&oacute;n </strong> <p id="p-ValidacionPlazo"> El plazo de la solicitud no coincide con el plazo del cronograma, Verifique... </p>
                    </div>

                    <input type="hidden" name="ModalTC-hidNroSolicitud" id="ModalTC-hidNroSolicitud" value="" />
                    <input type="hidden" name="ModalTC-hidNroDocumento" id="ModalTC-hidNroDocumento" value="" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="BtnCancelarTipoCronograma">
                        <i class=""></i> Cancelar
                    </button>
                    <button type="button" class="btn btn-primary" id="BtnGuardarTipoCronograma">
                        <i class="fa fa-save"></i> Guardar
                    </button>
                </div>

            </div>
        </div>
    </div>
    <!-- /.modals -->
</div>

<div>
    <input type="hidden" name="hidCodAgencia" id="hidCodAgencia" value="@ViewBag.CodigoAgencia" />
    <input type="hidden" name="hidCodFuncionario" id="hidCodFuncionario" value="@ViewBag.CodigoFuncionario" />
    <input type="hidden" name="hidCodAgrupamiento" id="hidCodAgrupamiento" value="" />
    <input type="hidden" name="hidCodIntegrante" id="hidCodIntegrante" value="" />
</div>

@section pagespecific {

    @Scripts.Render("~/scripts/RevisionSolicitudes")
}


