.material-icons.mgrey { color: grey; }
.material-icons.mred { color: red; }
.material-icons.myellow { color: yellow; }
.material-icons.mgreen { color: green; }
.material-icons.mblue { color: blue; }
td , th {
    white-space: normal;
    word-wrap: break-word;
    max-width: 50px;
}