<app-loading *ngIf="loader"></app-loading>
<div class="section no-padding">
    <div class="row     col s12 no-mar-bot">
        <div class="section no-mar-bot">
            <div class="col s12 m12 l12">
                <h1 class="title">Consulta de visitas</h1>
            </div>
        </div>
    </div>
</div>

<div class="card-panel row layout-card-gray-2">
    <div class="row">
        <div class="col s12 m12 l12">
            <span>Buscar por:</span>
        </div>
    </div>

    <div class="row no-mar-bot">
        <form novalidate [formGroup]="busquedaFiltro">

            <div class="col s12 m6 l3">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="agencia">Agencia</label>
                    <select name="agencia" id="select_agencia" formControlName="codigoagencia" (change)="agenciaSeleccionada($event.target)">
                        <option [ngValue]="0">Todos</option>
                        <option *ngFor="let agencia of agencias" [ngValue]="agencia.codigo">{{agencia.oficina}}</option>
                    </select>
                </div>


                <div class="input-field input-field-common col s12">
                    <label class="label active" for="estadoinforme">Estado del informe</label>
                    <select name="estadoinforme" id="select_estadoinforme" formControlName="estadoinforme">
                        <option [ngValue]="0">Todos</option>
                        <option *ngFor="let estadoinf of estadoinformes" [ngValue]="estadoinf.codigoInterno">
                            {{estadoinf.nombreParametro}}</option>
                    </select>
                </div>

                <div class="input-field input-field-common col s12">
                    <a class="a-link" style="cursor: pointer;" (click)="Exportar()">
                        <span>Exportar EXCEL</span>
                    </a>
                </div>
            </div>

            <div class="col s12 m6 l3">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="tipovisita">Tipo de visita</label>
                    <select name="tipovisita" id="select_tipovisita" formControlName="tipovisita">
                        <option [ngValue]="0">Todos</option>
                        <option *ngFor="let tipovisita of tipovisitas" [ngValue]="tipovisita.codigoInterno">
                            {{tipovisita.nombreParametro}}</option>
                    </select>
                </div>
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="tipovisita">Vinculado</label>
                    <div class="row">
                        <p>
                            <label>
                                <input formControlName="vinculado" type="radio" value="1" />
                                <span>Sí</span>
                            </label>&nbsp;&nbsp;
                            <label>
                                <input formControlName="vinculado" type="radio" value="0" />
                                <span>No</span>
                            </label>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l3">
                <div class="input-field input-field-common col s12">
                    <label class="label active" for="funcionario">Funcionario</label>
                    <select name="funcionario" id="select_funcionario" formControlName="codigofuncionario">
                        <option ngValue="TODOS">Todos</option>
                        <option *ngFor="let funcionario of funcionarios" [ngValue]="funcionario.usuario">{{funcionario.nombre}}
                        </option>
                    </select>
                </div>

            </div>

            <div class="col s2 m6 l2 offset-s7">
                <button class="btn waves-effect waves-light btn-default-resize" (click)="buscarListaVisitas()"
                    style="margin-top:23px;">
                    <span>Buscar</span>
                    <i class="material-icons">search</i>
                </button>
            </div>
        </form>
    </div>


</div>

<div class="card-panel row layout-card-gray-2">
    <div class="row" id="tecnicos-grid">
        <!-- ******** inicio paginación ************ -->
        <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
        <!-- ******** fin paginación ************ -->

        <table mat-table [dataSource]="listaVisita">
            <ng-container matColumnDef="codigoSolicitudCredito">
                <th mat-header-cell *matHeaderCellDef> Solicitud </th>
                <td mat-cell *matCellDef="let element"> {{element.codigoSolicitudCredito}} </td>
            </ng-container>
            <ng-container matColumnDef="numdocumentocliente">
                <th mat-header-cell *matHeaderCellDef> DNI </th>
                <td mat-cell *matCellDef="let element"> {{ element.eAsignacion.eCliente.numdocumento }}</td>
            </ng-container>
            <ng-container matColumnDef="cultivo">
                <th mat-header-cell *matHeaderCellDef> Cultivo </th>
                <td mat-cell *matCellDef="let element"> {{ element.cultivo | titlecase}} </td>
            </ng-container>
            <ng-container matColumnDef="clientenombres">
                <th mat-header-cell *matHeaderCellDef> Nombres </th>
                <td mat-cell *matCellDef="let element"> {{element.eAsignacion.eCliente.primerNombre | titlecase}}
                    {{element.eAsignacion.eCliente.segundoNombre | titlecase}} {{element.eAsignacion.eCliente.apellidoPaterno | titlecase}}
                    {{element.eAsignacion.eCliente.apellidoMaterno | titlecase}} </td>
            </ng-container>
            <ng-container matColumnDef="visitador">
                <th mat-header-cell *matHeaderCellDef> Visitador / Funcionario</th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element.eAsignacion.eProfesionalTecnico.primerNombre?.length !== 0">{{element.eAsignacion.eProfesionalTecnico.primerNombre | titlecase}}
                        {{element.eAsignacion.eProfesionalTecnico.segundoNombre | titlecase}}
                        {{element.eAsignacion.eProfesionalTecnico.apellidoPaterno | titlecase}}
                        {{element.eAsignacion.eProfesionalTecnico.apellidoMaterno | titlecase}}
                        <br>
                        / {{ element.nombreFuncionario | titlecase}}</div>
                    <div *ngIf="element.eAsignacion.eProfesionalTecnico.primerNombre?.length === 0">
                        {{ element.nombreFuncionario | titlecase}}
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="tipovisita">
                <th mat-header-cell *matHeaderCellDef> Tipo visita </th>
                <td mat-cell *matCellDef="let element"> {{ element.tipoVisita | tipoVisita }} </td>
            </ng-container>
            <ng-container matColumnDef="fechaasignacion">
                <th mat-header-cell *matHeaderCellDef> F. Asignación </th>
                <td mat-cell *matCellDef="let element"> {{ element.fechaRegistro | date: 'dd/MM/yyyy' }} 
                </td>
            </ng-container>
            <ng-container matColumnDef="fechavisita">
                <th mat-header-cell *matHeaderCellDef> F. Visita </th>
                <td mat-cell *matCellDef="let element"> {{ element.eAsignacion.fechaRegistro | date: 'dd/MM/yyyy' }}</td>
            </ng-container>
            <ng-container matColumnDef="estadovisita">
                <th mat-header-cell *matHeaderCellDef> Estado Visita</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.codigo>0?'SI':'NO' }}
                </td>
            </ng-container>
            <ng-container matColumnDef="estadoinforme">
                <th mat-header-cell *matHeaderCellDef> Estado Informe </th>
                <td mat-cell *matCellDef="let element">
                 <!-- <i class="material-icons mgrey" *ngIf="element.estado == 1" 
                    matTooltip="Pendiente">stop_circle</i>
                    <i class="material-icons mgreen" *ngIf="element.estado == 2" 
                    matTooltip="Aprobado">stop_circle</i>
                    <i class="material-icons mred" *ngIf="element.estado == 3" 
                    matTooltip="Rechazado">stop_circle</i>-->
                    <i class="material-icons myellow" *ngIf="element.estado == 1" 
                    matTooltip="Pendiente">stop_circle</i>
                    <i class="material-icons mgrey" *ngIf="element.estado == 2" 
                    matTooltip="Aprobado">stop_circle</i>
                    <i class="material-icons mred" *ngIf="element.estado == 3" 
                    matTooltip="Rechazado">stop_circle</i>
                </td>
            </ng-container>
            <ng-container matColumnDef="revisar">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element" >
                    <div *ngIf="element.eAsignacion.estao == 1">
                    <i class="material-icons mgreen" style="cursor: pointer;" name="action" *ngIf="element.codigo > 0"
                        (click)="openModalAprobar(element.codigo, element.eAsignacion.eProfesionalTecnico.primerNombre, element.eAsignacion.eProfesionalTecnico.segundoNombre, element.eAsignacion.eProfesionalTecnico.apellidoPaterno, element.eAsignacion.eProfesionalTecnico.apellidoMaterno) " matTooltip="Aprobar">check</i>
                    <i class="material-icons mred" style="cursor: pointer;" name="action" *ngIf="element.codigo <= 0"
                        (click)="mostrarAnulacionDialogo(element.codigoAsignacion)" matTooltip="Anular">delete</i>
                    <i class="material-icons mblue" style="cursor: pointer;" name="action" *ngIf="element.codigo <= 0"
                        (click)="openModalReasignacion(element.codigoProfesionalTecnico, element.codigoAsignacion)" matTooltip="Reasignar">repeat</i>
                    </div> </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <div class="row">
        <div class="col l3 m6 s12 offset-l5">
            <button class="btn waves-effect waves-light btn-default-resize" (click)="openModalCargarCliente()"
                style="margin-top:23px;">
                <span>Cargar nuevo cliente</span>
                <i class="material-icons">arrow_drop_up</i>
            </button>
        </div>
        <div class="col l4 m6 s12">
            <button class="btn waves-effect waves-light btn-default-resize" (click)="openModalReasignacionProfesionales()"
                style="margin-top:23px;">
                <span>Reasignación de profesionales técnicos</span>
                <i class="material-icons">repeat</i>
            </button>
        </div>
    </div>

</div>

<app-msg-error></app-msg-error>
<app-msg-success [descripcion1]="msjUpdateSuccess"></app-msg-success>
<app-reasignacion [event$]="codigoProfesional" [codigoVisita]="codigoVisita" [ArrProfesionalesTecnicos]="listaProfesionales"></app-reasignacion>
<app-reasignacion-masiva [profesionalesEvent]="profesionalesEvent"></app-reasignacion-masiva>
<app-dialog-confirm (confirmEvent)="confirmAction($event)" [content]="msgAnularAsignacion"></app-dialog-confirm>